flows.json
[
    {
        "id": "e0c6f6b6.0d5c68",
        "type": "tab",
        "label": "MainControl",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cae895a0.8ab828",
        "type": "tab",
        "label": "Update Node DB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f95c6e59.5c919",
        "type": "tab",
        "label": "Configuration",
        "disabled": false,
        "info": ""
    },
    {
        "id": "58ae81fe.fc8ae",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4d987d79.a89374",
        "type": "tab",
        "label": "System"
    },
    {
        "id": "32688592.0a19aa",
        "type": "tab",
        "label": "New Stuff",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b2d96b1.0f3be98",
        "type": "tab",
        "label": "Recording",
        "disabled": true,
        "info": ""
    },
    {
        "id": "8cd87867.ca9708",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "f1eb4a23.a88e58",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "6bf64492.b29f0c",
        "type": "ui_group",
        "z": "",
        "name": "Commands",
        "tab": "5b605797.172848",
        "order": 2,
        "disp": true,
        "width": "3",
        "collapse": true
    },
    {
        "id": "ae257199.19c84",
        "type": "ui_group",
        "z": "",
        "name": "Node Inputs",
        "tab": "5b605797.172848",
        "order": 4,
        "disp": true,
        "width": "3",
        "collapse": true
    },
    {
        "id": "e87b0972.cfcab8",
        "type": "ui_group",
        "z": "",
        "name": "Misc",
        "tab": "9adba5f3.d78bb8",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "9cf22ad5.af9e78",
        "type": "ui_group",
        "z": "",
        "name": "Node/Pin States",
        "tab": "5b605797.172848",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "45bddcde.4b1494",
        "type": "ui_group",
        "z": "",
        "name": "Node State",
        "tab": "5b605797.172848",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "5b605797.172848",
        "type": "ui_tab",
        "z": "",
        "name": "Main",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "dda3f99e.58a6e8",
        "type": "ui_group",
        "z": "",
        "name": "CPU Load",
        "tab": "6ccd2dc7.996d04",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7ab43c03.1413b4",
        "type": "ui_group",
        "z": "",
        "name": "Memory",
        "tab": "6ccd2dc7.996d04",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bb4dabb4.be7b28",
        "type": "ui_group",
        "z": "",
        "name": "System Information",
        "tab": "6ccd2dc7.996d04",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6ccd2dc7.996d04",
        "type": "ui_tab",
        "z": "",
        "name": "System",
        "icon": "dashboard",
        "order": 7
    },
    {
        "id": "fa17f0fb.e881e",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "edited": false,
                "reset": false
            },
            "customTheme": {
                "name": "techdogs",
                "default": "#4B7930",
                "baseColor": "#7aa2f3",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#89bbfe",
                    "value": "#7aa2f3",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#7aa2f3",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#82624b",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#9d9d9d",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#676767",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#4e4e4e",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#7aa2f3",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#4f4f4f",
                    "edited": true
                },
                "base-font": {
                    "value": "Century Gothic,CenturyGothic,AppleGothic,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b5372e87.bef79",
        "type": "ui_group",
        "z": "",
        "name": "Select Node",
        "tab": "3a8dcbb7.653aa4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3a8dcbb7.653aa4",
        "type": "ui_tab",
        "z": "",
        "name": "Message Node",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "9adba5f3.d78bb8",
        "type": "ui_tab",
        "z": "",
        "name": "Miscellaneous",
        "icon": "dashboard",
        "order": 6
    },
    {
        "id": "8f789c15.e1ead",
        "type": "ui_tab",
        "z": "",
        "name": "Record",
        "icon": "dashboard",
        "order": 5
    },
    {
        "id": "e9b37a71.d109a8",
        "type": "ui_group",
        "z": "",
        "name": "Heap",
        "tab": "8f789c15.e1ead",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a8bd550f.68f708",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "8f789c15.e1ead",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f095d7f0.6182d8",
        "type": "ui_tab",
        "z": "",
        "name": "Configure Node",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "857ece11.192e7",
        "type": "ui_group",
        "z": "",
        "name": "K9 NodeID Selection",
        "tab": "f095d7f0.6182d8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "52975e20.0f289",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/dbs/iot.db"
    },
    {
        "id": "a4bd0da.b2f13f",
        "type": "mqtt-broker",
        "z": "",
        "name": "hoppellodge.com",
        "broker": "hoppellodge.com",
        "port": "2812",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "409910e3.3cf0d",
        "type": "ui_tab",
        "z": "",
        "name": "Review",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "da741b7c.fa4ed8",
        "type": "ui_group",
        "z": "",
        "name": "Review Node",
        "tab": "409910e3.3cf0d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "57b700a8.c08e8",
        "type": "ui_group",
        "z": "",
        "name": "Node State",
        "tab": "409910e3.3cf0d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5fec812e.210f3",
        "type": "ui_group",
        "z": "",
        "name": "Node/Pins State",
        "tab": "409910e3.3cf0d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f78522d2.3c171",
        "type": "ui_group",
        "z": "",
        "name": "Node Outputs",
        "tab": "5b605797.172848",
        "order": 3,
        "disp": true,
        "width": "3",
        "collapse": true
    },
    {
        "id": "689116a6.ccd8d8",
        "type": "ui_group",
        "z": "",
        "name": "active NodeId",
        "tab": "5b605797.172848",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "c47d7f0.070078",
        "type": "ui_group",
        "z": "",
        "name": "fileOp",
        "tab": "f095d7f0.6182d8",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "a14dfcff.d0a7e",
        "type": "ui_group",
        "z": "",
        "name": "File Payload",
        "tab": "f095d7f0.6182d8",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "4ab95fd9.f813f",
        "type": "mongodb",
        "z": "",
        "hostname": "192.168.111.250",
        "port": "27017",
        "db": "ricksTest",
        "name": ""
    },
    {
        "id": "110362ba.b083ad",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/cmd",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 1353,
        "y": 460,
        "wires": []
    },
    {
        "id": "73e5bf1a.699bc",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "cmd",
        "topic": "/HL/+/cmd",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 1046,
        "y": 460,
        "wires": [
            [
                "5fff5a16.735b14"
            ]
        ]
    },
    {
        "id": "31a41c25.f05fc4",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "tmpr",
        "topic": "/HL/+/tmpr",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 1046,
        "y": 509,
        "wires": [
            [
                "4780d4de.b920dc"
            ]
        ]
    },
    {
        "id": "30c0bffc.5bd3e",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "ipins",
        "topic": "/HL/+/ipins",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 1046,
        "y": 670,
        "wires": [
            [
                "3f259d9a.c8b952"
            ]
        ]
    },
    {
        "id": "3e07935a.b2c24c",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/ipins",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1405,
        "y": 690,
        "wires": []
    },
    {
        "id": "26ffb29f.5d0e0e",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "configuration",
        "topic": "/HL/+/",
        "qos": "0",
        "broker": "a4bd0da.b2f13f",
        "x": 1061,
        "y": 409,
        "wires": [
            [
                "5a825574.df760c"
            ]
        ]
    },
    {
        "id": "5eba9624.a43be8",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "register",
        "topic": "/HL/register",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 1046,
        "y": 312,
        "wires": [
            [
                "a22ffc04.3a8fc"
            ]
        ]
    },
    {
        "id": "cd71d81d.323c18",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "HL/register",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1475,
        "y": 270,
        "wires": []
    },
    {
        "id": "65df9d69.066e64",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "pins",
        "topic": "/HL/+/pins",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 1046,
        "y": 610,
        "wires": [
            [
                "55a1a6e5.69e4e8",
                "1ee66b73.7e71c5"
            ]
        ]
    },
    {
        "id": "8883614a.cae1e",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "heap",
        "topic": "/HL/+/heap",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 1046,
        "y": 560,
        "wires": [
            [
                "f7337e04.bdec2"
            ]
        ]
    },
    {
        "id": "fe86d77d.496198",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "Debug Toggle",
        "group": "6bf64492.b29f0c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Debug Toggle",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"DEBUG\"}",
        "payloadType": "json",
        "topic": "",
        "x": 765,
        "y": 830,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "5a825574.df760c",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "configuration JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1256,
        "y": 409,
        "wires": [
            [
                "386b73c3.aaf41c",
                "f2eff67f.c44e58",
                "29c0742d.f060cc"
            ]
        ]
    },
    {
        "id": "5fff5a16.735b14",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "pretty": false,
        "x": 1186,
        "y": 460,
        "wires": [
            [
                "110362ba.b083ad"
            ]
        ]
    },
    {
        "id": "55a1a6e5.69e4e8",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "pins",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1180.1000518798828,
        "y": 609.7999029159546,
        "wires": [
            [
                "1bee4215.6b942e",
                "b7f58d69.ed362"
            ]
        ]
    },
    {
        "id": "4780d4de.b920dc",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "tmpr",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1180,
        "y": 509,
        "wires": [
            [
                "c87b2075.fa3c6",
                "3fafb9ad.589dc6"
            ]
        ]
    },
    {
        "id": "3f259d9a.c8b952",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "ipins",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1179,
        "y": 670,
        "wires": [
            [
                "3e07935a.b2c24c",
                "f64d4470.ea3fe8",
                "c87b2075.fa3c6",
                "214d38cf.c23d18"
            ]
        ]
    },
    {
        "id": "f7337e04.bdec2",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "heap",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1179,
        "y": 560,
        "wires": [
            [
                "c87b2075.fa3c6",
                "2aee8df5.7cf7c2"
            ]
        ]
    },
    {
        "id": "d25f9b73.c3e698",
        "type": "ui_gauge",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "group": "ae257199.19c84",
        "order": 8,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "55",
        "max": "100",
        "colors": [
            "#3f35f7",
            "#1fd610",
            "#ca3838"
        ],
        "seg1": "65",
        "seg2": "72",
        "x": 1785,
        "y": 470,
        "wires": []
    },
    {
        "id": "67adc343.0da6fc",
        "type": "ui_gauge",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "group": "ae257199.19c84",
        "order": 11,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Heap Memory",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "15000",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#29ee13"
        ],
        "seg1": "6500",
        "seg2": "12500",
        "x": 2005,
        "y": 530,
        "wires": []
    },
    {
        "id": "2fd4a0c2.c12e4",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "reset",
        "group": "6bf64492.b29f0c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"reset\"}",
        "payloadType": "str",
        "topic": "",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "b9b3f548.4fa638",
                "e311861f.9a3638"
            ]
        ]
    },
    {
        "id": "8783d77a.950728",
        "type": "ui_slider",
        "z": "e0c6f6b6.0d5c68",
        "name": "t_cal",
        "label": "",
        "group": "ae257199.19c84",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "t_cal",
        "min": "-5",
        "max": "5",
        "step": 1,
        "x": 635,
        "y": 210,
        "wires": [
            [
                "10e1ebad.66a734",
                "87ea87f6.0a7c28"
            ]
        ]
    },
    {
        "id": "73f2ffba.d1f35",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "D4",
        "label": "{{msg.topic}}",
        "group": "f78522d2.3c171",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"4\":1}}",
        "onvalueType": "json",
        "onicon": "check_box_outline_blank",
        "oncolor": "#050505",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"4\":0}} ",
        "offvalueType": "json",
        "officon": "check_box",
        "offcolor": "#2d20db",
        "x": 795,
        "y": 470,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "2f7e62f.197529e",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "D0",
        "label": "{{msg.topic}}",
        "group": "f78522d2.3c171",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"0\":1}}",
        "onvalueType": "json",
        "onicon": "fa-check-square",
        "oncolor": "#48f442",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"0\":0}}",
        "offvalueType": "json",
        "officon": "fa-square-o ",
        "offcolor": "#f44256",
        "x": 801.0000839233398,
        "y": 373.00016593933105,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "e52685df.54b1f8",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "IO Screen Toggle",
        "group": "6bf64492.b29f0c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "IO Screen Toggle",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"scrn_io\"}",
        "payloadType": "json",
        "topic": "/HL/Dm_078a87/cmd",
        "x": 755,
        "y": 800,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "de5d2a13.8c1de8",
        "type": "inject",
        "z": "e0c6f6b6.0d5c68",
        "name": "boot",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 270,
        "y": 170,
        "wires": [
            [
                "e311861f.9a3638"
            ]
        ]
    },
    {
        "id": "122ddd45.68b293",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "D7",
        "label": "{{msg.topic}}",
        "group": "f78522d2.3c171",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"7\":1}}",
        "onvalueType": "json",
        "onicon": "fa-check-square",
        "oncolor": "#48f442",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"7\":0}}",
        "offvalueType": "json",
        "officon": "fa-square-o ",
        "offcolor": "#f44256 ",
        "x": 791,
        "y": 630,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "b9394b1a.953098",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "D8",
        "label": "{{msg.topic}}",
        "group": "f78522d2.3c171",
        "order": 7,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"8\":1}}",
        "onvalueType": "json",
        "onicon": "fa-check-square",
        "oncolor": " #48f442",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"8\":0}}",
        "offvalueType": "json",
        "officon": "fa-square-o ",
        "offcolor": "#f44256",
        "x": 790,
        "y": 680,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "5a46baa7.256964",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "RESET",
        "links": [
            "9730944a.c93858"
        ],
        "x": 585,
        "y": 170,
        "wires": []
    },
    {
        "id": "a22ffc04.3a8fc",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "Device Registered JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1240,
        "y": 313,
        "wires": [
            [
                "cd71d81d.323c18",
                "a5cbdf95.32add"
            ]
        ]
    },
    {
        "id": "214d38cf.c23d18",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "Split D ipins",
        "func": "var mynode   = msg.topic.split(\"/\") || \"error\";\nmynode = mynode[2]\n\ntopic = null;\n\nnode.status({text:\"node | \" + mynode});\n\nvar msg0 = { payload:msg.payload.ipins[\"0\"] };\nvar msg3 = { payload:msg.payload.ipins[\"3\"] };\nvar msg5 = { payload:msg.payload.ipins[\"5\"] };\nvar msg6 = { payload:msg.payload.ipins[\"6\"] };\nvar msg7 = { payload:msg.payload.ipins[\"7\"] };\nvar msg8 = { payload:msg.payload.ipins[\"8\"] };\n\nreturn [msg0, msg3, msg5, msg6, msg7, msg8];\n",
        "outputs": 6,
        "noerr": 0,
        "x": 1390,
        "y": 1010,
        "wires": [
            [
                "852ce96f.22d158"
            ],
            [
                "729e7ea5.64ed7",
                "5793920d.4a685c"
            ],
            [
                "1fb46fa0.eb6c7",
                "c2d9be1f.c6c34"
            ],
            [
                "d6a5ce23.3bef8",
                "e33aecce.1d764"
            ],
            [
                "c55f87e9.0f9af8"
            ],
            [
                "827e961a.e53b58"
            ]
        ],
        "outputLabels": [
            "0",
            "3",
            "5",
            "6",
            "7",
            "8"
        ]
    },
    {
        "id": "729e7ea5.64ed7",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "p3i",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1640,
        "y": 880,
        "wires": []
    },
    {
        "id": "1fb46fa0.eb6c7",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "p5i",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1640,
        "y": 910,
        "wires": []
    },
    {
        "id": "d6a5ce23.3bef8",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "p6i",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1640,
        "y": 940,
        "wires": []
    },
    {
        "id": "f64d4470.ea3fe8",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "e87b0972.cfcab8",
        "name": "IPINS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"center\">\n<p><b><u>Input Pins & states</u></b></p>\n</div>\n<div layout=\"row\" layout-align=\"center\">\n<p>3 5 6</p>\n</div>\n<div layout=\"row\" layout-align=\"center\">\n<p> \n{{msg.payload.ipins[\"3\"]}} \n{{msg.payload.ipins[\"5\"]}} \n{{msg.payload.ipins[\"6\"]}}  \n</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1766,
        "y": 673,
        "wires": [
            []
        ]
    },
    {
        "id": "26b98fca.50191",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "9cf22ad5.af9e78",
        "name": "Pin Config & Status",
        "order": 2,
        "width": "6",
        "height": "10",
        "format": "<p>[ID]<span style=\"color:LightBlue\"> {{msg.id}}</span> </p>\n<ol start = 0>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"0\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"1\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"2\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"3\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"4\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"5\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"6\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"7\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"8\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"9\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"10\"]}}</span></li>\n</ol>\n<h3>Pin States Legend</h3>\n<a style=\"color:LightBlue;\"  target=\"_blank\" href=\"https://nodemcu.readthedocs.io/en/master/en/modules/gpio/#gpiomode\">gpio docs</a>\n<h4>m (modes)</h4>\n<ol start = 0>\n<li>gpio.INPUT</li> \n<li>gpio.OUTPUT</li> \n<li>gpio.INT</li>\n<li>gpio.OPENDRAIN</li>  \n</ol>\n<h4>r (read state)</h4>\n<ol start = 0>\n<li>LOW</li>\n<li>HIGH</li>\n</ol>\n<h4>w (write state)</h4>\n<ol start = 0>\n<li>LOW</li>\n<li>HIGH</li>\n</ol>\n<h4>pu (pullup)</h4>\n<ol start = 0>\n<li>FLOAT  true</li>\n<li>PULLUP false</li>\n</ol>\n<p>pullup gpio.PULLUP enables the weak pull-up resistor; </p>\n<p>default is gpio.FLOAT</p>\n<h4>t  (trigger type)</h4>\n<ul>\n<li>\"up\"</li> \n<li>\"down\"</li> \n<li>\"both\"</li> \n<li>\"low\"</li> \n<li>\"high\"</li>\n</ul>\n<h4>pwm  (pulse width modulation)</h4>\n<ul>\n<li>ON: \"true\"</li> \n<li>OFF: \"false\"</li> \n</ul>\n<h4>freq (frequency for pwm pin)</h4>\n<ul>\n<li>INT</li>\n<li>pwm frequency (0 - 1000 Hz)</li> \n</ul>\n<h4>duty (duty cycle for pwm pin)</h4>\n<ul>\n<li>INT</li>\n<li>duty cycle (0-1024)</li> \n</ul>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1805,
        "y": 610,
        "wires": [
            []
        ]
    },
    {
        "id": "9730944a.c93858",
        "type": "link in",
        "z": "e0c6f6b6.0d5c68",
        "name": "RESET",
        "links": [
            "5a46baa7.256964"
        ],
        "x": 1490,
        "y": 470,
        "wires": [
            [
                "f64d4470.ea3fe8",
                "26b98fca.50191",
                "67adc343.0da6fc",
                "d25f9b73.c3e698",
                "ade6b40d.463f78"
            ]
        ]
    },
    {
        "id": "386b73c3.aaf41c",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "45bddcde.4b1494",
        "name": "Node Configuration",
        "order": 2,
        "width": "6",
        "height": "10",
        "format": "<p>[ID]<span style=\"color:LightBlue\"> {{msg.payload[0]}}</span> </p>\n<p>D (Device) Object</p>\n<ol>\n<li>adc:     <span style=\"color:LightBlue\"> {{msg.payload[1].adc}}</span></li>\n<li>ap_mac:  <span style=\"color:LightBlue\"> {{msg.payload[1].ap_mac}}</span> </li>\n<li>bootreason_extnd: <span style=\"color:LightBlue\"> {{msg.payload[1].bootreason_extnd}}</span> </li>\n<li>chipid:  <span style=\"color:LightBlue\"> {{msg.payload[1].chipid}}</span></li>\n<li>dbg:     <span style=\"color:LightBlue\"> {{msg.payload[1].dbg}}</span></li>    \n<li>flashid: <span style=\"color:LightBlue\"> {{msg.payload[1].flashid}}  </span></li>\n<li>flashsize:<span style=\"color:LightBlue\"> {{msg.payload[1].flashsize}} </span> </li>\n<li>heap:    <span style=\"color:LightBlue\"> {{msg.payload[1].heap}}</span></li>\n<li>heap_min:<span style=\"color:LightBlue\"> {{msg.payload[1].heap_min}} </span> </li>\n<li>ID: \t <span style=\"color:LightBlue\"> {{msg.payload[1].ID}}</span></li>\n<li>ip: \t <span style=\"color:LightBlue\"> {{msg.payload[1].ip}}</span></li>\n<li>LED: \t <span style=\"color:LightBlue\"> {{msg.payload[1].LED}}</span></li>\n<li>pins: \t <span style=\"color:LightBlue\"> {{msg.payload[1].pins}}</span></li>\n<li>mqtt:    <span style=\"color:LightBlue\"> {{msg.payload[1].mqtt}}</span></li>\n<li>name: \t <span style=\"color:LightBlue\"> {{msg.payload[1].name}}</span></li>\n<li>screen:  <span style=\"color:LightBlue\"> {{msg.payload[1].screen}}</span></li>\n<li>sta_mac: <span style=\"color:LightBlue\"> {{msg.payload[1].sta_mac}}</span></li>\n<li>t_cal:\t <span style=\"color:LightBlue\"> {{msg.payload[1].t_cal}}</span></li>\n<li>tmpr:    <span style=\"color:LightBlue\"> {{msg.payload[1].tmpr}}</span></li>\n<li>type: \t <span style=\"color:LightBlue\"> {{msg.payload[1].type}}</span></li>\n</ol>\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 1805,
        "y": 410,
        "wires": [
            []
        ]
    },
    {
        "id": "640e1376.5a81fc",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "pins status",
        "group": "6bf64492.b29f0c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "pins status",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"pins\"}",
        "payloadType": "json",
        "topic": "",
        "x": 770,
        "y": 740,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "55a3d82f.259e88",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "Remote K9-Node Reset & Re-Initialze State",
        "info": "",
        "x": 380,
        "y": 120,
        "wires": []
    },
    {
        "id": "90ea2cd.30559d",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "To-Do & Status & Info",
        "info": "# _Node-Red_\n## Bugs\n- k9 count in UI is broken\n\n## Context\n- need to Change context for registering devices\n- ~~add Espy-Node Name to Dashboard entries~~\n\n## Configurations & states\n- ~~clean up help in menu~~\n- add PWM & FREQ control for blue LED using slider\n\n# _espy-node_\n- ~~create error node messages~~\n- re-write inputs to process using INT rather than polling\n\n## requested changes\n- ~~send ipins status upon initialization~~\n- ~~send pin intialization command~~\n\n## Commands\n- ~~tcal~~\n- ~~remove heap command (can use device command instead)~~\n\n## Testing\n- ~~pin configuration commands~~\n- ~~create testing subflows for inject nodes~~\n- \n# Github\n- make sure remote storage on GitHub is working\n\n[System information Flow](https://flows.nodered.org/flow/9b9f68f6641a42452e848a37da5df972)\n\n[HTML Cheatsheet](http://www.simplehtmlguide.com/cheatsheet.php)\n\n[NodeMCU GPIO](https://nodemcu.readthedocs.io/en/master/en/modules/gpio/#gpiomode)",
        "x": 1320,
        "y": 60,
        "wires": []
    },
    {
        "id": "c358bee6.9943f",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "created to perform individual actions based on a single pin change",
        "info": "",
        "x": 1620,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ea3b98be.a1d368",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "status & control for 1 k9 node",
        "info": "",
        "x": 1835,
        "y": 370,
        "wires": []
    },
    {
        "id": "545de4cf.d674dc",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "Commands Topic Injection",
        "info": "",
        "x": 770,
        "y": 130,
        "wires": []
    },
    {
        "id": "b59ea8f8.8d27b8",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "make text",
        "func": "if (msg.payload === 1)\nmsg.payload = \"pin 5 went high\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1650,
        "y": 850,
        "wires": [
            []
        ]
    },
    {
        "id": "10e1ebad.66a734",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "t_cal",
        "func": "var t_cal = msg.payload;\nmsg.payload = {\"cmd\":\"t_cal\",\"t_cal\":t_cal}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 795,
        "y": 210,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "bf6876f6.0b9138",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "error",
        "topic": "/HL/+/error",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 1046,
        "y": 360,
        "wires": [
            [
                "ba972b1e.2d9238"
            ]
        ]
    },
    {
        "id": "ba972b1e.2d9238",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "pretty": false,
        "x": 1186,
        "y": 360,
        "wires": [
            [
                "30e51e95.cdb8d2"
            ]
        ]
    },
    {
        "id": "30e51e95.cdb8d2",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]//error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1325,
        "y": 360,
        "wires": []
    },
    {
        "id": "9b09422c.ce3f1",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "Node Status",
        "group": "6bf64492.b29f0c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Node Status",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"device\"}",
        "payloadType": "json",
        "topic": "",
        "x": 770,
        "y": 862,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "4d740e79.976c7",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "MQTT Interface",
        "info": "",
        "x": 1065,
        "y": 180,
        "wires": []
    },
    {
        "id": "ee0875d8.d48bd8",
        "type": "ui_chart",
        "z": "e0c6f6b6.0d5c68",
        "name": "Temperature",
        "group": "a8bd550f.68f708",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1785,
        "y": 510,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "90cba916.f5af68",
        "type": "ui_chart",
        "z": "e0c6f6b6.0d5c68",
        "name": "Heap Memory",
        "group": "e9b37a71.d109a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Heap Memory",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1795,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2cfebb30.8dc224",
        "type": "inject",
        "z": "4d987d79.a89374",
        "name": "update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "5812063c.272748",
                "156e9d07.487973"
            ]
        ]
    },
    {
        "id": "9d7160ba.f455d",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 460,
        "wires": [
            [
                "3c52eeb5.4cf602"
            ]
        ]
    },
    {
        "id": "78ce77ee.011b88",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 500,
        "wires": [
            [
                "561c5ad9.217384"
            ]
        ]
    },
    {
        "id": "eff7ffe9.00293",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 540,
        "wires": [
            [
                "c0f42334.0f946"
            ]
        ]
    },
    {
        "id": "3c52eeb5.4cf602",
        "type": "ui_gauge",
        "z": "4d987d79.a89374",
        "name": "CPU Load 1",
        "group": "dda3f99e.58a6e8",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "1 Minute",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "561c5ad9.217384",
        "type": "ui_gauge",
        "z": "4d987d79.a89374",
        "name": "CPU Load 2",
        "group": "dda3f99e.58a6e8",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "5 Minutes",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "c0f42334.0f946",
        "type": "ui_gauge",
        "z": "4d987d79.a89374",
        "name": "CPU Load 3",
        "group": "dda3f99e.58a6e8",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "15 Minutes",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "e7905903.efacb8",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 680,
        "wires": [
            [
                "12edda16.5d9706"
            ]
        ]
    },
    {
        "id": "12edda16.5d9706",
        "type": "ui_gauge",
        "z": "4d987d79.a89374",
        "name": "Memory Usage",
        "group": "7ab43c03.1413b4",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "1 Minute",
        "label": "Usage",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 740,
        "y": 680,
        "wires": []
    },
    {
        "id": "b3fedcee.d4007",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 720,
        "wires": [
            [
                "2a6d2151.0e742e"
            ]
        ]
    },
    {
        "id": "74949524.0a74bc",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 760,
        "wires": [
            [
                "667c889f.239e68"
            ]
        ]
    },
    {
        "id": "2a6d2151.0e742e",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "7ab43c03.1413b4",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Total Memory",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 720,
        "wires": []
    },
    {
        "id": "667c889f.239e68",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "7ab43c03.1413b4",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Free Memory",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 760,
        "wires": []
    },
    {
        "id": "3a3cc1fe.fd61ae",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 60,
        "wires": [
            [
                "8bfc40ac.367e6"
            ]
        ]
    },
    {
        "id": "8bfc40ac.367e6",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "dda3f99e.58a6e8",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 718,
        "y": 52,
        "wires": []
    },
    {
        "id": "8cf45394.89e6c",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.hostname;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 549,
        "y": 97,
        "wires": [
            [
                "d337a8a9.4c62f8"
            ]
        ]
    },
    {
        "id": "d337a8a9.4c62f8",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Hostname",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 728,
        "y": 92,
        "wires": []
    },
    {
        "id": "7c13573.62a26a8",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.platform;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 551,
        "y": 135,
        "wires": [
            [
                "b6b63efb.62c58"
            ]
        ]
    },
    {
        "id": "b6b63efb.62c58",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Platform",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 718,
        "y": 132,
        "wires": []
    },
    {
        "id": "38a74d11.f31dc2",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.arch;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 552,
        "y": 174,
        "wires": [
            [
                "7bb6713.3891e9"
            ]
        ]
    },
    {
        "id": "7bb6713.3891e9",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Arch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 708,
        "y": 172,
        "wires": []
    },
    {
        "id": "c768de29.203a1",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.release;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 553,
        "y": 210,
        "wires": [
            [
                "cf010ae3.f0fbf8"
            ]
        ]
    },
    {
        "id": "cf010ae3.f0fbf8",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Release",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 718,
        "y": 212,
        "wires": []
    },
    {
        "id": "9104c8fc.7d6668",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.cpus[0].model;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 548,
        "y": 332,
        "wires": [
            [
                "56bb3233.961f2c",
                "92e80370.f935a",
                "42012451.6181ec",
                "5fee975f.694988"
            ]
        ]
    },
    {
        "id": "56bb3233.961f2c",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "CPU 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 708,
        "y": 272,
        "wires": []
    },
    {
        "id": "92e80370.f935a",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "CPU 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 708,
        "y": 312,
        "wires": []
    },
    {
        "id": "42012451.6181ec",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "CPU 3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 708,
        "y": 352,
        "wires": []
    },
    {
        "id": "5fee975f.694988",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "CPU 4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 708,
        "y": 392,
        "wires": []
    },
    {
        "id": "e152d9f0.ae62c8",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 580,
        "wires": [
            [
                "36695f97.73924"
            ]
        ]
    },
    {
        "id": "36695f97.73924",
        "type": "ui_chart",
        "z": "4d987d79.a89374",
        "name": "CPU Load - Historical",
        "group": "dda3f99e.58a6e8",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "24 Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "%H:%M:%S",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderUnit": "86400",
        "x": 760,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "200a8f8c.d6df7",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 640,
        "wires": [
            [
                "7b83154a.38ac2c"
            ]
        ]
    },
    {
        "id": "7b83154a.38ac2c",
        "type": "ui_chart",
        "z": "4d987d79.a89374",
        "name": "Memory - 24 Hours",
        "group": "7ab43c03.1413b4",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "24 Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "%H:%M:%S",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 750,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "36a06252.91e64e",
        "type": "comment",
        "z": "4d987d79.a89374",
        "name": "CPU Load",
        "info": "",
        "x": 320,
        "y": 460,
        "wires": []
    },
    {
        "id": "8ff1306d.4ea7",
        "type": "comment",
        "z": "4d987d79.a89374",
        "name": "Memory Usage",
        "info": "",
        "x": 320,
        "y": 620,
        "wires": []
    },
    {
        "id": "21719bb4.cedd74",
        "type": "comment",
        "z": "4d987d79.a89374",
        "name": "System Information",
        "info": "",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "940cb006.00f3c",
        "type": "OS",
        "z": "4d987d79.a89374",
        "name": "",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "8cf45394.89e6c",
                "7c13573.62a26a8",
                "38a74d11.f31dc2",
                "c768de29.203a1"
            ]
        ]
    },
    {
        "id": "c852e109.d0cbf",
        "type": "Uptime",
        "z": "4d987d79.a89374",
        "name": "",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "3a3cc1fe.fd61ae"
            ]
        ]
    },
    {
        "id": "c0aef0c7.62a75",
        "type": "CPUs",
        "z": "4d987d79.a89374",
        "name": "",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "9104c8fc.7d6668"
            ]
        ]
    },
    {
        "id": "5812063c.272748",
        "type": "Loadavg",
        "z": "4d987d79.a89374",
        "name": "",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "9d7160ba.f455d",
                "78ce77ee.011b88",
                "eff7ffe9.00293",
                "e152d9f0.ae62c8"
            ]
        ]
    },
    {
        "id": "156e9d07.487973",
        "type": "Memory",
        "z": "4d987d79.a89374",
        "name": "",
        "x": 320,
        "y": 660,
        "wires": [
            [
                "e7905903.efacb8",
                "b3fedcee.d4007",
                "74949524.0a74bc",
                "200a8f8c.d6df7"
            ]
        ]
    },
    {
        "id": "2978d59f.28548a",
        "type": "inject",
        "z": "4d987d79.a89374",
        "name": "update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "c852e109.d0cbf",
                "940cb006.00f3c",
                "c0aef0c7.62a75"
            ]
        ]
    },
    {
        "id": "1bee4215.6b942e",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "load pin data",
        "func": "var mynode   = msg.topic.split(\"/\") || \"error\";\nmynode = mynode[2]\n\nnode.status({text:\"node | \" + mynode});\n\nfor (i = 1; i <= 10; i++ ) {\nif (typeof msg.payload.pins[i.toString()]  == 'undefined') {\n        msg.payload.pins[i.toString()] = \"N/A\";\n    }\n}\n\nmsg.id = mynode\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1455,
        "y": 610,
        "wires": [
            [
                "26b98fca.50191",
                "1eb631d4.2ebcbe"
            ]
        ]
    },
    {
        "id": "f4ed4e8a.e7a61",
        "type": "ui_form",
        "z": "e0c6f6b6.0d5c68",
        "name": "Message to Node Screen",
        "label": "Message to Node Screen",
        "group": "b5372e87.bef79",
        "order": 5,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Header",
                "value": "1",
                "type": "text",
                "required": true
            },
            {
                "label": "L1",
                "value": "2",
                "type": "text",
                "required": false
            },
            {
                "label": "L2",
                "value": "3",
                "type": "text",
                "required": false
            },
            {
                "label": "L3",
                "value": "4",
                "type": "text",
                "required": false
            },
            {
                "label": "L4",
                "value": "5",
                "type": "text",
                "required": false
            }
        ],
        "formValue": {
            "1": "",
            "2": "",
            "3": "",
            "4": "",
            "5": ""
        },
        "payload": "",
        "topic": "",
        "x": 625,
        "y": 330,
        "wires": [
            [
                "524d2f66.75d54"
            ]
        ]
    },
    {
        "id": "524d2f66.75d54",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "func": "var mymsg = msg.payload\nmsg.payload = {\"cmd\":\"msg\",\"msg\":mymsg}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 801,
        "y": 329,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "485f86d.8ee0f78",
        "type": "ui_form",
        "z": "e0c6f6b6.0d5c68",
        "name": "rename Node",
        "label": "rename Node",
        "group": "857ece11.192e7",
        "order": 3,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "FriendlyName",
                "value": "name",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "name": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 641,
        "y": 289,
        "wires": [
            [
                "73c9c9ee.73c098"
            ]
        ]
    },
    {
        "id": "73c9c9ee.73c098",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "func": "var myname = msg.payload\nmsg.payload = {\"cmd\":\"name\",\"name\":myname.name}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 801,
        "y": 289,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "f0ad2de8.41418",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "Clear Message",
        "group": "b5372e87.bef79",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Clear Message",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"msg\",\"msg\":\"\"}",
        "payloadType": "json",
        "topic": "",
        "x": 765,
        "y": 770,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "a5cbdf95.32add",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "REGISTER",
        "links": [
            "2e2c0253.a3741e"
        ],
        "x": 1420,
        "y": 313,
        "wires": []
    },
    {
        "id": "984adf6f.84cac",
        "type": "function",
        "z": "cae895a0.8ab828",
        "name": "set reset",
        "func": "msg.reset = true\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 649,
        "y": 189.99999904632568,
        "wires": [
            [
                "70541816.25e608",
                "3a537772.082828"
            ]
        ]
    },
    {
        "id": "c5bdebfb.607f88",
        "type": "inject",
        "z": "cae895a0.8ab828",
        "name": "reset flow db",
        "topic": "rick_admin",
        "payload": "Hello stranger",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.2",
        "x": 527.0000305175781,
        "y": 231.99999523162842,
        "wires": [
            [
                "984adf6f.84cac"
            ]
        ]
    },
    {
        "id": "70541816.25e608",
        "type": "function",
        "z": "cae895a0.8ab828",
        "name": "update global k9-nodes Object",
        "func": "\nvar local    = global.get('k9-nodes') || {};\nvar myname   = msg.payload[0] || \"error\";\nvar myobject = msg.payload[1] || {\"error\":\"not found\"};\n\nif (msg.reset === true) local = {}\n    else {\n        if (typeof local[myname] === \"undefined\" ) local[myname] = {};\n        for (var y in myobject)\n                local[myname][y] = myobject[y]; \n    }\nglobal.set('k9-nodes',local)\n    \n// count number of K9 nodes\nvar count = 0;\nvar list = [];\nvar list_id = \"\";\nvar list_name = \"\";\nvar option = {};\nfor (list_id in local) {\n    ++count;\n    option = {}\n    if (typeof  local[list_id] === 'undefined') list_name = \"blank\";\n    else list_name = local[list_id].name || \"blank\";\n    option[list_name] = list_id;\n    list.push(option);\n}\n    \nglobal.set('k9-nodes-count',count);\nglobal.set('nodeList',list);\n\nsColor = \"red\";\nsFill = 'ring';\nif (count > 0) {\n    sColor = \"green\";sFill = 'dot';\n    }\nnode.status({shape:sFill,fill:sColor,text:\"K9-nodes\" + \" | \" + count});\nmsg.count   = count;\n\n\nmsg.payload = global.get('activeNodeId') || null;\n//msg.payload = \"D1m_d0fbc3\";\nmsg.options = list;\n\nif (typeof name === \"string\") msg.name    = local[myname].name;\nif (typeof id === \"string\") msg.id      = local[myname].id;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 240,
        "wires": [
            [
                "3d685019.2cb53",
                "67317113.3c897",
                "dae7a56b.f6fd28",
                "2c61747a.1a3c0c",
                "73e6e690.5f0418",
                "d4e58902.fe58b8"
            ]
        ]
    },
    {
        "id": "3d685019.2cb53",
        "type": "debug",
        "z": "cae895a0.8ab828",
        "name": "Test flow Object 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "x": 1200,
        "y": 160,
        "wires": []
    },
    {
        "id": "1b0a55fc.3e719a",
        "type": "comment",
        "z": "cae895a0.8ab828",
        "name": "K9-node [global]",
        "info": "",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "2e2c0253.a3741e",
        "type": "link in",
        "z": "cae895a0.8ab828",
        "name": "Register Node State",
        "links": [
            "4ba377b9.595dd8",
            "a5cbdf95.32add",
            "f2eff67f.c44e58"
        ],
        "x": 673.9999866485596,
        "y": 283.0000104904175,
        "wires": [
            [
                "70541816.25e608"
            ]
        ]
    },
    {
        "id": "d1135c0.509fea8",
        "type": "link in",
        "z": "e0c6f6b6.0d5c68",
        "name": "Send \"cmd\" topic",
        "links": [
            "36aab9f5.b6fd06",
            "48c18a00.134cf8",
            "77b89909.4c1b68",
            "360676e2.1fbe2a",
            "69b4786b.2e89a8",
            "5d4eafcd.f20ef",
            "1adc8ca4.4ecc43"
        ],
        "x": 910,
        "y": 120,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "7750862b.343af8",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p0 \"1\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"0\":1}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "405478fa.274548",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p0 \"0\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"0\":0}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230.1001739501953,
        "y": 232.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "19e1e54e.8647cb",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p4 \"1\"",
        "topic": "",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"4\":1}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 229.99999618530273,
        "y": 324.99999141693115,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "4d8da520.4990ac",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p4 \"0\"",
        "topic": "",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"4\":0}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 232.0999984741211,
        "y": 291.99999237060547,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "830217a9.73c848",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p7 \"1\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"7\":1}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 227.99999618530273,
        "y": 388.99999141693115,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "621249a7.622f28",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p7 \"0\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"7\":0}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230.0999984741211,
        "y": 355.99999237060547,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "4cd6e923.776ee8",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "DEBUG toggle",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"DEBUG\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200.1001739501953,
        "y": 65.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "16673873.c3eb58",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "reset",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"reset\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230.1001739501953,
        "y": 98.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "3e7df92c.7137e6",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "heap",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"heap\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230.1001739501953,
        "y": 201.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "e126a378.9c5ae",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_list",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_list\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 229.1001739501953,
        "y": 166.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "15d639a5.84a7e6",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230.1001739501953,
        "y": 131.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "31fbdc03.547cb4",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "device",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"device\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230.1001739501953,
        "y": 492.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "a5fae51d.cb5168",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p8 \"0\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"8\":0}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230.0999984741211,
        "y": 420.99999237060547,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "6920b6db.db2e08",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p8 \"1\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"8\":1}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 227.99999618530273,
        "y": 453.99999141693115,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "73199b58.6966e4",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_config p8 \"1\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": " {\"cmd\":\"pins_config\",\"pins\":{\"8\":{\"m\":3,\"w\":1}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190.1001739501953,
        "y": 552.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "a36ecd44.3483a",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_config p8 \"0\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": " {\"cmd\":\"pins_config\",\"pins\":{\"8\":{\"m\":3,\"w\":0}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190.1001739501953,
        "y": 586.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "32d4f00a.90d73",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_config p8 m=0",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": " {\"cmd\":\"pins_config\",\"pins\":{\"8\":{\"m\":0,\"r\":0}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190.1001739501953,
        "y": 621.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "ffe1e25d.f7bd7",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_config \"no mode\"..error",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": " {\"cmd\":\"pins_config\",\"pins\":{\"8\":{\"r\":0}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 160.1001739501953,
        "y": 655.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "21c99b4c.35b914",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_config p4 control",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_config\",\"pins\":{\"4\":{\"pu\":false,\"duty\":256,\"m\":1,\"pwm\":true,\"w\":1,\"freq\":3}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 180.1001739501953,
        "y": 692.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "d646348d.d37548",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pwm p4 start",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pwm\",\"pin\":4}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 209.1001739501953,
        "y": 725.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "9151c5aa.4000e8",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "Change Name",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"name\",\"name\":\" ThingEE\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 209.1001739501953,
        "y": 761.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "15ed7d8b.fb7b22",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "Send msg",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"msg\",\"msg\":\"MyFirstMsge\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 220.1001739501953,
        "y": 792.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "f96866c9.ea6988",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "Clear msg",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"msg\",\"msg\":\"\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 220.1001739501953,
        "y": 832.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "227b9371.7c24cc",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "Send msg object",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"msg\",\"msg\":{\"1\":\"12345678901\",\"2\":\"23456789012\",\"3\":\"34567890123\",\"4\":\"45678901234\",\"5\":\"56789012345\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 200.1001739501953,
        "y": 872.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "36aab9f5.b6fd06",
        "type": "link out",
        "z": "58ae81fe.fc8ae",
        "name": "Test commands",
        "links": [
            "d1135c0.509fea8"
        ],
        "x": 395.1001739501953,
        "y": 532.0000133514404,
        "wires": []
    },
    {
        "id": "9e9bfcf1.ec0c4",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "pin #",
        "label": "pin #",
        "place": "pin # ???",
        "group": "857ece11.192e7",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "N/A",
                "value": "",
                "type": "str"
            },
            {
                "label": "0",
                "value": "0",
                "type": "str"
            },
            {
                "label": "1",
                "value": "1",
                "type": "str"
            },
            {
                "label": "2",
                "value": "2",
                "type": "str"
            },
            {
                "label": "3",
                "value": "3",
                "type": "str"
            },
            {
                "label": "4",
                "value": "4",
                "type": "str"
            },
            {
                "label": "5",
                "value": "5",
                "type": "str"
            },
            {
                "label": "6",
                "value": "6",
                "type": "str"
            },
            {
                "label": "7",
                "value": "7",
                "type": "str"
            },
            {
                "label": "8",
                "value": "8",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "pin.pin",
        "x": 370,
        "y": 190,
        "wires": [
            [
                "fef53a66.051ce8"
            ]
        ]
    },
    {
        "id": "c725a467.e8c208",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "value",
        "label": "value",
        "place": "LOW/HIGH ???",
        "group": "857ece11.192e7",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "LOW",
                "value": 0,
                "type": "num"
            },
            {
                "label": "HIGH",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "pin.w",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "fef53a66.051ce8"
            ]
        ]
    },
    {
        "id": "3450a6f7.209e5a",
        "type": "link in",
        "z": "e0c6f6b6.0d5c68",
        "name": "reset",
        "links": [],
        "x": 305,
        "y": 210,
        "wires": [
            [
                "e311861f.9a3638"
            ]
        ]
    },
    {
        "id": "1705f151.3ecb8f",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "IO screen toggle",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"scrn_io\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 200,
        "y": 960,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "b730000d.58c6",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_write(?? needs payload)",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 160,
        "y": 920,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "389f3e53.965722",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "mode",
        "label": "mode",
        "place": "INPUT/OUTPUT/INT/OPENDRAIN ???",
        "group": "857ece11.192e7",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "INPUT",
                "value": 0,
                "type": "num"
            },
            {
                "label": "OUTPUT",
                "value": 1,
                "type": "num"
            },
            {
                "label": "INT",
                "value": 2,
                "type": "num"
            },
            {
                "label": "OPENDRAIN",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "pin.m",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "fef53a66.051ce8"
            ]
        ]
    },
    {
        "id": "dfa8ffdb.7cf83",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "pullup",
        "label": "pullup",
        "place": "select pullup? [default  true]",
        "group": "857ece11.192e7",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "float",
                "value": 0,
                "type": "num"
            },
            {
                "label": "pullup",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "pin.pu",
        "x": 370,
        "y": 350,
        "wires": [
            [
                "fef53a66.051ce8"
            ]
        ]
    },
    {
        "id": "259d1ea3.1fa102",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "pwm",
        "label": "pwm",
        "place": "select pwm?",
        "group": "857ece11.192e7",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "N/A",
                "value": "",
                "type": "str"
            },
            {
                "label": "ON",
                "value": true,
                "type": "bool"
            },
            {
                "label": "OFF",
                "value": false,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "pin.pwm",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "fef53a66.051ce8",
                "6f8e3d82.ab3644"
            ]
        ]
    },
    {
        "id": "781ad120.aee6c",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "pwm enable",
        "label": "pwm enable",
        "group": "f78522d2.3c171",
        "order": 12,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "false",
        "topic": "pin.pwm",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-check-square",
        "oncolor": " #48f442",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-square-o ",
        "offcolor": "#f44256",
        "x": 384,
        "y": 1060.0001068115234,
        "wires": [
            [
                "82400b00.6543c8"
            ]
        ]
    },
    {
        "id": "1cc00a71.cfa896",
        "type": "ui_slider",
        "z": "e0c6f6b6.0d5c68",
        "name": "duty cycle",
        "label": "",
        "group": "f78522d2.3c171",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "pin.main_duty",
        "min": "0",
        "max": "1023",
        "step": "1",
        "x": 394,
        "y": 1110.0001068115234,
        "wires": [
            [
                "963c9408.df1e48",
                "72fb8bf2.eae094"
            ]
        ]
    },
    {
        "id": "627b661a.ab0178",
        "type": "ui_slider",
        "z": "e0c6f6b6.0d5c68",
        "name": "frequency",
        "label": "",
        "group": "f78522d2.3c171",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "pin.main_freq",
        "min": "0",
        "max": "1000",
        "step": "1",
        "x": 394,
        "y": 1160.0001068115234,
        "wires": [
            [
                "8061b4fd.4aa5c8",
                "72fb8bf2.eae094"
            ]
        ]
    },
    {
        "id": "87ea87f6.0a7c28",
        "type": "ui_text",
        "z": "e0c6f6b6.0d5c68",
        "group": "ae257199.19c84",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "t_cal display",
        "label": "calibrate.temp",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 815,
        "y": 170,
        "wires": []
    },
    {
        "id": "6102fefa.9d6f8",
        "type": "ui_slider",
        "z": "f95c6e59.5c919",
        "name": "duty cycle",
        "label": "",
        "group": "857ece11.192e7",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "pin.duty",
        "min": "0",
        "max": "1024",
        "step": "1",
        "x": 360,
        "y": 550,
        "wires": [
            [
                "d74285f8.afcf18",
                "6f8e3d82.ab3644",
                "fef53a66.051ce8"
            ]
        ]
    },
    {
        "id": "d49af70e.0ba928",
        "type": "ui_slider",
        "z": "f95c6e59.5c919",
        "name": "frequency",
        "label": "",
        "group": "857ece11.192e7",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "pin.freq",
        "min": "0",
        "max": "1000",
        "step": "1",
        "x": 360,
        "y": 600,
        "wires": [
            [
                "f790b3ed.1ed97",
                "6f8e3d82.ab3644",
                "fef53a66.051ce8"
            ]
        ]
    },
    {
        "id": "f790b3ed.1ed97",
        "type": "ui_text",
        "z": "f95c6e59.5c919",
        "group": "857ece11.192e7",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "frequency display",
        "label": "frequency",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 646,
        "y": 599.0000505447388,
        "wires": []
    },
    {
        "id": "d74285f8.afcf18",
        "type": "ui_text",
        "z": "f95c6e59.5c919",
        "group": "857ece11.192e7",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "duty cycle display",
        "label": "duty cycle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 653,
        "y": 551.0000476837158,
        "wires": []
    },
    {
        "id": "f2eff67f.c44e58",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "CONFIGURATION",
        "links": [
            "266b86ec.3824ba",
            "d060982b.8cfe98",
            "2e2c0253.a3741e"
        ],
        "x": 1480,
        "y": 350,
        "wires": []
    },
    {
        "id": "18f722a5.0004dd",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "trigger",
        "label": "trigger",
        "place": "select type of trigger",
        "group": "857ece11.192e7",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "none",
                "value": 5,
                "type": "num"
            },
            {
                "label": "up",
                "value": 0,
                "type": "num"
            },
            {
                "label": "down",
                "value": 1,
                "type": "num"
            },
            {
                "label": "both",
                "value": 2,
                "type": "num"
            },
            {
                "label": "low",
                "value": 3,
                "type": "num"
            },
            {
                "label": "high",
                "value": 4,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "pin.t",
        "x": 370,
        "y": 450,
        "wires": [
            [
                "fef53a66.051ce8"
            ]
        ]
    },
    {
        "id": "c87b2075.fa3c6",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "RECORDING",
        "links": [
            "de8ec3f8.cf1a1"
        ],
        "x": 1330,
        "y": 530,
        "wires": []
    },
    {
        "id": "68c2e294.59acbc",
        "type": "sqlite",
        "z": "b2d96b1.0f3be98",
        "mydb": "52975e20.0f289",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "TARDIS",
        "x": 810,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d060982b.8cfe98",
        "type": "link in",
        "z": "b2d96b1.0f3be98",
        "name": "SQL config",
        "links": [
            "f2eff67f.c44e58"
        ],
        "x": 415,
        "y": 200,
        "wires": [
            [
                "48a032a.7d5f4cc"
            ]
        ]
    },
    {
        "id": "de8ec3f8.cf1a1",
        "type": "link in",
        "z": "b2d96b1.0f3be98",
        "name": "SQL data",
        "links": [
            "c87b2075.fa3c6"
        ],
        "x": 415,
        "y": 280,
        "wires": [
            [
                "82f7f061.c6514"
            ]
        ]
    },
    {
        "id": "48a032a.7d5f4cc",
        "type": "function",
        "z": "b2d96b1.0f3be98",
        "name": "Configuration",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 200,
        "wires": [
            [
                "68c2e294.59acbc"
            ]
        ]
    },
    {
        "id": "82f7f061.c6514",
        "type": "function",
        "z": "b2d96b1.0f3be98",
        "name": "Recording",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 280,
        "wires": [
            [
                "68c2e294.59acbc"
            ]
        ]
    },
    {
        "id": "b9b3f548.4fa638",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "topic / cmd",
        "func": "msg.topic = \"/HL/\" + global.get('activeNodeId') + \"/cmd\"\n\nnode.status({text:\"Topic: \" + msg.topic});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1055,
        "y": 230,
        "wires": [
            [
                "ab4e9788.ced9c8",
                "6ac3d179.9787"
            ]
        ]
    },
    {
        "id": "ab4e9788.ced9c8",
        "type": "mqtt out",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "a4bd0da.b2f13f",
        "x": 1285,
        "y": 230,
        "wires": []
    },
    {
        "id": "6ac3d179.9787",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1315,
        "y": 190,
        "wires": []
    },
    {
        "id": "b7f58d69.ed362",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "PINS",
        "links": [
            "7fad08d5.65ecd8"
        ],
        "x": 1330,
        "y": 590,
        "wires": []
    },
    {
        "id": "7fad08d5.65ecd8",
        "type": "link in",
        "z": "cae895a0.8ab828",
        "name": "Store Node-Pins State",
        "links": [
            "b7f58d69.ed362"
        ],
        "x": 615,
        "y": 140,
        "wires": [
            [
                "3a537772.082828"
            ]
        ]
    },
    {
        "id": "3a537772.082828",
        "type": "function",
        "z": "cae895a0.8ab828",
        "name": "update global k9-node-pins Object",
        "func": "\nvar local    = global.get('k9-nodes-pins') || {};\nvar myname   = msg.topic.split(\"/\") || \"error\";\nmyname = myname[2]\nvar myobject = msg.payload || {\"error\":\"not found\"};\n\n\n\nif (msg.reset === true) local = {}\n    else {\n        if (typeof local[myname] === \"undefined\" ) local[myname] = {};\n        for (var y in myobject)\n                local[myname][y] = myobject[y]; \n    }\nglobal.set('k9-nodes-pins',local)\n    \n// count number of K9 nodes\nvar count = 0;\nfor (var x in local) ++count;\nglobal.set('k9-nodes-pins-count',count);\nsColor = \"red\";\nsFill = 'ring'\nif (count > 0) {\n    sColor = \"green\";sFill = 'dot';\n    }\nnode.status({shape:sFill,fill:sColor,text:\"k9-nodes-pins\" + \" | \" + count});\n\nmsg.id = myname\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9be733b0.94fd6",
        "type": "link in",
        "z": "e0c6f6b6.0d5c68",
        "name": "test node configuration",
        "links": [
            "26cb6cde.3770f4",
            "9bf85b1b.5a9c98"
        ],
        "x": 1640,
        "y": 350,
        "wires": [
            [
                "386b73c3.aaf41c"
            ]
        ]
    },
    {
        "id": "67317113.3c897",
        "type": "ui_dropdown",
        "z": "cae895a0.8ab828",
        "name": "select active node Main",
        "label": "",
        "place": "?",
        "group": "689116a6.ccd8d8",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1220,
        "y": 240,
        "wires": [
            [
                "3d09f36d.0d89cc"
            ]
        ]
    },
    {
        "id": "3d09f36d.0d89cc",
        "type": "function",
        "z": "cae895a0.8ab828",
        "name": "select node1",
        "func": "var activeNode = \"activeNodeId | \" + msg.payload;\n\n//node.status({shape:sFill,fill:sColor,text:\"K9-node-pins\" + \" | \" + count});\nnode.status({text:activeNode});\nglobal.set('activeNodeId', msg.payload);\n\n//var local = global.get('k9-nodes');\n//var xname = local[msg.payload].name || \"?\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1500,
        "y": 300,
        "wires": [
            [
                "1bf6ae99.c49751",
                "9d53568a.32d238",
                "780c075c.596208",
                "9540e15b.52ff",
                "898c6775.b367a8"
            ]
        ]
    },
    {
        "id": "1bf6ae99.c49751",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "689116a6.ccd8d8",
        "name": "node selection Main",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.payload}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1730,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9d53568a.32d238",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "857ece11.192e7",
        "name": "node selection Config",
        "order": 5,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.payload}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1730,
        "y": 270,
        "wires": [
            []
        ]
    },
    {
        "id": "b8e7160c.d0bec8",
        "type": "comment",
        "z": "cae895a0.8ab828",
        "name": "activeNode selection",
        "info": "",
        "x": 1460,
        "y": 210,
        "wires": []
    },
    {
        "id": "e23afacb.795c58",
        "type": "comment",
        "z": "cae895a0.8ab828",
        "name": "K9-node-pins [global]",
        "info": "",
        "x": 860,
        "y": 90,
        "wires": []
    },
    {
        "id": "dae7a56b.f6fd28",
        "type": "ui_dropdown",
        "z": "cae895a0.8ab828",
        "name": "select active node Config",
        "label": "",
        "place": "?",
        "group": "857ece11.192e7",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1220,
        "y": 290,
        "wires": [
            [
                "3d09f36d.0d89cc"
            ]
        ]
    },
    {
        "id": "780c075c.596208",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "da741b7c.fa4ed8",
        "name": "node selection Review",
        "order": 3,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.payload}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1730,
        "y": 330,
        "wires": [
            [
                "c98e31a9.11091",
                "e1e9f575.693ef8"
            ]
        ]
    },
    {
        "id": "2c61747a.1a3c0c",
        "type": "ui_dropdown",
        "z": "cae895a0.8ab828",
        "name": "select active node Review",
        "label": "",
        "place": "?",
        "group": "da741b7c.fa4ed8",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1220,
        "y": 340,
        "wires": [
            [
                "3d09f36d.0d89cc"
            ]
        ]
    },
    {
        "id": "58707080.df62a",
        "type": "comment",
        "z": "cae895a0.8ab828",
        "name": "WORKAROUND: Why is this necessary",
        "info": "cannot get this to work as a direct output from\n'update global k9-nodes Object'\n\nmsg.options is not passed to the 2nd and 3rd instances",
        "x": 588,
        "y": 329.99999809265137,
        "wires": []
    },
    {
        "id": "f1d674c7.4c8e28",
        "type": "ui_button",
        "z": "cae895a0.8ab828",
        "name": "refresh Node choices [Configure]",
        "group": "857ece11.192e7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "refresh Node choices",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 578,
        "y": 389.99999809265137,
        "wires": [
            [
                "d25cf1fb.cf6de"
            ]
        ]
    },
    {
        "id": "9540e15b.52ff",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "b5372e87.bef79",
        "name": "node selection Messages",
        "order": 3,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.payload}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1740,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "73e6e690.5f0418",
        "type": "ui_dropdown",
        "z": "cae895a0.8ab828",
        "name": "select active node Messages",
        "label": "",
        "place": "?",
        "group": "b5372e87.bef79",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1230,
        "y": 390,
        "wires": [
            [
                "3d09f36d.0d89cc"
            ]
        ]
    },
    {
        "id": "77f5e110.f672d",
        "type": "ui_button",
        "z": "cae895a0.8ab828",
        "name": "refresh Node choices [Review]",
        "group": "da741b7c.fa4ed8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "refresh Node choices",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 568,
        "y": 419.99999809265137,
        "wires": [
            [
                "d25cf1fb.cf6de"
            ]
        ]
    },
    {
        "id": "c9cf5891.d30498",
        "type": "ui_button",
        "z": "cae895a0.8ab828",
        "name": "refresh Node choices [Message]",
        "group": "b5372e87.bef79",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "refresh Node choices",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 568,
        "y": 359.99999809265137,
        "wires": [
            [
                "d25cf1fb.cf6de"
            ]
        ]
    },
    {
        "id": "fbe17fbd.bf3d4",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "57b700a8.c08e8",
        "name": "Node Configuration",
        "order": 1,
        "width": "6",
        "height": "10",
        "format": "<p>[ID]<span style=\"color:LightBlue\"> {{msg.payload[0]}}</span> </p>\n<p>D (Device) Object</p>\n<ol>\n<li>dbg:     <span style=\"color:LightBlue\"> {{msg.payload[1].dbg}}</span></li>    \n<li>tmpr:    <span style=\"color:LightBlue\"> {{msg.payload[1].tmpr}}</span></li>\n<li>screen:  <span style=\"color:LightBlue\"> {{msg.payload[1].screen}}</span></li>\n<li>mqtt:    <span style=\"color:LightBlue\"> {{msg.payload[1].mqtt}}</span></li>\n<li>heap_min:<span style=\"color:LightBlue\"> {{msg.payload[1].heap_min}} </span> </li>\n<li>flashid: <span style=\"color:LightBlue\"> {{msg.payload[1].flashid}}  </span></li>\n<li>flashsize:<span style=\"colorLightBlue\"> {{msg.payload[1].flashsize}} </span> </li>\n<li>heap:    <span style=\"color:LightBlue\"> {{msg.payload[1].heap}}</span></li>\n<li>pins: \t <span style=\"color:LightBlue\"> {{msg.payload[1].pins}}</span></li>\n<li>chipid:  <span style=\"color:LightBlue\"> {{msg.payload[1].chipid}}</span></li>\n<li>ID: \t <span style=\"color:LightBlue\"> {{msg.payload[1].ID}}</span></li>\n<li>LED: \t <span style=\"color:LightBlue\"> {{msg.payload[1].LED}}</span></li>\n<li>t_cal:\t <span style=\"color:LightBlue\"> {{msg.payload[1].t_cal}}</span></li>\n<li>name: \t <span style=\"color:LightBlue\"> {{msg.payload[1].name}}</span></li>\n<li>ap_mac:  <span style=\"color:LightBlue\"> {{msg.payload[1].ap_mac}}</span> </li>\n<li>bootreason_extnd: <span style=\"color:LightBlue\"> {{msg.payload[1].bootreason_extnd}}</span> </li>\n<li>ip: \t <span style=\"color:LightBlue\"> {{msg.payload[1].ip}}</span></li>\n<li>sta_mac: <span style=\"color:LightBlue\"> {{msg.payload[1].sta_mac}}</span></li>\n<li>type: \t <span style=\"color:LightBlue\"> {{msg.payload[1].type}}</span></li>\n<li>msg: \t <span style=\"color:LightBlue\"> {{msg.payload[1].msg}}</span></li>\n</ol>\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 1954.0000076293945,
        "y": 417.99999809265137,
        "wires": [
            []
        ]
    },
    {
        "id": "db2c0ae4.29bfe8",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "5fec812e.210f3",
        "name": "Pin Config & Status",
        "order": 1,
        "width": "6",
        "height": "9",
        "format": "<p>[ID]<span style=\"color:LightBlue\"> {{msg.id}}</span> </p>\n<ol start = 0>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"0\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"1\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"2\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"3\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"4\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"5\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"6\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"7\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"8\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"9\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"10\"]}}</span></li>\n</ol>\n<h3>Pin States Legend</h3>\n<a style=\"color:LightBlue;\"  target=\"_blank\" href=\"https://nodemcu.readthedocs.io/en/master/en/modules/gpio/#gpiomode\">gpio docs</a>\n<h4>m (modes)</h4>\n<ol start = 0>\n<li>gpio.INPUT</li> \n<li>gpio.OUTPUT</li> \n<li>gpio.INT</li>\n<li>gpio.OPENDRAIN</li>  \n</ol>\n<h4>r (read state)</h4>\n<ol start = 0>\n<li>LOW</li>\n<li>HIGH</li>\n</ol>\n<h4>w (write state)</h4>\n<ol start = 0>\n<li>LOW</li>\n<li>HIGH</li>\n</ol>\n<h4>pu (pullup)</h4>\n<ol start = 0>\n<li>FLOAT  true</li>\n<li>PULLUP false</li>\n</ol>\n<p>pullup gpio.PULLUP enables the weak pull-up resistor; </p>\n<p>default is gpio.FLOAT</p>\n<h4>t  (trigger type)</h4>\n<ul>\n<li>\"up\"</li> \n<li>\"down\"</li> \n<li>\"both\"</li> \n<li>\"low\"</li> \n<li>\"high\"</li>\n</ul>\n<h4>pwm  (pulse width modulation)</h4>\n<ul>\n<li>ON: \"true\"</li> \n<li>OFF: \"false\"</li> \n</ul>\n<h4>freq (frequency for pwm pin)</h4>\n<ul>\n<li>INT</li>\n<li>pwm frequency (0 - 1000 Hz)</li> \n</ul>\n<h4>duty (duty cycle for pwm pin)</h4>\n<ul>\n<li>INT</li>\n<li>duty cycle (0-1024)</li> \n</ul>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1954.0000076293945,
        "y": 447.99999809265137,
        "wires": [
            []
        ]
    },
    {
        "id": "f19aeb27.19c838",
        "type": "debug",
        "z": "cae895a0.8ab828",
        "name": "Review Node Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1964.0000076293945,
        "y": 477.99999809265137,
        "wires": []
    },
    {
        "id": "c98e31a9.11091",
        "type": "function",
        "z": "cae895a0.8ab828",
        "name": "k9-nodes",
        "func": "var local = global.get('k9-nodes') || {};\nmsg.payload = [msg.payload,local[msg.payload]];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1724.0000076293945,
        "y": 417.99999809265137,
        "wires": [
            [
                "fbe17fbd.bf3d4"
            ]
        ]
    },
    {
        "id": "e1e9f575.693ef8",
        "type": "function",
        "z": "cae895a0.8ab828",
        "name": "k9-nodes-pins",
        "func": "var local = global.get('k9-nodes-pins') || {};\nmsg.id = msg.payload\nmsg.payload = local[msg.payload];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1744.0000076293945,
        "y": 447.99999809265137,
        "wires": [
            [
                "db2c0ae4.29bfe8",
                "f19aeb27.19c838",
                "9f14a0e6.02039"
            ]
        ]
    },
    {
        "id": "1d3520aa.3286cf",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "D3",
        "label": "{{msg.topic}}",
        "group": "f78522d2.3c171",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"3\":1}}",
        "onvalueType": "json",
        "onicon": "fa-check-square",
        "oncolor": " #48f442",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"3\":0}}",
        "offvalueType": "json",
        "officon": "fa-square-o ",
        "offcolor": "#f44256",
        "x": 795,
        "y": 420,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "5ee30c83.ec6a64",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "D5",
        "label": "{{msg.topic}}",
        "group": "f78522d2.3c171",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"5\":1}}",
        "onvalueType": "json",
        "onicon": "fa-check-square",
        "oncolor": " #48f442",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"5\":0}}",
        "offvalueType": "json",
        "officon": "fa-square-o ",
        "offcolor": "#f44256",
        "x": 793,
        "y": 526,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "9fb6dd05.c3ecc",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "D6",
        "label": "{{msg.topic}}",
        "group": "f78522d2.3c171",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"6\":1}}",
        "onvalueType": "json",
        "onicon": "fa-check-square",
        "oncolor": " #48f442",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"6\":0}}",
        "offvalueType": "json",
        "officon": "fa-square-o ",
        "offcolor": "#f44256",
        "x": 793,
        "y": 580,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "8061b4fd.4aa5c8",
        "type": "ui_text",
        "z": "e0c6f6b6.0d5c68",
        "group": "f78522d2.3c171",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "frequency display",
        "label": "frequency",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 634,
        "y": 1160.0001068115234,
        "wires": []
    },
    {
        "id": "963c9408.df1e48",
        "type": "ui_text",
        "z": "e0c6f6b6.0d5c68",
        "group": "f78522d2.3c171",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "duty cycle display",
        "label": "duty cycle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 634,
        "y": 1110.0001068115234,
        "wires": []
    },
    {
        "id": "a80a98f7.2e0478",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "e87b0972.cfcab8",
        "name": "Even/Odd",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\" >\n<p>number is</p>\n<p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'green' : 'red'}\">\n  {{(msg.payload || 0) % 2 === 0 ? 'even' : 'odd'}}\n</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 673,
        "y": 1301,
        "wires": [
            []
        ]
    },
    {
        "id": "e6074c9a.3e704",
        "type": "inject",
        "z": "e0c6f6b6.0d5c68",
        "name": "test Angular feature",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 308,
        "y": 1301,
        "wires": [
            [
                "452e3811.0c3668"
            ]
        ]
    },
    {
        "id": "452e3811.0c3668",
        "type": "random",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "low": "1",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 518,
        "y": 1301,
        "wires": [
            [
                "a80a98f7.2e0478"
            ]
        ]
    },
    {
        "id": "2c0b269c.921f4a",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "inject TEST 2 fullJSON object",
        "topic": "",
        "payload": "[\"Dm_078a86\",{\"tmpr\":0,\"s_io\":false,\"mqtt\":false,\"heap_min\":4000,\"flashid\":1458415,\"flashsize\":4194304,\"heap\":12976,\"pins\":9,\"chipid\":494215,\"ID\":\"Dm_078a87\",\"LED\":4,\"type\":\"Dm\",\"t_cal\":0,\"name\":\" TEST 2\",\"ap_mac\":\"62:01:94:07:8a:87\",\"bootreason_extnd\":3,\"ip\":\"192.168.1.145\",\"sta_mac\":\"60:01:94:07:8a:87\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "x": 660,
        "y": 200,
        "wires": [
            [
                "9bf85b1b.5a9c98",
                "4ba377b9.595dd8"
            ]
        ]
    },
    {
        "id": "d2a99842.f42d28",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "inject TEST 2 partial JSON object",
        "topic": "",
        "payload": "[\"Dm_078a86\",{\"tmpr\":72,\"s_io\":true,\"mqtt\":true}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 670,
        "y": 350,
        "wires": [
            [
                "9bf85b1b.5a9c98",
                "4ba377b9.595dd8"
            ]
        ]
    },
    {
        "id": "e338167f.378388",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "inject TEST 1 partial JSON object",
        "topic": "",
        "payload": "[\"Dm_078a85\",{\"tmpr\":72,\"s_io\":true,\"mqtt\":true}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 670,
        "y": 320,
        "wires": [
            [
                "9bf85b1b.5a9c98",
                "4ba377b9.595dd8"
            ]
        ]
    },
    {
        "id": "9bf85b1b.5a9c98",
        "type": "link out",
        "z": "58ae81fe.fc8ae",
        "name": "test node DB update",
        "links": [
            "9be733b0.94fd6"
        ],
        "x": 965,
        "y": 350,
        "wires": []
    },
    {
        "id": "e3f542a3.64beb",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "inject TEST 3 full JSON object",
        "topic": "",
        "payload": "[\"D1m_078a87\",{\"tmpr\":0,\"s_io\":false,\"mqtt\":false,\"heap_min\":4000,\"flashid\":1458415,\"flashsize\":4194304,\"heap\":12976,\"pins\":9,\"chipid\":494215,\"ID\":\"Dm_078a87\",\"LED\":4,\"type\":\"Dm\",\"t_cal\":0,\"name\":\"Thing 1\",\"ap_mac\":\"62:01:94:07:8a:87\",\"bootreason_extnd\":3,\"ip\":\"192.168.1.145\",\"sta_mac\":\"60:01:94:07:8a:87\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "x": 660,
        "y": 230,
        "wires": [
            [
                "9bf85b1b.5a9c98",
                "4ba377b9.595dd8"
            ]
        ]
    },
    {
        "id": "a7e554c2.e67bc8",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "inject TEST 1 full JSON object",
        "topic": "",
        "payload": "[\"Dm_078a85\",{\"tmpr\":0,\"s_io\":false,\"mqtt\":false,\"heap_min\":4000,\"flashid\":1458415,\"flashsize\":4194304,\"heap\":12976,\"pins\":9,\"chipid\":494215,\"ID\":\"Dm_078a87\",\"LED\":4,\"type\":\"Dm\",\"t_cal\":0,\"name\":\" TEST 1\",\"ap_mac\":\"62:01:94:07:8a:87\",\"bootreason_extnd\":3,\"ip\":\"192.168.1.145\",\"sta_mac\":\"60:01:94:07:8a:87\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "x": 660,
        "y": 170,
        "wires": [
            [
                "9bf85b1b.5a9c98",
                "4ba377b9.595dd8"
            ]
        ]
    },
    {
        "id": "5878c0e6.c823d",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "inject TEST 4 full JSON object",
        "topic": "",
        "payload": "[\"D1m_d0fbc3\",{\"tmpr\":0,\"s_io\":false,\"mqtt\":false,\"heap_min\":4000,\"flashid\":1458415,\"flashsize\":4194304,\"heap\":12976,\"pins\":9,\"chipid\":494215,\"ID\":\"D1m_d0fbc3\",\"LED\":4,\"type\":\"Dm\",\"t_cal\":0,\"name\":\"Thing 2\",\"ap_mac\":\"62:01:94:07:8a:87\",\"bootreason_extnd\":3,\"ip\":\"192.168.1.145\",\"sta_mac\":\"60:01:94:07:8a:87\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "4",
        "x": 670,
        "y": 260,
        "wires": [
            [
                "9bf85b1b.5a9c98",
                "4ba377b9.595dd8"
            ]
        ]
    },
    {
        "id": "4ba377b9.595dd8",
        "type": "link out",
        "z": "58ae81fe.fc8ae",
        "name": "Insert Node Coniguration",
        "links": [
            "266b86ec.3824ba",
            "2e2c0253.a3741e"
        ],
        "x": 975,
        "y": 170,
        "wires": []
    },
    {
        "id": "e89ed39a.98a4c",
        "type": "comment",
        "z": "58ae81fe.fc8ae",
        "name": "Test Node Configuration",
        "info": "",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "b8394fd1.c86a8",
        "type": "comment",
        "z": "58ae81fe.fc8ae",
        "name": "Test Pin Configuration for specific node",
        "info": "",
        "x": 230,
        "y": 30,
        "wires": []
    },
    {
        "id": "9c8a90f7.ef45a",
        "type": "comment",
        "z": "cae895a0.8ab828",
        "name": "Test msg.option menu loading",
        "info": "",
        "x": 1215,
        "y": 74.99999809265137,
        "wires": []
    },
    {
        "id": "93808380.eb5b7",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "Filter topic and direct to output",
        "func": "var mynode   = msg.topic.split(\"/\") || \"error\";\nmynode = mynode[2]\n\nnode.status({text:\"node | \" + mynode});\n\nvar msg1 = { payload:msg.payload.ipins[\"3\"] };\nvar msg2 = { payload:msg.payload.ipins[\"5\"] };\nvar msg3 = { payload:msg.payload.ipins[\"6\"] };\n\nreturn [msg1, msg2, msg3 ];\n",
        "outputs": 3,
        "noerr": 0,
        "x": 1893.9999656677246,
        "y": 893.0000820159912,
        "wires": [
            [],
            [],
            []
        ],
        "outputLabels": [
            "3",
            "5",
            "6"
        ]
    },
    {
        "id": "d25cf1fb.cf6de",
        "type": "change",
        "z": "cae895a0.8ab828",
        "name": "msg.options",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "nodeList",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "activeNodeId",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 390,
        "wires": [
            [
                "73e6e690.5f0418",
                "67317113.3c897",
                "dae7a56b.f6fd28",
                "2c61747a.1a3c0c",
                "3d09f36d.0d89cc"
            ]
        ]
    },
    {
        "id": "4496376b.39c3d8",
        "type": "inject",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "x": 395,
        "y": 830,
        "wires": [
            [
                "940f7e18.2caaa"
            ]
        ]
    },
    {
        "id": "940f7e18.2caaa",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "Debug mode",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "enabled",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 545,
        "y": 830,
        "wires": [
            [
                "fe86d77d.496198"
            ]
        ]
    },
    {
        "id": "d7c9135b.18fa7",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "D0o",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "outEnabled[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 625,
        "y": 373,
        "wires": [
            [
                "2f7e62f.197529e"
            ]
        ]
    },
    {
        "id": "3fafb9ad.589dc6",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "tmpr",
        "rules": [
            {
                "t": "move",
                "p": "payload.tmpr",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1435,
        "y": 510,
        "wires": [
            [
                "d25f9b73.c3e698",
                "ee0875d8.d48bd8"
            ]
        ]
    },
    {
        "id": "2aee8df5.7cf7c2",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "heap",
        "rules": [
            {
                "t": "move",
                "p": "payload.heap",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1435,
        "y": 560,
        "wires": [
            [
                "67adc343.0da6fc",
                "90cba916.f5af68"
            ]
        ]
    },
    {
        "id": "e311861f.9a3638",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 170,
        "wires": [
            [
                "5a46baa7.256964"
            ]
        ]
    },
    {
        "id": "ade6b40d.463f78",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "clr",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"\",{}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1605,
        "y": 430,
        "wires": [
            [
                "386b73c3.aaf41c"
            ]
        ]
    },
    {
        "id": "29c0742d.f060cc",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/configuration",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 1545,
        "y": 390,
        "wires": []
    },
    {
        "id": "1b33a599.c820ba",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "ae257199.19c84",
        "name": "D3 Input",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\" >\n<p>{{msg.topic}}</p>\n<b>\n<p ng-style=\"{color: (msg.payload || 0) === 0 ? 'red' : 'lime'}\">\n  {{(msg.payload || 0) === 0 ? 'L' : 'H'}}\n</p>\n</b>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1800,
        "y": 1007,
        "wires": [
            []
        ]
    },
    {
        "id": "5c83d490.3328bc",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "ae257199.19c84",
        "name": "D5 Input",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\" >\n<p>{{msg.topic}}</p>\n<b>\n<p ng-style=\"{color: (msg.payload || 0) === 0 ? 'red' : 'lime'}\">\n  {{(msg.payload || 0)  === 0 ? 'L' : 'H'}}\n</p>\n</b>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1800,
        "y": 1067,
        "wires": [
            []
        ]
    },
    {
        "id": "703bf0e3.2cf42",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "ae257199.19c84",
        "name": "D6 Input",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\" >\n<p>{{msg.topic}}</p>\n<b>\n<p ng-style=\"{color: (msg.payload || 0)  === 0 ? 'red' : 'lime'}\">\n  {{(msg.payload || 0)  === 0 ? 'L' : 'H'}}\n</p>\n</b>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1800,
        "y": 1097,
        "wires": [
            []
        ]
    },
    {
        "id": "65e96fe1.8cbbf",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "ae257199.19c84",
        "name": "D0 Input",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\" >\n<p>{{msg.topic}}</p>\n<b>\n<p ng-style=\"{color: (msg.payload || 0)  === 0 ? 'red' : 'lime'}\">\n  {{(msg.payload || 0)  === 0 ? 'L' : 'H'}}\n</p>\n</b>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1800,
        "y": 977,
        "wires": [
            []
        ]
    },
    {
        "id": "1800d512.2f0bfb",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "ae257199.19c84",
        "name": "D7 Input",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\" >\n<p>{{msg.topic}}</p>\n<b>\n<p ng-style=\"{color: (msg.payload || 0) === 0 ? 'red' : 'lime'}\">\n  {{(msg.payload || 0) === 0 ? 'L' : 'H'}}\n</p>\n</b>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1800,
        "y": 1127,
        "wires": [
            []
        ]
    },
    {
        "id": "3008250d.ebd0da",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "ae257199.19c84",
        "name": "D8 Input",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\" >\n<p>{{msg.topic}}</p>\n<b>\n<p ng-style=\"{color: (msg.payload || 0) === 0 ? 'red' : 'lime'}\">\n  {{(msg.payload || 0) === 0 ? 'L' : 'H'}}\n</p>\n</b>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1800,
        "y": 1157,
        "wires": [
            []
        ]
    },
    {
        "id": "852ce96f.22d158",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "D0i",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pinLbl[0]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "inEnbl[0]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 977,
        "wires": [
            [
                "65e96fe1.8cbbf"
            ]
        ]
    },
    {
        "id": "d4e58902.fe58b8",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "689116a6.ccd8d8",
        "name": "#K9-nodes",
        "order": 4,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <h4 align = center>#K9-nodes = {{msg.count}}</h4>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1180,
        "y": 190,
        "wires": [
            []
        ]
    },
    {
        "id": "987405ef.c3c3b8",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "ae257199.19c84",
        "name": "D4 Input",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\" >\n<p>{{msg.topic}}</p>\n<b>\n<p ng-style=\"{color: (msg.payload || 0) === 0 ? 'red' : 'lime'}\">\n  {{(msg.payload || 0) === 0 ? 'L' : 'H'}}\n</p>\n</b>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1800,
        "y": 1037,
        "wires": [
            []
        ]
    },
    {
        "id": "fef53a66.051ce8",
        "type": "function",
        "z": "f95c6e59.5c919",
        "name": "save param",
        "func": "flow.set(msg.topic,msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 190,
        "wires": [
            []
        ]
    },
    {
        "id": "73a90817.e555c8",
        "type": "ui_button",
        "z": "f95c6e59.5c919",
        "name": "Submit Pin Data",
        "group": "857ece11.192e7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Submit Pin Config",
        "color": "Lime",
        "bgcolor": "SlateGray",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "store",
        "x": 349.0000457763672,
        "y": 135.0000057220459,
        "wires": [
            [
                "387de805.cfe598"
            ]
        ]
    },
    {
        "id": "387de805.cfe598",
        "type": "function",
        "z": "f95c6e59.5c919",
        "name": "create cmd \"pins_config\"",
        "func": "var pin       = flow.get('pin.pin')  || \"4\";\nvar name      = flow.get('pin.n')    || \"\";\nvar m         = flow.get('pin.m')    || 0;\nvar pu        = flow.get('pin.pu')   || 1;\nvar w         = flow.get('pin.w')    || 1 ;\nvar t         = flow.get('pin.t')    || 5;\nvar pwm       = flow.get('pin.pwm')  || \"\";\nvar duty      = flow.get('pin.duty') || 512;\nvar freq      = flow.get('pin.freq') || 500;\n\nnode.status({text:\"mode: \" + m});\n\nvar mode      = m;\nvar pinConfig = {};\nvar pinObject = {};\n\nswitch (mode) {\n    case 0:\n        pinConfig = {m,pu};\n        break;\n    case 1:\n        if (pwm === \"\") pinConfig = {m,w};\n        else  pinConfig = {m,w,pwm,duty,freq};\n        break;\n    case 2:\n        if (t === 5) pinConfig = {m,pu};\n        else pinConfig = {m,pu,t};\n        break;\n    case 3:\n        if (pwm === \"\") pinConfig = {m,w};\n        else  pinConfig = {m,w,pwm,duty,freq};\n        break;\n}\nif ( name !== \"\") pinConfig.n = name //add pin Name if it is not blank\n\npinObject[pin] = pinConfig;\n\nmsg.payload = {\"cmd\":\"pins_config\",\"pins\":pinObject}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 646.9999961853027,
        "y": 136.00003719329834,
        "wires": [
            [
                "336ee02c.af737",
                "360676e2.1fbe2a"
            ]
        ]
    },
    {
        "id": "7a509c12.800984",
        "type": "function",
        "z": "f95c6e59.5c919",
        "name": "Clear Pin data",
        "func": "flow.set('pin.pin',  null);\nflow.set('pin.n',  null);\nflow.set('pin.m', null);\nflow.set('pin.pu',   null);\nflow.set('pin.w',    null);\nflow.set('pin.t',    null);\nflow.set('pin.pwm',  null);\nflow.set('pin.duty', null);\nflow.set('pin.freq', null);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d3a21c77.4c108",
        "type": "inject",
        "z": "f95c6e59.5c919",
        "name": "",
        "topic": "Clear",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 640,
        "y": 360,
        "wires": [
            [
                "7a509c12.800984",
                "f4d096d8.635468"
            ]
        ]
    },
    {
        "id": "336ee02c.af737",
        "type": "debug",
        "z": "f95c6e59.5c919",
        "name": "pinDataJSON",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1280,
        "y": 500,
        "wires": []
    },
    {
        "id": "c66f7348.9254",
        "type": "inject",
        "z": "f95c6e59.5c919",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 367.00003814697266,
        "y": 86.00000381469727,
        "wires": [
            [
                "387de805.cfe598"
            ]
        ]
    },
    {
        "id": "1ee66b73.7e71c5",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/pins",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1445,
        "y": 640,
        "wires": []
    },
    {
        "id": "4a86f18c.1419e",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "D3o",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload[3]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "outEnabled[3]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 625,
        "y": 420,
        "wires": [
            [
                "1d3520aa.3286cf"
            ]
        ]
    },
    {
        "id": "68c38448.d45eac",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "D5o",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload[5]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "outEnabled[5]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 625,
        "y": 526,
        "wires": [
            [
                "5ee30c83.ec6a64"
            ]
        ]
    },
    {
        "id": "1646a667.112c8a",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "D6o",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload[6]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "outEnabled[6]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 625,
        "y": 580,
        "wires": [
            [
                "9fb6dd05.c3ecc"
            ]
        ]
    },
    {
        "id": "46996f37.99e7c",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "D4o",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload[4]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "outEnabled[4]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 625,
        "y": 470,
        "wires": [
            [
                "73f2ffba.d1f35"
            ]
        ]
    },
    {
        "id": "4a078d98.65a104",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "D7o",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload[7]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "outEnabled[7]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 625,
        "y": 630,
        "wires": [
            [
                "122ddd45.68b293"
            ]
        ]
    },
    {
        "id": "334d3120.db734e",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "D8o",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload[8]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "outEnabled[8]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 625,
        "y": 680,
        "wires": [
            [
                "b9394b1a.953098"
            ]
        ]
    },
    {
        "id": "4e70b3e2.afe95c",
        "type": "ui_text_input",
        "z": "f95c6e59.5c919",
        "name": "pinName",
        "label": "pinName",
        "group": "857ece11.192e7",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "1000",
        "topic": "pin.n",
        "x": 360,
        "y": 250,
        "wires": [
            [
                "fef53a66.051ce8"
            ]
        ]
    },
    {
        "id": "eef7d64d.013198",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "adc",
        "topic": "/HL/+/adc",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 1045,
        "y": 730,
        "wires": [
            [
                "b6c4092b.e20548"
            ]
        ]
    },
    {
        "id": "3d7622cd.a1d2ce",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/adc",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1435,
        "y": 760,
        "wires": []
    },
    {
        "id": "b6c4092b.e20548",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "adc",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1178,
        "y": 730,
        "wires": [
            [
                "3d7622cd.a1d2ce",
                "b4212c07.83d91"
            ]
        ]
    },
    {
        "id": "e82f4655.692d98",
        "type": "ui_gauge",
        "z": "e0c6f6b6.0d5c68",
        "name": "Analog Data",
        "group": "ae257199.19c84",
        "order": 12,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Analog Data",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#29ee13"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1945,
        "y": 700,
        "wires": []
    },
    {
        "id": "a17d4562.4d50d8",
        "type": "ui_chart",
        "z": "e0c6f6b6.0d5c68",
        "name": "Analog Data",
        "group": "e9b37a71.d109a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Analog Data",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1785,
        "y": 730,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b4212c07.83d91",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "adc",
        "rules": [
            {
                "t": "move",
                "p": "payload.adc",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1425,
        "y": 730,
        "wires": [
            [
                "e82f4655.692d98",
                "a17d4562.4d50d8"
            ]
        ]
    },
    {
        "id": "9802e30e.022a9",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "Get ADC",
        "group": "6bf64492.b29f0c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get ADC",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"adc\"}",
        "payloadType": "str",
        "topic": "",
        "x": 780,
        "y": 894,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "475a9c69.a38104",
        "type": "inject",
        "z": "e0c6f6b6.0d5c68",
        "name": "sample ADC",
        "topic": "adc",
        "payload": "{\"cmd\":\"adc\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "x": 775,
        "y": 940,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "82400b00.6543c8",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "cmd pwm \"pins_config\" ",
        "func": "var pinConfig = {};\nvar pinObject = {};\n\nvar pin =     flow.get('pin.main_pin')     || \"4\";\nvar duty =    flow.get('pin.main_duty')    || 512;\nvar freq =    flow.get('pin.main_freq')    || 4;\nvar pwm_msg = null;\n\nvar label = \"D\" + pin + \".label\";\n\nnode.status({text: \"pin[\" + pin + \"]  | \" + msg.topic + \" | \" + msg.payload});\n\nif (msg.topic === \"pwm_n\"){\n    pinConfig.n = msg.payload;\n}\n\nif (msg.topic === \"pin.pwm\"){\n    pinConfig.freq = freq\n    pinConfig.duty = duty\n    pinConfig.pwm = msg.payload\n}\n\n\n    pinObject[pin] = pinConfig;\n    msg.payload = {\"cmd\":\"pins_config\",\"pins\":pinObject};\n\nreturn [msg, pwm_msg];",
        "outputs": 2,
        "noerr": 0,
        "x": 654,
        "y": 1060.0001068115234,
        "wires": [
            [
                "a7f02cb8.d627b",
                "69b4786b.2e89a8",
                "367606af.56455a"
            ],
            []
        ],
        "outputLabels": [
            "cmd",
            "pwm"
        ]
    },
    {
        "id": "a7f02cb8.d627b",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "pinDataJSON",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1162.0000267028809,
        "y": 1215.0001411437988,
        "wires": []
    },
    {
        "id": "52e52c77.dcab24",
        "type": "ui_dropdown",
        "z": "e0c6f6b6.0d5c68",
        "name": "pin #",
        "label": "pin #",
        "place": "?",
        "group": "f78522d2.3c171",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "N/A",
                "value": "",
                "type": "str"
            },
            {
                "label": "0",
                "value": "0",
                "type": "str"
            },
            {
                "label": "1",
                "value": "1",
                "type": "str"
            },
            {
                "label": "2",
                "value": "2",
                "type": "str"
            },
            {
                "label": "3",
                "value": "3",
                "type": "str"
            },
            {
                "label": "4",
                "value": "4",
                "type": "str"
            },
            {
                "label": "5",
                "value": "5",
                "type": "str"
            },
            {
                "label": "6",
                "value": "6",
                "type": "str"
            },
            {
                "label": "7",
                "value": "7",
                "type": "str"
            },
            {
                "label": "8",
                "value": "8",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "pin.main_pin",
        "x": 394,
        "y": 1010.0001068115234,
        "wires": [
            [
                "72fb8bf2.eae094"
            ]
        ]
    },
    {
        "id": "e37fae90.ddea4",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "pwm controls",
        "group": "f78522d2.3c171",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "pwm controls",
        "color": "SkyBlue",
        "bgcolor": "SlateGray",
        "icon": "",
        "payload": "{\"cmd\":\"pwm\",\"pin\":@}",
        "payloadType": "str",
        "topic": "",
        "x": 120.9999771118164,
        "y": 966.0000915527344,
        "wires": [
            []
        ]
    },
    {
        "id": "ab0e57c5.e7d9c8",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "pin 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 249,
        "y": 1010.0001068115234,
        "wires": [
            [
                "52e52c77.dcab24",
                "6e463ed5.07898"
            ]
        ]
    },
    {
        "id": "6ebf74a.e659b8c",
        "type": "inject",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "x": 104,
        "y": 1010.0001068115234,
        "wires": [
            [
                "ab0e57c5.e7d9c8"
            ]
        ]
    },
    {
        "id": "258ab0e3.f907",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "insert pin#",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "@",
                "fromt": "str",
                "to": "pin.main_pin",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 639,
        "y": 1210.0001068115234,
        "wires": [
            [
                "a7f02cb8.d627b",
                "69b4786b.2e89a8"
            ]
        ]
    },
    {
        "id": "6f8e3d82.ab3644",
        "type": "delay",
        "z": "f95c6e59.5c919",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 630,
        "y": 500,
        "wires": [
            [
                "3bc3d7cc.b5a188"
            ]
        ]
    },
    {
        "id": "3bc3d7cc.b5a188",
        "type": "change",
        "z": "f95c6e59.5c919",
        "name": "cmd \"pwm\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"cmd\":\"pwm\",\"pin\":\"@\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 500,
        "wires": [
            [
                "695e9cd5.6736c4"
            ]
        ]
    },
    {
        "id": "695e9cd5.6736c4",
        "type": "change",
        "z": "f95c6e59.5c919",
        "name": "insert pin #",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "@",
                "fromt": "str",
                "to": "pin.pin",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 500,
        "wires": [
            [
                "609e2d4e.0e0ff4"
            ]
        ]
    },
    {
        "id": "360676e2.1fbe2a",
        "type": "link out",
        "z": "f95c6e59.5c919",
        "name": "pinConfig",
        "links": [
            "d1135c0.509fea8",
            "127f916c.9f0cdf"
        ],
        "x": 891,
        "y": 135,
        "wires": []
    },
    {
        "id": "609e2d4e.0e0ff4",
        "type": "json",
        "z": "f95c6e59.5c919",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1110,
        "y": 500,
        "wires": [
            [
                "336ee02c.af737"
            ]
        ]
    },
    {
        "id": "1c5b14d7.aca34b",
        "type": "inject",
        "z": "f95c6e59.5c919",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 620,
        "y": 420,
        "wires": [
            [
                "6f8e3d82.ab3644"
            ]
        ]
    },
    {
        "id": "69b4786b.2e89a8",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "pinConfig",
        "links": [
            "d1135c0.509fea8"
        ],
        "x": 1182.0000429153442,
        "y": 1057.000156402588,
        "wires": []
    },
    {
        "id": "720b75ed.b5aa1c",
        "type": "ui_text_input",
        "z": "e0c6f6b6.0d5c68",
        "name": "pinName",
        "label": "pinName",
        "group": "f78522d2.3c171",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "1000",
        "topic": "pwm_n",
        "x": 389.99999237060547,
        "y": 962.0000896453857,
        "wires": [
            [
                "82400b00.6543c8"
            ]
        ]
    },
    {
        "id": "72fb8bf2.eae094",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "save param",
        "func": "flow.set(msg.topic,msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 614,
        "y": 1010.0001106262207,
        "wires": [
            []
        ]
    },
    {
        "id": "cb21a171.8ce88",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "loadPinLabels",
        "func": "var mynodeId = global.get('activeNodeId') || \"initial\";\nvar activeNode = global.get('k9-nodes-pins') ||\"initial\";\n//activeNode = 'initial';\nflow.set('tmp.activeNode',activeNode);\nvar activeNodePins = activeNode[mynodeId] || \"initial\" ;\n//activeNodePins = 'initial';\nflow.set('tmp.activeNodePins',activeNodePins)\nvar nodePinsLbl = [];\nvar nodeOutEnable = [];\nvar nodeInEnable = [];\nvar defaultLabel;\nvar label,pin,ipin,mode;\n\nnode.status({text:\"node | \" + mynodeId});\n\nfor (i = 0; i <= 8; i++ ) {\n    pin = i.toString();\n    defaultLabel = \"D\"+i;\n    label = \"Dx\"+ i;\n    nodePinsLbl[i] = label;\n    nodeOutEnable[i] = false;\n    nodeInEnable[i] = false;\n    if (activeNodePins !== \"initial\") {\n    \n            ipin = \"??\";\n            flow.set('tmp.ipin',ipin)\n        if (typeof activeNodePins.pins !== undefined && typeof activeNodePins.pins[pin] !== undefined)  {\n            ipin = activeNodePins.pins[pin];\n            //nodePinsLbl[i] = ipin ;\n        }\n    \n        if (typeof ipin !== undefined && typeof ipin.n === 'string') {\n                if (ipin.n !== null) nodePinsLbl[i] = ipin.n;\n        }\n        if (typeof ipin !== undefined && typeof ipin.m === 'number') {\n                mode = ipin.m\n                if (mode === 1 || mode === 3) nodeOutEnable[i] = true;\n                if (mode === 0 || mode === 2) nodeInEnable[i] = true;\n        }\n    }\n\n}\n\nflow.set('pinLbl',nodePinsLbl);\nflow.set('inEnbl',nodeInEnable);\nmsg.outEnabled = nodeOutEnable;\nmsg.inEnabled = nodeInEnable;\nmsg.payload =  nodePinsLbl;\n//msg.payload =  activeNodePins;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 520,
        "wires": [
            [
                "d34cc621.6c9f38",
                "d7c9135b.18fa7",
                "4a86f18c.1419e",
                "46996f37.99e7c",
                "68c38448.d45eac",
                "1646a667.112c8a",
                "4a078d98.65a104",
                "334d3120.db734e",
                "59ec3df4.f26e04",
                "39e654b2.f5b51c",
                "3e7f72f.f9d388e"
            ]
        ]
    },
    {
        "id": "d34cc621.6c9f38",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "loadPinLabels",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 340,
        "y": 700,
        "wires": []
    },
    {
        "id": "317c9f68.cc301",
        "type": "inject",
        "z": "e0c6f6b6.0d5c68",
        "name": "onBoot",
        "topic": "onboot",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 300,
        "y": 450,
        "wires": [
            [
                "cb21a171.8ce88"
            ]
        ]
    },
    {
        "id": "898c6775.b367a8",
        "type": "link out",
        "z": "cae895a0.8ab828",
        "name": "updateActiveNodeId",
        "links": [
            "22bdcf95.22c49"
        ],
        "x": 1565,
        "y": 420,
        "wires": []
    },
    {
        "id": "22bdcf95.22c49",
        "type": "link in",
        "z": "e0c6f6b6.0d5c68",
        "name": "updatePinLabels",
        "links": [
            "6704f6b9.878ab8",
            "898c6775.b367a8"
        ],
        "x": 245,
        "y": 520,
        "wires": [
            [
                "cb21a171.8ce88"
            ]
        ]
    },
    {
        "id": "6704f6b9.878ab8",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "newPinConfig",
        "links": [
            "22bdcf95.22c49"
        ],
        "x": 2055,
        "y": 650,
        "wires": []
    },
    {
        "id": "1eb631d4.2ebcbe",
        "type": "delay",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1930,
        "y": 650,
        "wires": [
            [
                "6704f6b9.878ab8"
            ]
        ]
    },
    {
        "id": "367606af.56455a",
        "type": "delay",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 803.0000267028809,
        "y": 1005.0001111030579,
        "wires": [
            [
                "1fe4c652.83ec9a"
            ]
        ]
    },
    {
        "id": "1fe4c652.83ec9a",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"cmd\":\"pins\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 982.0000457763672,
        "y": 1005.0001721382141,
        "wires": [
            [
                "69b4786b.2e89a8",
                "a7f02cb8.d627b"
            ]
        ]
    },
    {
        "id": "127f916c.9f0cdf",
        "type": "link in",
        "z": "e0c6f6b6.0d5c68",
        "name": "pinInputLabels",
        "links": [
            "157d2eb8.569461",
            "360676e2.1fbe2a",
            "59ec3df4.f26e04"
        ],
        "x": 1465,
        "y": 1160,
        "wires": [
            [
                "852ce96f.22d158",
                "5793920d.4a685c",
                "ee28be1a.43281",
                "c2d9be1f.c6c34",
                "e33aecce.1d764",
                "c55f87e9.0f9af8",
                "827e961a.e53b58"
            ]
        ]
    },
    {
        "id": "59ec3df4.f26e04",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "loadPinLabels",
        "links": [
            "127f916c.9f0cdf"
        ],
        "x": 465,
        "y": 630,
        "wires": []
    },
    {
        "id": "39e654b2.f5b51c",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "enableOutPinLabels",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "outEnabled",
        "x": 361.9233093261719,
        "y": 732.3693237304688,
        "wires": []
    },
    {
        "id": "3e7f72f.f9d388e",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "enableInPinLabels",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "inEnabled",
        "x": 350,
        "y": 669,
        "wires": []
    },
    {
        "id": "25fcb0d7.b3e2",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "generate Pin Lables and Display",
        "info": "",
        "x": 350,
        "y": 390,
        "wires": []
    },
    {
        "id": "6e463ed5.07898",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "onBoot selP4",
        "links": [
            "8c760a40.3a9218",
            "34bbd91.717ea26"
        ],
        "x": 218.99999618530273,
        "y": 1062.0000314712524,
        "wires": []
    },
    {
        "id": "8c760a40.3a9218",
        "type": "link in",
        "z": "f95c6e59.5c919",
        "name": "selPinOnPinconfig",
        "links": [
            "6e463ed5.07898"
        ],
        "x": 235,
        "y": 190,
        "wires": [
            [
                "9e9bfcf1.ec0c4"
            ]
        ]
    },
    {
        "id": "146c5a5f.e0aa16",
        "type": "inject",
        "z": "cae895a0.8ab828",
        "name": "",
        "topic": "on boot node selection",
        "payload": "D1m_d0fbc3",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1200,
        "y": 440,
        "wires": [
            [
                "3d09f36d.0d89cc",
                "7c2d0af7.c2fdb4",
                "f0368866.f3d248"
            ]
        ]
    },
    {
        "id": "26288d9e.f218c2",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "files",
        "topic": "/HL/+/files",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 1048.01953125,
        "y": 791.50390625,
        "wires": [
            [
                "e7061ca1.30c0f",
                "1d67d012.4215e",
                "d03e95e3.6c02c8",
                "fad957c8.4947d8"
            ]
        ]
    },
    {
        "id": "e7061ca1.30c0f",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/files",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 1420.0195274353027,
        "y": 842.5038890838623,
        "wires": []
    },
    {
        "id": "d03e95e3.6c02c8",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "files",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ",",
                "fromt": "str",
                "to": "\\n",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1428.01953125,
        "y": 791.50390625,
        "wires": [
            []
        ]
    },
    {
        "id": "33299840.409a28",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "test fileOp Write Object",
        "topic": "",
        "payload": "{\"cmd\":\"fileOp\",\"file\":{\"op\":\"w\",\"o\":\"PINS\",\"f\":\"test.json\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 722.01953125,
        "y": 580.00390625,
        "wires": [
            [
                "5d4eafcd.f20ef"
            ]
        ]
    },
    {
        "id": "95be5350.846dd",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "test fileOp Read",
        "topic": "",
        "payload": "{\"cmd\":\"fileOp\",\"file\":{\"op\":\"r\",\"f\":\"test.json\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 701.1446228027344,
        "y": 644.1875896453857,
        "wires": [
            [
                "5d4eafcd.f20ef"
            ]
        ]
    },
    {
        "id": "5e656424.ac91cc",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "test fileOp Write File",
        "topic": "",
        "payload": "{\"cmd\":\"fileOp\",\"file\":{\"op\":\"w\",\"o\":\"PINS\",\"f\":\"test.txt\",\"p\":\"payload\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 711.1445999145508,
        "y": 610.937575340271,
        "wires": [
            [
                "5d4eafcd.f20ef"
            ]
        ]
    },
    {
        "id": "d728575d.fd7148",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "test fileOp Listing",
        "topic": "",
        "payload": "{\"cmd\":\"fileOp\",\"file\":{\"op\":\"l\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 701.1445579528809,
        "y": 676.9374828338623,
        "wires": [
            [
                "5d4eafcd.f20ef"
            ]
        ]
    },
    {
        "id": "5d4eafcd.f20ef",
        "type": "link out",
        "z": "58ae81fe.fc8ae",
        "name": "Test commands",
        "links": [
            "d1135c0.509fea8"
        ],
        "x": 932.01953125,
        "y": 619.00390625,
        "wires": []
    },
    {
        "id": "471342ec.f6bacc",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "test fileOp Delete file",
        "topic": "",
        "payload": "{\"cmd\":\"fileOp\",\"file\":{\"op\":\"d\",\"f\":\"test.json\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 711.0142211914062,
        "y": 708.8238525390625,
        "wires": [
            [
                "5d4eafcd.f20ef"
            ]
        ]
    },
    {
        "id": "1d67d012.4215e",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 1181.8507919311523,
        "y": 791.0104641914368,
        "wires": [
            [
                "e7061ca1.30c0f"
            ]
        ]
    },
    {
        "id": "c9febc84.818c7",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "test fileOp Read",
        "topic": "",
        "payload": "{\"cmd\":\"fileOp\",\"file\":{\"op\":\"r\",\"f\":\"dumpG.lua\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 721.017333984375,
        "y": 806.4548950195312,
        "wires": [
            [
                "5d4eafcd.f20ef"
            ]
        ]
    },
    {
        "id": "4fafdf81.8cdda",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "test fileOp Read",
        "topic": "",
        "payload": "{\"cmd\":\"fileOp\",\"file\":{\"op\":\"r\",\"f\":\"test.txt\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 747.017333984375,
        "y": 861.4548950195312,
        "wires": [
            [
                "5d4eafcd.f20ef"
            ]
        ]
    },
    {
        "id": "d40572d.403199",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "test fileOp Write Object",
        "topic": "",
        "payload": "{\"cmd\":\"fileOp\",\"file\":{\"op\":\"w\",\"o\":\"D\",\"f\":\"test.json\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 711.017333984375,
        "y": 542.232666015625,
        "wires": [
            [
                "5d4eafcd.f20ef"
            ]
        ]
    },
    {
        "id": "7eb812aa.e78dfc",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "test fileOp Write Object",
        "topic": "",
        "payload": "{\"cmd\":\"fileOp\",\"file\":{\"op\":\"w\",\"o\":\"MQTT\",\"f\":\"test.json\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 707.017333984375,
        "y": 507.2326354980469,
        "wires": [
            [
                "5d4eafcd.f20ef"
            ]
        ]
    },
    {
        "id": "83ae5f59.17876",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "test fileOp Write Object",
        "topic": "",
        "payload": "{\"cmd\":\"fileOp\",\"file\":{\"op\":\"w\",\"o\":\"AP\",\"f\":\"test.json\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 675.017333984375,
        "y": 473.2326354980469,
        "wires": [
            [
                "5d4eafcd.f20ef"
            ]
        ]
    },
    {
        "id": "6046bb96.9c7ae4",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "test fileOp Write Object",
        "topic": "",
        "payload": "{\"cmd\":\"fileOp\",\"file\":{\"op\":\"w\",\"o\":\"TMR\",\"f\":\"test.json\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 688.0173034667969,
        "y": 427.2326498031616,
        "wires": [
            [
                "5d4eafcd.f20ef"
            ]
        ]
    },
    {
        "id": "31852dc1.708402",
        "type": "ui_text_input",
        "z": "f95c6e59.5c919",
        "name": "filename",
        "label": "filename",
        "group": "c47d7f0.070078",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "file.f",
        "x": 360,
        "y": 760,
        "wires": [
            [
                "fef53a66.051ce8"
            ]
        ]
    },
    {
        "id": "8447256f.ceba28",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "Object",
        "label": "Object",
        "place": "Select option",
        "group": "c47d7f0.070078",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "node device",
                "value": "D",
                "type": "str"
            },
            {
                "label": "node pins",
                "value": "PINS",
                "type": "str"
            },
            {
                "label": "MQTT configuration",
                "value": "MQTT",
                "type": "str"
            },
            {
                "label": "Access Point configuration",
                "value": "AP",
                "type": "str"
            },
            {
                "label": "node timers",
                "value": "TMR",
                "type": "str"
            },
            {
                "label": "node message",
                "value": "M",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "file.o",
        "x": 368,
        "y": 706.1353735923767,
        "wires": [
            [
                "fef53a66.051ce8"
            ]
        ]
    },
    {
        "id": "e70e8931.5e1378",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "fileOp",
        "label": "fileOp",
        "place": "Select option",
        "group": "c47d7f0.070078",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "write Object",
                "value": "w",
                "type": "str"
            },
            {
                "label": "read",
                "value": "r",
                "type": "str"
            },
            {
                "label": "list files",
                "value": "l",
                "type": "str"
            },
            {
                "label": "delete",
                "value": "d",
                "type": "str"
            },
            {
                "label": "write Payload",
                "value": "wpl",
                "type": "str"
            },
            {
                "label": "rename file ",
                "value": "ren",
                "type": "str"
            },
            {
                "label": "copy file to f2",
                "value": "c",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "file.op",
        "x": 369.01044845581055,
        "y": 658.1423153877258,
        "wires": [
            [
                "fef53a66.051ce8"
            ]
        ]
    },
    {
        "id": "35e3cfe4.8959d",
        "type": "ui_button",
        "z": "f95c6e59.5c919",
        "name": "fileSubmit",
        "group": "c47d7f0.070078",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Submit fileOp",
        "color": "Lime",
        "bgcolor": "SlateGray",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 360,
        "y": 900,
        "wires": [
            [
                "c91d9edd.67a9c"
            ]
        ]
    },
    {
        "id": "c91d9edd.67a9c",
        "type": "function",
        "z": "f95c6e59.5c919",
        "name": "create cmd \"pins_config\"",
        "func": "var f   = flow.get('file.f')    || \"\"; //filename\nvar f2  = flow.get('file.f2')   || \"tmp.txt\"; //file rename result\nvar o   = flow.get('file.o')    || \"\"; // Object\nvar op  = flow.get('file.op')   || \"\"; // operation\nvar pl  = flow.get('file.pl')   || \"\"; //payload\np = pl.text\n\n\nvar fileOp = {};\n\n\nswitch (op) {\n    case \"w\":\n        fileOp = {op,o,f};\n        break;\n    case \"wpl\":\n        op = \"w\"\n        fileOp = {op,f,p};\n        break;\n    case \"r\":\n        fileOp = {op,o,f};\n        break;\n    case \"l\":\n        fileOp = {op};\n        break;\n    case \"d\":\n        fileOp = {op,f};\n        break;\n    case \"ren\":\n        fileOp = {op,f,f2};\n        break;\n    case \"c\":\n        fileOp = {op,f,f2};\n        break;\n}\n\nmsg.payload = {\"cmd\":\"fileOp\",\"file\":fileOp}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 581.9478569030762,
        "y": 899.2915816307068,
        "wires": [
            [
                "97fcc3e1.0865f",
                "1adc8ca4.4ecc43"
            ]
        ]
    },
    {
        "id": "1adc8ca4.4ecc43",
        "type": "link out",
        "z": "f95c6e59.5c919",
        "name": "fileConfig",
        "links": [
            "d1135c0.509fea8"
        ],
        "x": 753.9478797912598,
        "y": 900.2916488647461,
        "wires": []
    },
    {
        "id": "fb445506.409ac8",
        "type": "ui_form",
        "z": "f95c6e59.5c919",
        "name": "filePayload",
        "label": "filePayload",
        "group": "c47d7f0.070078",
        "order": 6,
        "width": "5",
        "height": "11",
        "options": [
            {
                "label": "L1",
                "value": "text",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "text": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "file.pl",
        "x": 360,
        "y": 855,
        "wires": [
            [
                "fef53a66.051ce8"
            ]
        ]
    },
    {
        "id": "97fcc3e1.0865f",
        "type": "debug",
        "z": "f95c6e59.5c919",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 791.013916015625,
        "y": 840.8089179992676,
        "wires": []
    },
    {
        "id": "f4d096d8.635468",
        "type": "function",
        "z": "f95c6e59.5c919",
        "name": "[OLD]Clear Pin data",
        "func": "flow.set('pin',  null);\nflow.set('n',  null);\nflow.set('m', null);\nflow.set('pu',   null);\nflow.set('w',    null);\nflow.set('t',    null);\nflow.set('pwm',  null);\nflow.set('duty', null);\nflow.set('freq', null);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 902.017333984375,
        "y": 411.2326354980469,
        "wires": [
            []
        ]
    },
    {
        "id": "fad957c8.4947d8",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "a14dfcff.d0a7e",
        "name": "File Payload Receive",
        "order": 1,
        "width": "12",
        "height": "4",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1810.0768814086914,
        "y": 805.2989654541016,
        "wires": [
            []
        ]
    },
    {
        "id": "5f55d4fd.ad802c",
        "type": "ui_text_input",
        "z": "f95c6e59.5c919",
        "name": "filenameNew",
        "label": "filenameNew",
        "group": "c47d7f0.070078",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "file.f2",
        "x": 353.9479331970215,
        "y": 810.6873502731323,
        "wires": [
            [
                "fef53a66.051ce8"
            ]
        ]
    },
    {
        "id": "5793920d.4a685c",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "D03",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pinLbl[3]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "inEnbl[3]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1639.1285400390625,
        "y": 1007.4548950195312,
        "wires": [
            [
                "1b33a599.c820ba"
            ]
        ]
    },
    {
        "id": "ee28be1a.43281",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "D4i",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pinLbl[4]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "inEnbl[4]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640.1285400390625,
        "y": 1037.454833984375,
        "wires": [
            [
                "987405ef.c3c3b8"
            ]
        ]
    },
    {
        "id": "c2d9be1f.c6c34",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "D5i",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pinLbl[5]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "inEnbl[5]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1642.1285400390625,
        "y": 1067.454833984375,
        "wires": [
            [
                "5c83d490.3328bc"
            ]
        ]
    },
    {
        "id": "e33aecce.1d764",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "D6i",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pinLbl[6]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "inEnbl[6]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1641.1285400390625,
        "y": 1097.454833984375,
        "wires": [
            [
                "703bf0e3.2cf42"
            ]
        ]
    },
    {
        "id": "c55f87e9.0f9af8",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "D7i",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pinLbl[7]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "inEnbl[7]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640.1285400390625,
        "y": 1127.454833984375,
        "wires": [
            [
                "1800d512.2f0bfb"
            ]
        ]
    },
    {
        "id": "827e961a.e53b58",
        "type": "change",
        "z": "e0c6f6b6.0d5c68",
        "name": "D8i",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pinLbl[8]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "inEnbl[8]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1642.1285400390625,
        "y": 1157.454833984375,
        "wires": [
            [
                "3008250d.ebd0da"
            ]
        ]
    },
    {
        "id": "9f14a0e6.02039",
        "type": "json",
        "z": "cae895a0.8ab828",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1923.8542709350586,
        "y": 515.892370223999,
        "wires": [
            [
                "2add8cb0.0551b4"
            ]
        ]
    },
    {
        "id": "2add8cb0.0551b4",
        "type": "debug",
        "z": "cae895a0.8ab828",
        "name": "Review Node Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1976.7952117919922,
        "y": 598.0104036331177,
        "wires": []
    },
    {
        "id": "33de556e.59ed5a",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "pwm (on/off)",
        "label": "pwm (on/off)",
        "group": "f78522d2.3c171",
        "order": 11,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "false",
        "topic": "pwm_start",
        "style": "",
        "onvalue": "{\"cmd\":\"pwm\",\"pin\":\"@\",\"start\":true}",
        "onvalueType": "str",
        "onicon": "fa-check-square",
        "oncolor": " #48f442",
        "offvalue": "{\"cmd\":\"pwm\",\"pin\":\"@\",\"start\":false}",
        "offvalueType": "str",
        "officon": "fa-square-o ",
        "offcolor": "#f44256",
        "x": 384.01422119140625,
        "y": 1210.369369506836,
        "wires": [
            [
                "258ab0e3.f907"
            ]
        ]
    },
    {
        "id": "c67d8dec.a0c3",
        "type": "exec",
        "z": "32688592.0a19aa",
        "command": "node-red --help | awk 'NR==1 {printf $2}' | tr -d 'v'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Get current version",
        "x": 530,
        "y": 160,
        "wires": [
            [
                "50ef8aa9.6464b4"
            ],
            [],
            []
        ]
    },
    {
        "id": "d84b5be3.cae1e8",
        "type": "inject",
        "z": "32688592.0a19aa",
        "name": "Inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "c67d8dec.a0c3",
                "616e0ac9.e33914"
            ]
        ]
    },
    {
        "id": "616e0ac9.e33914",
        "type": "http request",
        "z": "32688592.0a19aa",
        "name": "Get latest version",
        "method": "GET",
        "ret": "obj",
        "url": "https://registry.npmjs.org/node-red",
        "tls": "",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "ecdc9631.3f0fb8"
            ]
        ]
    },
    {
        "id": "6bd2f6c8.a94f48",
        "type": "function",
        "z": "32688592.0a19aa",
        "name": "Print",
        "func": "if (msg.payload[0] != msg.payload[1]) {\n    node.warn(\"New version of Node-Red available!\")\n} else {\n    //node.warn(\"Node-Red is up-to-date.\")\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "50ef8aa9.6464b4",
        "type": "join",
        "z": "32688592.0a19aa",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 870,
        "y": 220,
        "wires": [
            [
                "6bd2f6c8.a94f48"
            ]
        ]
    },
    {
        "id": "ecdc9631.3f0fb8",
        "type": "function",
        "z": "32688592.0a19aa",
        "name": "Set payload",
        "func": "msg.payload = msg.payload[\"dist-tags\"].latest\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 260,
        "wires": [
            [
                "50ef8aa9.6464b4"
            ]
        ]
    },
    {
        "id": "7c2d0af7.c2fdb4",
        "type": "file",
        "z": "cae895a0.8ab828",
        "name": "",
        "filename": "/home/pi/tardis/nodesDB",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 1590,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f0368866.f3d248",
        "type": "mongodb out",
        "z": "cae895a0.8ab828",
        "mongodb": "4ab95fd9.f813f",
        "name": "",
        "collection": "test",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 1427.89453125,
        "y": 683.578125,
        "wires": []
    }
]