flows.json
[
    {
        "id": "e0c6f6b6.0d5c68",
        "type": "tab",
        "label": "NodeMCU_MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cae895a0.8ab828",
        "type": "tab",
        "label": "Register Device",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4d987d79.a89374",
        "type": "tab",
        "label": "System"
    },
    {
        "id": "58ae81fe.fc8ae",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f95c6e59.5c919",
        "type": "tab",
        "label": "Pin Configuration",
        "disabled": false,
        "info": ""
    },
    {
        "id": "32688592.0a19aa",
        "type": "tab",
        "label": "New Stuff",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f3f9672d.95e688",
        "type": "mqtt-broker",
        "z": "",
        "broker": "hoppellodge.remotewebaccess.com",
        "port": "2812",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "6bf64492.b29f0c",
        "type": "ui_group",
        "z": "",
        "name": "Commands",
        "tab": "5b605797.172848",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": true
    },
    {
        "id": "ae257199.19c84",
        "type": "ui_group",
        "z": "",
        "name": "Output",
        "tab": "5b605797.172848",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "e87b0972.cfcab8",
        "type": "ui_group",
        "z": "",
        "name": "Misc",
        "tab": "9adba5f3.d78bb8",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "9cf22ad5.af9e78",
        "type": "ui_group",
        "z": "",
        "name": "Pin Configuration & Status",
        "tab": "5b605797.172848",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "45bddcde.4b1494",
        "type": "ui_group",
        "z": "",
        "name": "Device Configuration & Status",
        "tab": "5b605797.172848",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "5b605797.172848",
        "type": "ui_tab",
        "z": "",
        "name": "espy-node",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "dda3f99e.58a6e8",
        "type": "ui_group",
        "z": "",
        "name": "CPU Load",
        "tab": "6ccd2dc7.996d04",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7ab43c03.1413b4",
        "type": "ui_group",
        "z": "",
        "name": "Memory",
        "tab": "6ccd2dc7.996d04",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bb4dabb4.be7b28",
        "type": "ui_group",
        "z": "",
        "name": "System Information",
        "tab": "6ccd2dc7.996d04",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6ccd2dc7.996d04",
        "type": "ui_tab",
        "z": "",
        "name": "System",
        "icon": "dashboard",
        "order": 5
    },
    {
        "id": "fa17f0fb.e881e",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "edited": false,
                "reset": false
            },
            "customTheme": {
                "name": "techdogs",
                "default": "#4B7930",
                "baseColor": "#7aa2f3",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#89bbfe",
                    "value": "#7aa2f3",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#7aa2f3",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#82624b",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#9d9d9d",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#676767",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#4e4e4e",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#7aa2f3",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#4f4f4f",
                    "edited": true
                },
                "base-font": {
                    "value": "Century Gothic,CenturyGothic,AppleGothic,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b5372e87.bef79",
        "type": "ui_group",
        "z": "",
        "name": "Device Name",
        "tab": "3a8dcbb7.653aa4",
        "order": 2,
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "3a8dcbb7.653aa4",
        "type": "ui_tab",
        "z": "",
        "name": "Messaging",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "9adba5f3.d78bb8",
        "type": "ui_tab",
        "z": "",
        "name": "Miscellaneous",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "8f789c15.e1ead",
        "type": "ui_tab",
        "z": "",
        "name": "Recording",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "e9b37a71.d109a8",
        "type": "ui_group",
        "z": "",
        "name": "Heap",
        "tab": "8f789c15.e1ead",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a8bd550f.68f708",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "8f789c15.e1ead",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f095d7f0.6182d8",
        "type": "ui_tab",
        "z": "",
        "name": "Devices",
        "icon": "dashboard",
        "order": 6
    },
    {
        "id": "857ece11.192e7",
        "type": "ui_group",
        "z": "",
        "name": "Create Pin Configuration",
        "tab": "f095d7f0.6182d8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "41f3f0a9.18b08",
        "type": "ui_group",
        "z": "",
        "name": "pwm [p4] LED",
        "tab": "5b605797.172848",
        "order": 5,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "ff4eeddc.01f8c",
        "type": "ui_group",
        "z": "",
        "name": "Message Screen",
        "tab": "3a8dcbb7.653aa4",
        "order": 2,
        "disp": false,
        "width": "3",
        "collapse": false
    },
    {
        "id": "ce69597e.975798",
        "type": "mqtt out",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "topic": "/HL/D1m_078a87/cmd",
        "qos": "",
        "retain": "",
        "broker": "f3f9672d.95e688",
        "x": 1012,
        "y": 700,
        "wires": []
    },
    {
        "id": "110362ba.b083ad",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/cmd",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 1270,
        "y": 900,
        "wires": []
    },
    {
        "id": "73e5bf1a.699bc",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "cmd",
        "topic": "/HL/D1m_078a87/cmd",
        "qos": "2",
        "broker": "f3f9672d.95e688",
        "x": 963,
        "y": 900,
        "wires": [
            [
                "5fff5a16.735b14"
            ]
        ]
    },
    {
        "id": "31a41c25.f05fc4",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "tmpr",
        "topic": "/HL/D1m_078a87/tmpr",
        "qos": "2",
        "broker": "f3f9672d.95e688",
        "x": 963,
        "y": 949,
        "wires": [
            [
                "4780d4de.b920dc"
            ]
        ]
    },
    {
        "id": "6412b145.9610a",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/tmpr",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload.tmpr",
        "x": 1268,
        "y": 950,
        "wires": []
    },
    {
        "id": "30c0bffc.5bd3e",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "ipins",
        "topic": "/HL/D1m_078a87/ipins",
        "qos": "2",
        "broker": "f3f9672d.95e688",
        "x": 963,
        "y": 1110,
        "wires": [
            [
                "3f259d9a.c8b952"
            ]
        ]
    },
    {
        "id": "3e07935a.b2c24c",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/ipins",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1278,
        "y": 1111,
        "wires": []
    },
    {
        "id": "26ffb29f.5d0e0e",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "configuration",
        "topic": "/HL/D1m_078a87/",
        "qos": "0",
        "broker": "f3f9672d.95e688",
        "x": 978,
        "y": 849,
        "wires": [
            [
                "5a825574.df760c"
            ]
        ]
    },
    {
        "id": "584e397f.2997c8",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "x": 1415,
        "y": 849,
        "wires": []
    },
    {
        "id": "5eba9624.a43be8",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "register",
        "topic": "/HL/register",
        "qos": "2",
        "broker": "f3f9672d.95e688",
        "x": 963,
        "y": 752,
        "wires": [
            [
                "a22ffc04.3a8fc"
            ]
        ]
    },
    {
        "id": "cd71d81d.323c18",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "HL/register",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1363,
        "y": 753,
        "wires": []
    },
    {
        "id": "65df9d69.066e64",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "pins",
        "topic": "/HL/D1m_078a87/pins",
        "qos": "2",
        "broker": "f3f9672d.95e688",
        "x": 963,
        "y": 1050,
        "wires": [
            [
                "55a1a6e5.69e4e8"
            ]
        ]
    },
    {
        "id": "93f8a9f7.670de8",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/pins",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.pins",
        "x": 1278,
        "y": 1050,
        "wires": []
    },
    {
        "id": "38fd112e.ed8d2e",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/heap",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.heap",
        "x": 1277,
        "y": 1000,
        "wires": []
    },
    {
        "id": "8883614a.cae1e",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "heap",
        "topic": "/HL/D1m_078a87/heap",
        "qos": "2",
        "broker": "f3f9672d.95e688",
        "x": 963,
        "y": 1000,
        "wires": [
            [
                "f7337e04.bdec2"
            ]
        ]
    },
    {
        "id": "fe86d77d.496198",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "Debug Toggle",
        "group": "6bf64492.b29f0c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Debug Toggle",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"DEBUG\"}",
        "payloadType": "str",
        "topic": "",
        "x": 690,
        "y": 1120,
        "wires": [
            [
                "ce69597e.975798"
            ]
        ]
    },
    {
        "id": "5a825574.df760c",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "configuration JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1173,
        "y": 849,
        "wires": [
            [
                "584e397f.2997c8",
                "386b73c3.aaf41c",
                "f2eff67f.c44e58"
            ]
        ]
    },
    {
        "id": "5fff5a16.735b14",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "pretty": false,
        "x": 1103,
        "y": 900,
        "wires": [
            [
                "110362ba.b083ad"
            ]
        ]
    },
    {
        "id": "55a1a6e5.69e4e8",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1097.1000518798828,
        "y": 1049.7999029159546,
        "wires": [
            [
                "93f8a9f7.670de8",
                "1bee4215.6b942e"
            ]
        ]
    },
    {
        "id": "4780d4de.b920dc",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "pretty": false,
        "x": 1097,
        "y": 949,
        "wires": [
            [
                "6412b145.9610a",
                "7fa78f9a.a6117"
            ]
        ]
    },
    {
        "id": "3f259d9a.c8b952",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "pretty": false,
        "x": 1096,
        "y": 1110,
        "wires": [
            [
                "3e07935a.b2c24c",
                "214d38cf.c23d18",
                "f64d4470.ea3fe8"
            ]
        ]
    },
    {
        "id": "f7337e04.bdec2",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1096,
        "y": 1000,
        "wires": [
            [
                "38fd112e.ed8d2e",
                "a3e1bf99.1868c"
            ]
        ]
    },
    {
        "id": "7fa78f9a.a6117",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "tmpr",
        "func": "var tmpr = msg.payload.tmpr\nmsg.payload = tmpr \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1443,
        "y": 933,
        "wires": [
            [
                "d25f9b73.c3e698",
                "ee0875d8.d48bd8"
            ]
        ]
    },
    {
        "id": "d25f9b73.c3e698",
        "type": "ui_gauge",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "group": "ae257199.19c84",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "55",
        "max": "100",
        "colors": [
            "#3f35f7",
            "#1fd610",
            "#ca3838"
        ],
        "seg1": "65",
        "seg2": "72",
        "x": 1703,
        "y": 893,
        "wires": []
    },
    {
        "id": "a3e1bf99.1868c",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "heap",
        "func": "var heap = msg.payload.heap\nmsg.payload = heap\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1443,
        "y": 973,
        "wires": [
            [
                "67adc343.0da6fc",
                "90cba916.f5af68"
            ]
        ]
    },
    {
        "id": "67adc343.0da6fc",
        "type": "ui_gauge",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "group": "ae257199.19c84",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Heap Memory",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "15000",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#29ee13"
        ],
        "seg1": "6500",
        "seg2": "12500",
        "x": 1713,
        "y": 933,
        "wires": []
    },
    {
        "id": "2fd4a0c2.c12e4",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "reset",
        "group": "6bf64492.b29f0c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"reset\"}",
        "payloadType": "str",
        "topic": "",
        "x": 402,
        "y": 700,
        "wires": [
            [
                "ce69597e.975798",
                "a81aab1e.101008"
            ]
        ]
    },
    {
        "id": "8783d77a.950728",
        "type": "ui_slider",
        "z": "e0c6f6b6.0d5c68",
        "name": "t_cal",
        "label": "t_cal",
        "group": "6bf64492.b29f0c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "t_cal",
        "min": "-5",
        "max": "5",
        "step": 1,
        "x": 650,
        "y": 680,
        "wires": [
            [
                "10e1ebad.66a734",
                "87ea87f6.0a7c28"
            ]
        ]
    },
    {
        "id": "73f2ffba.d1f35",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "Blue :LED",
        "label": "Blue LED",
        "group": "6bf64492.b29f0c",
        "order": 9,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"4\":1}}",
        "onvalueType": "json",
        "onicon": "check_box_outline_blank",
        "oncolor": "#050505",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"4\":0}} ",
        "offvalueType": "json",
        "officon": "check_box",
        "offcolor": "#2d20db",
        "x": 708,
        "y": 954,
        "wires": [
            [
                "ce69597e.975798"
            ]
        ]
    },
    {
        "id": "2f7e62f.197529e",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "p0",
        "label": "p0",
        "group": "6bf64492.b29f0c",
        "order": 10,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"0\":1}}",
        "onvalueType": "json",
        "onicon": "fa-check-square",
        "oncolor": "#48f442",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"0\":0}}",
        "offvalueType": "json",
        "officon": "fa-square-o ",
        "offcolor": "#f44256",
        "x": 718.0000839233398,
        "y": 813.000165939331,
        "wires": [
            [
                "ce69597e.975798"
            ]
        ]
    },
    {
        "id": "e52685df.54b1f8",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "IO Screen Toggle",
        "group": "6bf64492.b29f0c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "IO Screen Toggle",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"scrn_io\"}",
        "payloadType": "str",
        "topic": "/HL/Dm_078a87/cmd",
        "x": 680,
        "y": 1080,
        "wires": [
            [
                "ce69597e.975798"
            ]
        ]
    },
    {
        "id": "de5d2a13.8c1de8",
        "type": "inject",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 430,
        "y": 960,
        "wires": [
            [
                "a81aab1e.101008"
            ]
        ]
    },
    {
        "id": "a81aab1e.101008",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "Reset",
        "func": "msg.reset = true\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 880,
        "wires": [
            [
                "73f2ffba.d1f35",
                "2f7e62f.197529e",
                "122ddd45.68b293",
                "b9394b1a.953098",
                "5a46baa7.256964",
                "640e1376.5a81fc"
            ]
        ]
    },
    {
        "id": "122ddd45.68b293",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "p7",
        "label": "p7",
        "group": "6bf64492.b29f0c",
        "order": 11,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"7\":1}}",
        "onvalueType": "json",
        "onicon": "fa-check-square",
        "oncolor": "#48f442",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"7\":0}}",
        "offvalueType": "json",
        "officon": "fa-square-o ",
        "offcolor": "#f44256 ",
        "x": 719,
        "y": 859,
        "wires": [
            [
                "ce69597e.975798"
            ]
        ]
    },
    {
        "id": "b9394b1a.953098",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "p8",
        "label": "p8",
        "group": "6bf64492.b29f0c",
        "order": 12,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"8\":1}}",
        "onvalueType": "json",
        "onicon": "fa-check-square",
        "oncolor": " #48f442",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"8\":0}}",
        "offvalueType": "json",
        "officon": "fa-square-o ",
        "offcolor": "#f44256",
        "x": 715,
        "y": 906,
        "wires": [
            [
                "ce69597e.975798"
            ]
        ]
    },
    {
        "id": "5a46baa7.256964",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "RESET",
        "links": [
            "9730944a.c93858"
        ],
        "x": 555,
        "y": 960,
        "wires": []
    },
    {
        "id": "a22ffc04.3a8fc",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "Device Registered JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1157,
        "y": 753,
        "wires": [
            [
                "cd71d81d.323c18",
                "a5cbdf95.32add"
            ]
        ]
    },
    {
        "id": "214d38cf.c23d18",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "Split D ipins",
        "func": "var msg1 = { payload:msg.payload.ipins[\"3\"] };\nvar msg2 = { payload:msg.payload.ipins[\"5\"] };\nvar msg3 = { payload:msg.payload.ipins[\"6\"] };\n\nreturn [msg1, msg2, msg3 ];\n",
        "outputs": 3,
        "noerr": 0,
        "x": 1003,
        "y": 1220,
        "wires": [
            [
                "729e7ea5.64ed7"
            ],
            [
                "1fb46fa0.eb6c7",
                "b59ea8f8.8d27b8"
            ],
            [
                "d6a5ce23.3bef8"
            ]
        ]
    },
    {
        "id": "729e7ea5.64ed7",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "p3i",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1203,
        "y": 1207,
        "wires": []
    },
    {
        "id": "1fb46fa0.eb6c7",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "p5i",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1203,
        "y": 1247,
        "wires": []
    },
    {
        "id": "d6a5ce23.3bef8",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "p6i",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1203,
        "y": 1287,
        "wires": []
    },
    {
        "id": "f64d4470.ea3fe8",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "ae257199.19c84",
        "name": "IPINS",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"center\">\n<p><b><u>Input Pins</u></b></p>\n</div>\n<div layout=\"row\" layout-align=\"center\">\n<p>3 5 6</p>\n</div>\n<div layout=\"row\" layout-align=\"center\">\n<p> \n{{msg.payload.ipins[\"3\"]}} \n{{msg.payload.ipins[\"5\"]}} \n{{msg.payload.ipins[\"6\"]}}  \n</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1683,
        "y": 1113,
        "wires": [
            []
        ]
    },
    {
        "id": "26b98fca.50191",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "9cf22ad5.af9e78",
        "name": "Pin Config & States",
        "order": 2,
        "width": "7",
        "height": "11",
        "format": "<h3>Pin States</h3>\n<ol start = 0>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"0\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"1\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"2\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"3\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"4\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"5\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"6\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"7\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"8\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"9\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"10\"]}}</span></li>\n</ol>\n<h3>Pin States Legend</h3>\n<a style=\"color:LightBlue;\"  target=\"_blank\" href=\"https://nodemcu.readthedocs.io/en/master/en/modules/gpio/#gpiomode\">gpio docs</a>\n<h4>m (modes)</h4>\n<ol start = 0>\n<li>gpio.INPUT</li> \n<li>gpio.OUTPUT</li> \n<li>gpio.INT</li>\n<li>gpio.OPENDRAIN</li>  \n</ol>\n<h4>r (read state)</h4>\n<ol start = 0>\n<li>LOW</li>\n<li>HIGH</li>\n</ol>\n<h4>w (write state)</h4>\n<ol start = 0>\n<li>LOW</li>\n<li>HIGH</li>\n</ol>\n<h4>pu (pullup)</h4>\n<ol start = 0>\n<li>FLOAT  true</li>\n<li>PULLUP false</li>\n</ol>\n<p>pullup gpio.PULLUP enables the weak pull-up resistor; </p>\n<p>default is gpio.FLOAT</p>\n<h4>t  (trigger type)</h4>\n<ul>\n<li>\"up\"</li> \n<li>\"down\"</li> \n<li>\"both\"</li> \n<li>\"low\"</li> \n<li>\"high\"</li>\n</ul>\n<h4>pwm  (pulse width modulation)</h4>\n<ul>\n<li>ON: \"true\"</li> \n<li>OFF: \"false\"</li> \n</ul>\n<h4>freq (frequency for pwm pin)</h4>\n<ul>\n<li>INT</li>\n<li>pwm frequency (0 - 1000 Hz)</li> \n</ul>\n<h4>duty (duty cycle for pwm pin)</h4>\n<ul>\n<li>INT</li>\n<li>duty cycle (0-1024)</li> \n</ul>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1723,
        "y": 1073,
        "wires": [
            []
        ]
    },
    {
        "id": "9730944a.c93858",
        "type": "link in",
        "z": "e0c6f6b6.0d5c68",
        "name": "RESET",
        "links": [
            "5a46baa7.256964"
        ],
        "x": 1515,
        "y": 880,
        "wires": [
            [
                "f64d4470.ea3fe8",
                "26b98fca.50191",
                "386b73c3.aaf41c",
                "67adc343.0da6fc",
                "d25f9b73.c3e698"
            ]
        ]
    },
    {
        "id": "386b73c3.aaf41c",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "45bddcde.4b1494",
        "name": "Device Configuration",
        "order": 2,
        "width": "7",
        "height": "10",
        "format": "<h3>Device Configuration </h3>\n<p>[ID]<span style=\"color:LightBlue\"> {{msg.payload[0]}}</span> </p>\n<p>D (Device) Object</p>\n<ol>\n<li>dbg:     <span style=\"color:LightBlue\"> {{msg.payload[1].dbg}}</span></li>    \n<li>tmpr:    <span style=\"color:LightBlue\"> {{msg.payload[1].tmpr}}</span></li>\n<li>screen:  <span style=\"color:LightBlue\"> {{msg.payload[1].screen}}</span></li>\n<li>mqtt:    <span style=\"color:LightBlue\"> {{msg.payload[1].mqtt}}</span></li>\n<li>heap_min:<span style=\"color:LightBlue\"> {{msg.payload[1].heap_min}} </span> </li>\n<li>flashid: <span style=\"color:LightBlue\"> {{msg.payload[1].flashid}}  </span></li>\n<li>flashsize:<span style=\"colorLightBluea\"> {{msg.payload[1].flashsize}} </span> </li>\n<li>heap:    <span style=\"color:LightBlue\"> {{msg.payload[1].heap}}</span></li>\n<li>pins: \t <span style=\"color:LightBlue\"> {{msg.payload[1].pins}}</span></li>\n<li>chipid:  <span style=\"color:LightBlue\"> {{msg.payload[1].chipid}}</span></li>\n<li>ID: \t <span style=\"color:LightBlue\"> {{msg.payload[1].ID}}</span></li>\n<li>LED: \t <span style=\"color:LightBlue\"> {{msg.payload[1].LED}}</span></li>\n<li>t_cal:\t <span style=\"color:LightBlue\"> {{msg.payload[1].t_cal}}</span></li>\n<li>name: \t <span style=\"color:LightBlue\"> {{msg.payload[1].name}}</span></li>\n<li>ap_mac:  <span style=\"color:LightBlue\"> {{msg.payload[1].ap_mac}}</span> </li>\n<li>bootreason_extnd: <span style=\"color:LightBlue\"> {{msg.payload[1].bootreason_extnd}}</span> </li>\n<li>ip: \t <span style=\"color:LightBlue\"> {{msg.payload[1].ip}}</span></li>\n<li>sta_mac: <span style=\"color:LightBlue\"> {{msg.payload[1].sta_mac}}</span></li>\n<li>type: \t <span style=\"color:LightBlue\"> {{msg.payload[1].type}}</span></li>\n<li>msg: \t <span style=\"color:LightBlue\"> {{msg.payload[1].msg}}</span></li>\n</ol>\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 1728,
        "y": 850,
        "wires": [
            []
        ]
    },
    {
        "id": "640e1376.5a81fc",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "pins CMD",
        "group": "6bf64492.b29f0c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "pins CMD",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"pins\"}",
        "payloadType": "str",
        "topic": "",
        "x": 707,
        "y": 1002,
        "wires": [
            [
                "ce69597e.975798"
            ]
        ]
    },
    {
        "id": "55a3d82f.259e88",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "Remote Espy-Node Reset & Re-Initialze State",
        "info": "",
        "x": 470,
        "y": 820,
        "wires": []
    },
    {
        "id": "90ea2cd.30559d",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "To-Do & Status & Info",
        "info": "# _Node-Red_\n## Context\n- ~~add Espy-Node Name to Dashboard entries~~\n\n## Configurations & states\n- ~~clean up help in menu~~\n- add PWM & FREQ control for blue LED using slider\n\n# _espy-node_\n- ~~create error node messages~~\n- re-write inputs to process using INT rather than polling\n\n## requested changes\n- ~~send ipins status upon initialization~~\n- ~~send pin intialization command~~\n\n## Commands\n- ~~tcal~~\n- ~~remove heap command (can use device command instead)~~\n\n## Testing\n- ~~pin configuration commands~~\n- ~~create testing subflows for inject nodes~~\n\n[System information Flow](https://flows.nodered.org/flow/9b9f68f6641a42452e848a37da5df972)\n\n[HTML Cheatsheet](chrome-extension://klbibkeccnjlkjkiokjodocebajanakg/suspended.html#ttl=HTML%20Cheat%20Sheet%20-%20A%20Simple%20Guide%20to%20HTML&uri=http://www.simplehtmlguide.com/cheatsheet.php)",
        "x": 940,
        "y": 1300,
        "wires": []
    },
    {
        "id": "c358bee6.9943f",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "created to perform individual actions based on a single pin change",
        "info": "",
        "x": 1168,
        "y": 1170,
        "wires": []
    },
    {
        "id": "ea3b98be.a1d368",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "status & control for 1 espy-node",
        "info": "",
        "x": 1703,
        "y": 800,
        "wires": []
    },
    {
        "id": "545de4cf.d674dc",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "Commands Topic Injection",
        "info": "",
        "x": 450,
        "y": 600,
        "wires": []
    },
    {
        "id": "5d74104.feb73f",
        "type": "ui_audio",
        "z": "e0c6f6b6.0d5c68",
        "name": "speech",
        "group": "ae257199.19c84",
        "voice": "en-GB",
        "always": "",
        "x": 1573,
        "y": 1260,
        "wires": []
    },
    {
        "id": "b59ea8f8.8d27b8",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "make text",
        "func": "if (msg.payload === 1)\nmsg.payload = \"pin 5 went high\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1393,
        "y": 1260,
        "wires": [
            [
                "5d74104.feb73f"
            ]
        ]
    },
    {
        "id": "10e1ebad.66a734",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "t_cal",
        "func": "var t_cal = msg.payload;\nmsg.payload = {\"cmd\":\"t_cal\",\"t_cal\":t_cal}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 680,
        "wires": [
            [
                "ce69597e.975798"
            ]
        ]
    },
    {
        "id": "bf6876f6.0b9138",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "error",
        "topic": "/HL/D1m_078a87/error",
        "qos": "2",
        "broker": "f3f9672d.95e688",
        "x": 963,
        "y": 800,
        "wires": [
            [
                "ba972b1e.2d9238"
            ]
        ]
    },
    {
        "id": "ba972b1e.2d9238",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "pretty": false,
        "x": 1103,
        "y": 800,
        "wires": [
            [
                "30e51e95.cdb8d2"
            ]
        ]
    },
    {
        "id": "30e51e95.cdb8d2",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]//error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1276,
        "y": 800,
        "wires": []
    },
    {
        "id": "9b09422c.ce3f1",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "Device Status",
        "group": "6bf64492.b29f0c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Device Status",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"device\"}",
        "payloadType": "str",
        "topic": "",
        "x": 690,
        "y": 1160,
        "wires": [
            [
                "ce69597e.975798"
            ]
        ]
    },
    {
        "id": "4d740e79.976c7",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "MQTT Interface",
        "info": "",
        "x": 1000,
        "y": 640,
        "wires": []
    },
    {
        "id": "ee0875d8.d48bd8",
        "type": "ui_chart",
        "z": "e0c6f6b6.0d5c68",
        "name": "Temperature",
        "group": "a8bd550f.68f708",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1703,
        "y": 973,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "90cba916.f5af68",
        "type": "ui_chart",
        "z": "e0c6f6b6.0d5c68",
        "name": "Heap Memory",
        "group": "e9b37a71.d109a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Heap Memory",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1714,
        "y": 1014,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2cfebb30.8dc224",
        "type": "inject",
        "z": "4d987d79.a89374",
        "name": "update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 220,
        "y": 640,
        "wires": [
            [
                "5812063c.272748",
                "156e9d07.487973"
            ]
        ]
    },
    {
        "id": "9d7160ba.f455d",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 560,
        "wires": [
            [
                "3c52eeb5.4cf602"
            ]
        ]
    },
    {
        "id": "78ce77ee.011b88",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 600,
        "wires": [
            [
                "561c5ad9.217384"
            ]
        ]
    },
    {
        "id": "eff7ffe9.00293",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 640,
        "wires": [
            [
                "c0f42334.0f946"
            ]
        ]
    },
    {
        "id": "3c52eeb5.4cf602",
        "type": "ui_gauge",
        "z": "4d987d79.a89374",
        "name": "CPU Load 1",
        "group": "dda3f99e.58a6e8",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "1 Minute",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "561c5ad9.217384",
        "type": "ui_gauge",
        "z": "4d987d79.a89374",
        "name": "CPU Load 2",
        "group": "dda3f99e.58a6e8",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "5 Minutes",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 830,
        "y": 600,
        "wires": []
    },
    {
        "id": "c0f42334.0f946",
        "type": "ui_gauge",
        "z": "4d987d79.a89374",
        "name": "CPU Load 3",
        "group": "dda3f99e.58a6e8",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "15 Minutes",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "e7905903.efacb8",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 780,
        "wires": [
            [
                "12edda16.5d9706"
            ]
        ]
    },
    {
        "id": "12edda16.5d9706",
        "type": "ui_gauge",
        "z": "4d987d79.a89374",
        "name": "Memory Usage",
        "group": "7ab43c03.1413b4",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "1 Minute",
        "label": "Usage",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 840,
        "y": 780,
        "wires": []
    },
    {
        "id": "b3fedcee.d4007",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 820,
        "wires": [
            [
                "2a6d2151.0e742e"
            ]
        ]
    },
    {
        "id": "74949524.0a74bc",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 860,
        "wires": [
            [
                "667c889f.239e68"
            ]
        ]
    },
    {
        "id": "2a6d2151.0e742e",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "7ab43c03.1413b4",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Total Memory",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 840,
        "y": 820,
        "wires": []
    },
    {
        "id": "667c889f.239e68",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "7ab43c03.1413b4",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Free Memory",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 830,
        "y": 860,
        "wires": []
    },
    {
        "id": "3a3cc1fe.fd61ae",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 160,
        "wires": [
            [
                "8bfc40ac.367e6"
            ]
        ]
    },
    {
        "id": "8bfc40ac.367e6",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "dda3f99e.58a6e8",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 818,
        "y": 152,
        "wires": []
    },
    {
        "id": "8cf45394.89e6c",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.hostname;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 649,
        "y": 197,
        "wires": [
            [
                "d337a8a9.4c62f8"
            ]
        ]
    },
    {
        "id": "d337a8a9.4c62f8",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Hostname",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 828,
        "y": 192,
        "wires": []
    },
    {
        "id": "7c13573.62a26a8",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.platform;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 651,
        "y": 235,
        "wires": [
            [
                "b6b63efb.62c58"
            ]
        ]
    },
    {
        "id": "b6b63efb.62c58",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Platform",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 818,
        "y": 232,
        "wires": []
    },
    {
        "id": "38a74d11.f31dc2",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.arch;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 652,
        "y": 274,
        "wires": [
            [
                "7bb6713.3891e9"
            ]
        ]
    },
    {
        "id": "7bb6713.3891e9",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Arch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 808,
        "y": 272,
        "wires": []
    },
    {
        "id": "c768de29.203a1",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.release;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 653,
        "y": 310,
        "wires": [
            [
                "cf010ae3.f0fbf8"
            ]
        ]
    },
    {
        "id": "cf010ae3.f0fbf8",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Release",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 818,
        "y": 312,
        "wires": []
    },
    {
        "id": "9104c8fc.7d6668",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.cpus[0].model;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 648,
        "y": 432,
        "wires": [
            [
                "56bb3233.961f2c",
                "92e80370.f935a",
                "42012451.6181ec",
                "5fee975f.694988"
            ]
        ]
    },
    {
        "id": "56bb3233.961f2c",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "CPU 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 808,
        "y": 372,
        "wires": []
    },
    {
        "id": "92e80370.f935a",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "CPU 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 808,
        "y": 412,
        "wires": []
    },
    {
        "id": "42012451.6181ec",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "CPU 3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 808,
        "y": 452,
        "wires": []
    },
    {
        "id": "5fee975f.694988",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "CPU 4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 808,
        "y": 492,
        "wires": []
    },
    {
        "id": "e152d9f0.ae62c8",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 680,
        "wires": [
            [
                "36695f97.73924"
            ]
        ]
    },
    {
        "id": "36695f97.73924",
        "type": "ui_chart",
        "z": "4d987d79.a89374",
        "name": "CPU Load - Historical",
        "group": "dda3f99e.58a6e8",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "24 Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "%H:%M:%S",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderUnit": "86400",
        "x": 860,
        "y": 680,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "200a8f8c.d6df7",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 740,
        "wires": [
            [
                "7b83154a.38ac2c"
            ]
        ]
    },
    {
        "id": "7b83154a.38ac2c",
        "type": "ui_chart",
        "z": "4d987d79.a89374",
        "name": "Memory - 24 Hours",
        "group": "7ab43c03.1413b4",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "24 Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "%H:%M:%S",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 850,
        "y": 740,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "36a06252.91e64e",
        "type": "comment",
        "z": "4d987d79.a89374",
        "name": "CPU Load",
        "info": "",
        "x": 420,
        "y": 560,
        "wires": []
    },
    {
        "id": "8ff1306d.4ea7",
        "type": "comment",
        "z": "4d987d79.a89374",
        "name": "Memory Usage",
        "info": "",
        "x": 420,
        "y": 720,
        "wires": []
    },
    {
        "id": "21719bb4.cedd74",
        "type": "comment",
        "z": "4d987d79.a89374",
        "name": "System Information",
        "info": "",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "940cb006.00f3c",
        "type": "OS",
        "z": "4d987d79.a89374",
        "name": "",
        "x": 430,
        "y": 340,
        "wires": [
            [
                "8cf45394.89e6c",
                "7c13573.62a26a8",
                "38a74d11.f31dc2",
                "c768de29.203a1"
            ]
        ]
    },
    {
        "id": "c852e109.d0cbf",
        "type": "Uptime",
        "z": "4d987d79.a89374",
        "name": "",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "3a3cc1fe.fd61ae"
            ]
        ]
    },
    {
        "id": "c0aef0c7.62a75",
        "type": "CPUs",
        "z": "4d987d79.a89374",
        "name": "",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "9104c8fc.7d6668"
            ]
        ]
    },
    {
        "id": "5812063c.272748",
        "type": "Loadavg",
        "z": "4d987d79.a89374",
        "name": "",
        "x": 420,
        "y": 600,
        "wires": [
            [
                "9d7160ba.f455d",
                "78ce77ee.011b88",
                "eff7ffe9.00293",
                "e152d9f0.ae62c8"
            ]
        ]
    },
    {
        "id": "156e9d07.487973",
        "type": "Memory",
        "z": "4d987d79.a89374",
        "name": "",
        "x": 420,
        "y": 760,
        "wires": [
            [
                "e7905903.efacb8",
                "b3fedcee.d4007",
                "74949524.0a74bc",
                "200a8f8c.d6df7"
            ]
        ]
    },
    {
        "id": "2978d59f.28548a",
        "type": "inject",
        "z": "4d987d79.a89374",
        "name": "update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "c852e109.d0cbf",
                "940cb006.00f3c",
                "c0aef0c7.62a75"
            ]
        ]
    },
    {
        "id": "1bee4215.6b942e",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "func": "for (i = 1; i <= 10; i++ ) {\nif (typeof msg.payload.pins[i.toString()]  == 'undefined') {msg.payload.pins[i.toString()] = \"N/A\";}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1441,
        "y": 1033,
        "wires": [
            [
                "26b98fca.50191"
            ]
        ]
    },
    {
        "id": "f4ed4e8a.e7a61",
        "type": "ui_form",
        "z": "e0c6f6b6.0d5c68",
        "name": "Message Screen",
        "label": "Message Screen on device",
        "group": "ff4eeddc.01f8c",
        "order": 3,
        "width": "3",
        "height": "10",
        "options": [
            {
                "label": "Header",
                "value": "1",
                "type": "text",
                "required": false
            },
            {
                "label": "L1",
                "value": "2",
                "type": "text",
                "required": false
            },
            {
                "label": "L2",
                "value": "3",
                "type": "text",
                "required": false
            },
            {
                "label": "L3",
                "value": "4",
                "type": "text",
                "required": false
            },
            {
                "label": "L4",
                "value": "5",
                "type": "text",
                "required": false
            }
        ],
        "formValue": {
            "1": "",
            "2": "",
            "3": "",
            "4": "",
            "5": ""
        },
        "payload": "",
        "topic": "",
        "x": 568,
        "y": 769,
        "wires": [
            [
                "524d2f66.75d54"
            ]
        ]
    },
    {
        "id": "524d2f66.75d54",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "func": "var mymsg = msg.payload\nmsg.payload = {\"cmd\":\"msg\",\"msg\":mymsg}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 718,
        "y": 769,
        "wires": [
            [
                "ce69597e.975798"
            ]
        ]
    },
    {
        "id": "485f86d.8ee0f78",
        "type": "ui_form",
        "z": "e0c6f6b6.0d5c68",
        "name": "FriendlyName",
        "label": "Device Name",
        "group": "b5372e87.bef79",
        "order": 2,
        "width": "3",
        "height": "9",
        "options": [
            {
                "label": "FriendlyName",
                "value": "name",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "name": ""
        },
        "payload": "",
        "topic": "",
        "x": 558,
        "y": 729,
        "wires": [
            [
                "73c9c9ee.73c098"
            ]
        ]
    },
    {
        "id": "73c9c9ee.73c098",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "func": "var myname = msg.payload\nmsg.payload = {\"cmd\":\"name\",\"name\":myname.name}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 718,
        "y": 729,
        "wires": [
            [
                "ce69597e.975798"
            ]
        ]
    },
    {
        "id": "f0ad2de8.41418",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "Clear Message",
        "group": "ff4eeddc.01f8c",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Clear Message",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"msg\",\"msg\":\"\"}",
        "payloadType": "str",
        "topic": "",
        "x": 690,
        "y": 1040,
        "wires": [
            [
                "ce69597e.975798"
            ]
        ]
    },
    {
        "id": "a5cbdf95.32add",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "REGISTER",
        "links": [
            "2e2c0253.a3741e",
            "3450a6f7.209e5a"
        ],
        "x": 1308,
        "y": 710,
        "wires": []
    },
    {
        "id": "4fbbf2ef.48317c",
        "type": "function",
        "z": "cae895a0.8ab828",
        "name": "TEST:Create Flow espy-node context",
        "func": "// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "4e789cbe.bc2fc4",
        "type": "function",
        "z": "cae895a0.8ab828",
        "name": "Create Flow espy-node object",
        "func": "// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get('espy-count')||0;\n\nif (msg.reset === true) {\n    count = 0;\n    name = \"?\";\n    id = \"?\";\n    }\n    else {\n    count += 1;\n    var id = msg.payload[0];\n    var name = msg.payload[1].name;\n    }\n// store the value back\n\nflow.set('espy-count',count);\nflow.set('name',name);\n//flow.set('id',name);\n// make it part of the outgoing msg object\nmsg.count = count;\nmsg.name = name;\nmsg.id = id\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "3494a47c.ffd36c",
                "d42499c7.7f9f18",
                "2f4005ff.c2cdba",
                "d4e58902.fe58b8"
            ]
        ]
    },
    {
        "id": "3f9efd89.fbffe2",
        "type": "inject",
        "z": "cae895a0.8ab828",
        "name": "Inc #nodes",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "4e789cbe.bc2fc4"
            ]
        ]
    },
    {
        "id": "3494a47c.ffd36c",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "45bddcde.4b1494",
        "name": "Instance Full Info",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.name}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 870,
        "y": 300,
        "wires": [
            [
                "323ab5f9.d6813a"
            ]
        ]
    },
    {
        "id": "d42499c7.7f9f18",
        "type": "debug",
        "z": "cae895a0.8ab828",
        "name": "view msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "984adf6f.84cac",
        "type": "function",
        "z": "cae895a0.8ab828",
        "name": "set reset",
        "func": "msg.reset = true\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "4e789cbe.bc2fc4",
                "70541816.25e608"
            ]
        ]
    },
    {
        "id": "c5bdebfb.607f88",
        "type": "inject",
        "z": "cae895a0.8ab828",
        "name": "reset flow db",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "984adf6f.84cac"
            ]
        ]
    },
    {
        "id": "2f4005ff.c2cdba",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "6bf64492.b29f0c",
        "name": "Instance Name 1",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.name}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 870,
        "y": 340,
        "wires": [
            [
                "2b4b6c52.8c0aa4"
            ]
        ]
    },
    {
        "id": "70541816.25e608",
        "type": "function",
        "z": "cae895a0.8ab828",
        "name": "create Flow espy-nodes Object",
        "func": "var index=flow.get('index') || 0;\nvar local=flow.get('espy-nodes') || [];\n\nif (msg.reset === true) {\n    index = 0;\n    local = [];\n    }\n    else {\n    index +=1\n    local[index] = [msg.payload[0],msg.payload[2]]\n    }\n\nflow.set('index',index);\nflow.set('espy-nodes', local)\n\nmsg.payload=\"F4 \" + local[index];\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "3d685019.2cb53",
                "67dba820.133bf8"
            ]
        ]
    },
    {
        "id": "3d685019.2cb53",
        "type": "debug",
        "z": "cae895a0.8ab828",
        "name": "Test flow Object 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "bbd6723a.c0c8d",
        "type": "inject",
        "z": "cae895a0.8ab828",
        "name": "inject PINS JSON olbject",
        "topic": "",
        "payload": "[\"Dm_078a87\",\"register\",{\"tmpr\":0,\"s_io\":false,\"mqtt\":false,\"heap_min\":4000,\"flashid\":1458415,\"flashsize\":4194304,\"heap\":12976,\"pins\":9,\"chipid\":494215,\"ID\":\"Dm_078a87\",\"LED\":4,\"type\":\"Dm\",\"t_cal\":0,\"name\":\" Thing 2\",\"ap_mac\":\"62:01:94:07:8a:87\",\"bootreason_extnd\":3,\"ip\":\"192.168.1.145\",\"sta_mac\":\"60:01:94:07:8a:87\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 210,
        "y": 160,
        "wires": [
            [
                "70541816.25e608"
            ]
        ]
    },
    {
        "id": "67dba820.133bf8",
        "type": "function",
        "z": "cae895a0.8ab828",
        "name": "test object",
        "func": "var local=flow.get('espy-nodes');\nvar index = flow.get('index');\n\nmsg.payload=\"Test Flow Object retrieval: espy-nodes[\"+index+\"] = \" + local[index];\nmsg.instances = local.length\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 180,
        "wires": [
            [
                "b887f81c.0bdbe8"
            ]
        ]
    },
    {
        "id": "b887f81c.0bdbe8",
        "type": "debug",
        "z": "cae895a0.8ab828",
        "name": "Test Flow object 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "d4e58902.fe58b8",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "ae257199.19c84",
        "name": "# espy-nodes",
        "order": 7,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <h4 align = center># espy-nodes = {{msg.count}}</h4>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 860,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1b0a55fc.3e719a",
        "type": "comment",
        "z": "cae895a0.8ab828",
        "name": "Flow [context]",
        "info": "",
        "x": 510,
        "y": 60,
        "wires": []
    },
    {
        "id": "2b4b6c52.8c0aa4",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "ae257199.19c84",
        "name": "Instance Name 2",
        "order": 6,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.name}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1090,
        "y": 340,
        "wires": [
            [
                "5a02c48.2115a3c"
            ]
        ]
    },
    {
        "id": "323ab5f9.d6813a",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "9cf22ad5.af9e78",
        "name": "Instance Full Info 2",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.name}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1090,
        "y": 300,
        "wires": [
            [
                "77ec28ea.065458"
            ]
        ]
    },
    {
        "id": "77ec28ea.065458",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "b5372e87.bef79",
        "name": "Instance Full Info 3",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.name}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1310,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "2e2c0253.a3741e",
        "type": "link in",
        "z": "cae895a0.8ab828",
        "name": "register",
        "links": [
            "a5cbdf95.32add"
        ],
        "x": 295,
        "y": 400,
        "wires": [
            [
                "4e789cbe.bc2fc4",
                "4fbbf2ef.48317c"
            ]
        ]
    },
    {
        "id": "d1135c0.509fea8",
        "type": "link in",
        "z": "e0c6f6b6.0d5c68",
        "name": "Send \"cmd\" topic",
        "links": [
            "b126047.9feb0f8",
            "36aab9f5.b6fd06",
            "48c18a00.134cf8"
        ],
        "x": 825,
        "y": 1160,
        "wires": [
            [
                "ce69597e.975798"
            ]
        ]
    },
    {
        "id": "7750862b.343af8",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p0 \"1\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"0\":1}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "405478fa.274548",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p0 \"0\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"0\":0}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230.1001739501953,
        "y": 232.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "19e1e54e.8647cb",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p4 \"1\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"4\":1}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 229.99999618530273,
        "y": 324.99999141693115,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "4d8da520.4990ac",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p4 \"0\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"4\":0}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 232.0999984741211,
        "y": 291.99999237060547,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "830217a9.73c848",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p7 \"1\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"7\":1}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 227.99999618530273,
        "y": 388.99999141693115,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "621249a7.622f28",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p7 \"0\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"7\":0}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230.0999984741211,
        "y": 355.99999237060547,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "4cd6e923.776ee8",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "DEBUG toggle",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"DEBUG\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200.1001739501953,
        "y": 65.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "16673873.c3eb58",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "reset",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"reset\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230.1001739501953,
        "y": 98.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "3e7df92c.7137e6",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "heap",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"heap\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230.1001739501953,
        "y": 201.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "e126a378.9c5ae",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_list",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_list\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 229.1001739501953,
        "y": 166.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "15d639a5.84a7e6",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230.1001739501953,
        "y": 131.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "31fbdc03.547cb4",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "device",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"device\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230.1001739501953,
        "y": 492.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "a5fae51d.cb5168",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p8 \"0\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"8\":0}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230.0999984741211,
        "y": 420.99999237060547,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "6920b6db.db2e08",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p8 \"1\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"8\":1}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 227.99999618530273,
        "y": 453.99999141693115,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "73199b58.6966e4",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_config p8 \"1\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": " {\"cmd\":\"pins_config\",\"pins\":{\"8\":{\"m\":3,\"w\":1}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190.1001739501953,
        "y": 552.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "a36ecd44.3483a",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_config p8 \"0\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": " {\"cmd\":\"pins_config\",\"pins\":{\"8\":{\"m\":3,\"w\":0}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190.1001739501953,
        "y": 586.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "32d4f00a.90d73",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_config p8 m=0",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": " {\"cmd\":\"pins_config\",\"pins\":{\"8\":{\"m\":0,\"r\":0}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190.1001739501953,
        "y": 621.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "ffe1e25d.f7bd7",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_config \"no mode\"..error",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": " {\"cmd\":\"pins_config\",\"pins\":{\"8\":{\"r\":0}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 160.1001739501953,
        "y": 655.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "21c99b4c.35b914",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_config p4 control",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_config\",\"pins\":{\"4\":{\"pu\":false,\"duty\":256,\"m\":1,\"pwm\":true,\"w\":1,\"freq\":3}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 180.1001739501953,
        "y": 692.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "d646348d.d37548",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pwm p4 start",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pwm\",\"pin\":4}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 209.1001739501953,
        "y": 725.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "9151c5aa.4000e8",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "Change Name",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"name\",\"name\":\" ThingEE\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 209.1001739501953,
        "y": 761.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "15ed7d8b.fb7b22",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "Send msg",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"msg\",\"msg\":\"MyFirstMsge\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 220.1001739501953,
        "y": 792.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "f96866c9.ea6988",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "Clear msg",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"msg\",\"msg\":\"\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 220.1001739501953,
        "y": 832.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "227b9371.7c24cc",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "Send msg object",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"msg\",\"msg\":{\"1\":\"12345678901\",\"2\":\"23456789012\",\"3\":\"34567890123\",\"4\":\"45678901234\",\"5\":\"56789012345\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 200.1001739501953,
        "y": 872.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "36aab9f5.b6fd06",
        "type": "link out",
        "z": "58ae81fe.fc8ae",
        "name": "Test commands",
        "links": [
            "d1135c0.509fea8"
        ],
        "x": 395.1001739501953,
        "y": 532.0000133514404,
        "wires": []
    },
    {
        "id": "a9ff4a55.906218",
        "type": "ui_template",
        "z": "32688592.0a19aa",
        "group": "ae257199.19c84",
        "name": "HTML template",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\" >\n<p>The number is</p>\n<p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'green' : 'red'}\">\n  {{(msg.payload || 0) % 2 === 0 ? 'even' : 'odd'}}\n</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 260,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "90a0efdd.d4b44",
        "type": "inject",
        "z": "32688592.0a19aa",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "b12e9a6a.0f15d8"
            ]
        ]
    },
    {
        "id": "b12e9a6a.0f15d8",
        "type": "random",
        "z": "32688592.0a19aa",
        "name": "",
        "low": "1",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "a9ff4a55.906218"
            ]
        ]
    },
    {
        "id": "c598b828.c55838",
        "type": "ui_colour_picker",
        "z": "32688592.0a19aa",
        "name": "",
        "label": "",
        "group": "e87b0972.cfcab8",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showAlpha": false,
        "showLightness": true,
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 510,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b351a6d8.6645f8",
        "type": "comment",
        "z": "32688592.0a19aa",
        "name": "TESTING: not implemented yet",
        "info": "",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "c6d469ad.aeda58",
        "type": "trigger",
        "z": "32688592.0a19aa",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 520,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "81c14ea2.b63cc",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "",
        "label": "Select Device",
        "place": "Device",
        "group": "857ece11.192e7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "Thing 1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Thing 2",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Thing 3",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "ID",
        "x": 680,
        "y": 380,
        "wires": [
            [
                "5aab30c2.44361"
            ]
        ]
    },
    {
        "id": "9e9bfcf1.ec0c4",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "pin #",
        "label": "pin #",
        "place": "1",
        "group": "857ece11.192e7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "2",
                "value": 2,
                "type": "num"
            },
            {
                "label": "3",
                "value": 3,
                "type": "num"
            },
            {
                "label": "4",
                "value": "4",
                "type": "str"
            },
            {
                "label": "5",
                "value": "5",
                "type": "str"
            },
            {
                "label": "6",
                "value": "6",
                "type": "str"
            },
            {
                "label": "7",
                "value": "7",
                "type": "str"
            },
            {
                "label": "8",
                "value": "8",
                "type": "str"
            },
            {
                "label": "9",
                "value": "9",
                "type": "str"
            },
            {
                "label": "10",
                "value": "10",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "pin",
        "x": 650,
        "y": 420,
        "wires": [
            [
                "5aab30c2.44361"
            ]
        ]
    },
    {
        "id": "c725a467.e8c208",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "pin state",
        "label": "pin state",
        "place": "LOW",
        "group": "857ece11.192e7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "LOW",
                "value": 0,
                "type": "num"
            },
            {
                "label": "HIGH",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "state",
        "x": 660,
        "y": 460,
        "wires": [
            [
                "5aab30c2.44361"
            ]
        ]
    },
    {
        "id": "fe9acb63.d2ab38",
        "type": "debug",
        "z": "f95c6e59.5c919",
        "name": "Pin JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1040,
        "y": 420,
        "wires": []
    },
    {
        "id": "5fc8fbb7.5a0414",
        "type": "ui_button",
        "z": "f95c6e59.5c919",
        "name": "Submit Pin Data",
        "group": "857ece11.192e7",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Submit",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "81c14ea2.b63cc",
                "9e9bfcf1.ec0c4",
                "c725a467.e8c208"
            ]
        ]
    },
    {
        "id": "80557c41.cec78",
        "type": "inject",
        "z": "f95c6e59.5c919",
        "name": "",
        "topic": "Make Pin JSON",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 310,
        "y": 380,
        "wires": [
            [
                "81c14ea2.b63cc",
                "9e9bfcf1.ec0c4",
                "c725a467.e8c208"
            ]
        ]
    },
    {
        "id": "48c18a00.134cf8",
        "type": "link out",
        "z": "f95c6e59.5c919",
        "name": "",
        "links": [
            "d1135c0.509fea8"
        ],
        "x": 1055,
        "y": 320,
        "wires": []
    },
    {
        "id": "5aab30c2.44361",
        "type": "join",
        "z": "f95c6e59.5c919",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 870,
        "y": 420,
        "wires": [
            [
                "76c189a5.a99648"
            ]
        ]
    },
    {
        "id": "76c189a5.a99648",
        "type": "function",
        "z": "f95c6e59.5c919",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 360,
        "wires": [
            [
                "fe9acb63.d2ab38",
                "48c18a00.134cf8"
            ]
        ]
    },
    {
        "id": "3450a6f7.209e5a",
        "type": "link in",
        "z": "e0c6f6b6.0d5c68",
        "name": "reset",
        "links": [
            "a5cbdf95.32add"
        ],
        "x": 375,
        "y": 880,
        "wires": [
            [
                "a81aab1e.101008"
            ]
        ]
    },
    {
        "id": "1705f151.3ecb8f",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "IO screen toggle",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"scrn_io\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 200,
        "y": 960,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "b730000d.58c6",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_write(?? needs payload)",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 160,
        "y": 920,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "4be3f0ed.3229",
        "type": "inject",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 510,
        "y": 640,
        "wires": [
            [
                "8783d77a.950728"
            ]
        ]
    },
    {
        "id": "389f3e53.965722",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "mode",
        "label": "mode",
        "place": "OUTPUT",
        "group": "857ece11.192e7",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "INPUT",
                "value": 0,
                "type": "num"
            },
            {
                "label": "OUTPUT",
                "value": 1,
                "type": "num"
            },
            {
                "label": "INT",
                "value": "2",
                "type": "str"
            },
            {
                "label": "OPENDRAIN",
                "value": "3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "mode",
        "x": 650,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "dfa8ffdb.7cf83",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "pullup",
        "label": "pullup",
        "place": "float",
        "group": "857ece11.192e7",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "float",
                "value": 0,
                "type": "num"
            },
            {
                "label": "pullup",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "pu",
        "x": 650,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "259d1ea3.1fa102",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "pwm",
        "label": "pwm",
        "place": "pwm",
        "group": "857ece11.192e7",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "ON",
                "value": true,
                "type": "bool"
            },
            {
                "label": "OFF",
                "value": false,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "pwm",
        "x": 650,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "781ad120.aee6c",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "pwm p4",
        "label": "pwm p4",
        "group": "41f3f0a9.18b08",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "pwm",
        "style": "",
        "onvalue": "{\"cmd\":\"pwm\",\"pins\":{\"8\":1}}",
        "onvalueType": "json",
        "onicon": "fa-check-square",
        "oncolor": " #48f442",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"8\":0}}",
        "offvalueType": "json",
        "officon": "fa-square-o ",
        "offcolor": "#f44256",
        "x": 500,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "1cc00a71.cfa896",
        "type": "ui_slider",
        "z": "e0c6f6b6.0d5c68",
        "name": "duty cycle",
        "label": "",
        "group": "41f3f0a9.18b08",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "duty",
        "min": "0",
        "max": "1024",
        "step": "8",
        "x": 500,
        "y": 1270,
        "wires": [
            [
                "963c9408.df1e48"
            ]
        ]
    },
    {
        "id": "627b661a.ab0178",
        "type": "ui_slider",
        "z": "e0c6f6b6.0d5c68",
        "name": "frequency",
        "label": "",
        "group": "41f3f0a9.18b08",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "frequency",
        "min": "0",
        "max": "1000",
        "step": 1,
        "x": 500,
        "y": 1320,
        "wires": [
            [
                "8061b4fd.4aa5c8"
            ]
        ]
    },
    {
        "id": "8061b4fd.4aa5c8",
        "type": "ui_text",
        "z": "e0c6f6b6.0d5c68",
        "group": "41f3f0a9.18b08",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "frequency display",
        "label": "frequency",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 710,
        "y": 1320,
        "wires": []
    },
    {
        "id": "87ea87f6.0a7c28",
        "type": "ui_text",
        "z": "e0c6f6b6.0d5c68",
        "group": "6bf64492.b29f0c",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "t_cal display",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "963c9408.df1e48",
        "type": "ui_text",
        "z": "e0c6f6b6.0d5c68",
        "group": "41f3f0a9.18b08",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "duty cycle display",
        "label": "duty cycle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700.13330078125,
        "y": 1270.333251953125,
        "wires": []
    },
    {
        "id": "6102fefa.9d6f8",
        "type": "ui_slider",
        "z": "f95c6e59.5c919",
        "name": "duty cycle",
        "label": "",
        "group": "857ece11.192e7",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "duty",
        "min": "0",
        "max": "1024",
        "step": "8",
        "x": 660,
        "y": 620,
        "wires": [
            [
                "d74285f8.afcf18"
            ]
        ]
    },
    {
        "id": "d49af70e.0ba928",
        "type": "ui_slider",
        "z": "f95c6e59.5c919",
        "name": "frequency",
        "label": "",
        "group": "857ece11.192e7",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "frequency",
        "min": "0",
        "max": "1000",
        "step": 1,
        "x": 660,
        "y": 660,
        "wires": [
            [
                "f790b3ed.1ed97"
            ]
        ]
    },
    {
        "id": "f790b3ed.1ed97",
        "type": "ui_text",
        "z": "f95c6e59.5c919",
        "group": "857ece11.192e7",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "frequency display",
        "label": "frequency",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 850,
        "y": 660,
        "wires": []
    },
    {
        "id": "d74285f8.afcf18",
        "type": "ui_text",
        "z": "f95c6e59.5c919",
        "group": "857ece11.192e7",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "duty cycle display",
        "label": "duty cycle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 850,
        "y": 620,
        "wires": []
    },
    {
        "id": "266b86ec.3824ba",
        "type": "link in",
        "z": "cae895a0.8ab828",
        "name": "CONFIGURATION",
        "links": [
            "f2eff67f.c44e58"
        ],
        "x": 355,
        "y": 440,
        "wires": [
            [
                "4e789cbe.bc2fc4"
            ]
        ]
    },
    {
        "id": "f2eff67f.c44e58",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "CONFIGURATION",
        "links": [
            "266b86ec.3824ba"
        ],
        "x": 1515,
        "y": 760,
        "wires": []
    },
    {
        "id": "5a02c48.2115a3c",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "41f3f0a9.18b08",
        "name": "Instance Name 3",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.name}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1290,
        "y": 340,
        "wires": [
            [
                "3e10bf56.b8b77"
            ]
        ]
    },
    {
        "id": "3e10bf56.b8b77",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "ae257199.19c84",
        "name": "Instance Name 4",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.name}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1510,
        "y": 340,
        "wires": [
            []
        ]
    }
]