flows.json
[
    {
        "id": "e0c6f6b6.0d5c68",
        "type": "tab",
        "label": "MainControl",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cae895a0.8ab828",
        "type": "tab",
        "label": "Update System DB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f95c6e59.5c919",
        "type": "tab",
        "label": "Pin Configurations",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4d987d79.a89374",
        "type": "tab",
        "label": "System"
    },
    {
        "id": "58ae81fe.fc8ae",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "32688592.0a19aa",
        "type": "tab",
        "label": "New Stuff",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b2d96b1.0f3be98",
        "type": "tab",
        "label": "Recording",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6bf64492.b29f0c",
        "type": "ui_group",
        "z": "",
        "name": "Commands",
        "tab": "5b605797.172848",
        "order": 2,
        "disp": true,
        "width": "3",
        "collapse": true
    },
    {
        "id": "ae257199.19c84",
        "type": "ui_group",
        "z": "",
        "name": "Output",
        "tab": "5b605797.172848",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "e87b0972.cfcab8",
        "type": "ui_group",
        "z": "",
        "name": "Misc",
        "tab": "9adba5f3.d78bb8",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "9cf22ad5.af9e78",
        "type": "ui_group",
        "z": "",
        "name": "Node/Pin Config & Status",
        "tab": "5b605797.172848",
        "order": 5,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "45bddcde.4b1494",
        "type": "ui_group",
        "z": "",
        "name": "Node Configuration & Status",
        "tab": "5b605797.172848",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "5b605797.172848",
        "type": "ui_tab",
        "z": "",
        "name": "Nodes",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "dda3f99e.58a6e8",
        "type": "ui_group",
        "z": "",
        "name": "CPU Load",
        "tab": "6ccd2dc7.996d04",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7ab43c03.1413b4",
        "type": "ui_group",
        "z": "",
        "name": "Memory",
        "tab": "6ccd2dc7.996d04",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bb4dabb4.be7b28",
        "type": "ui_group",
        "z": "",
        "name": "System Information",
        "tab": "6ccd2dc7.996d04",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6ccd2dc7.996d04",
        "type": "ui_tab",
        "z": "",
        "name": "System",
        "icon": "dashboard",
        "order": 6
    },
    {
        "id": "fa17f0fb.e881e",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "edited": false,
                "reset": false
            },
            "customTheme": {
                "name": "techdogs",
                "default": "#4B7930",
                "baseColor": "#7aa2f3",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#89bbfe",
                    "value": "#7aa2f3",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#7aa2f3",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#82624b",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#9d9d9d",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#676767",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#4e4e4e",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#7aa2f3",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#4f4f4f",
                    "edited": true
                },
                "base-font": {
                    "value": "Century Gothic,CenturyGothic,AppleGothic,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b5372e87.bef79",
        "type": "ui_group",
        "z": "",
        "name": "Device Name",
        "tab": "3a8dcbb7.653aa4",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "3a8dcbb7.653aa4",
        "type": "ui_tab",
        "z": "",
        "name": "Messages",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "9adba5f3.d78bb8",
        "type": "ui_tab",
        "z": "",
        "name": "Miscellaneous",
        "icon": "dashboard",
        "order": 5
    },
    {
        "id": "8f789c15.e1ead",
        "type": "ui_tab",
        "z": "",
        "name": "Record",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "e9b37a71.d109a8",
        "type": "ui_group",
        "z": "",
        "name": "Heap",
        "tab": "8f789c15.e1ead",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a8bd550f.68f708",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "8f789c15.e1ead",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f095d7f0.6182d8",
        "type": "ui_tab",
        "z": "",
        "name": "Configure",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "857ece11.192e7",
        "type": "ui_group",
        "z": "",
        "name": "Create Pin Configuration",
        "tab": "f095d7f0.6182d8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "41f3f0a9.18b08",
        "type": "ui_group",
        "z": "",
        "name": "pwm [p4] LED",
        "tab": "5b605797.172848",
        "order": 6,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "ff4eeddc.01f8c",
        "type": "ui_group",
        "z": "",
        "name": "Message Screen",
        "tab": "3a8dcbb7.653aa4",
        "order": 2,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "52975e20.0f289",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/dbs/iot.db"
    },
    {
        "id": "a4bd0da.b2f13f",
        "type": "mqtt-broker",
        "z": "",
        "name": "hoppellodge.com",
        "broker": "hoppellodge.com",
        "port": "2812",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "110362ba.b083ad",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/cmd",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 978,
        "y": 360,
        "wires": []
    },
    {
        "id": "73e5bf1a.699bc",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "cmd",
        "topic": "/HL/+/cmd",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 671,
        "y": 360,
        "wires": [
            [
                "5fff5a16.735b14"
            ]
        ]
    },
    {
        "id": "31a41c25.f05fc4",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "tmpr",
        "topic": "/HL/+/tmpr",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 671,
        "y": 409,
        "wires": [
            [
                "4780d4de.b920dc"
            ]
        ]
    },
    {
        "id": "6412b145.9610a",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/tmpr",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload.tmpr",
        "x": 976,
        "y": 410,
        "wires": []
    },
    {
        "id": "30c0bffc.5bd3e",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "ipins",
        "topic": "/HL/+/ipins",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 671,
        "y": 570,
        "wires": [
            [
                "3f259d9a.c8b952"
            ]
        ]
    },
    {
        "id": "3e07935a.b2c24c",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/ipins",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 986,
        "y": 571,
        "wires": []
    },
    {
        "id": "26ffb29f.5d0e0e",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "configuration",
        "topic": "/HL/+/",
        "qos": "0",
        "broker": "a4bd0da.b2f13f",
        "x": 686,
        "y": 309,
        "wires": [
            [
                "5a825574.df760c"
            ]
        ]
    },
    {
        "id": "584e397f.2997c8",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "x": 1123,
        "y": 309,
        "wires": []
    },
    {
        "id": "5eba9624.a43be8",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "register",
        "topic": "/HL/register",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 671,
        "y": 212,
        "wires": [
            [
                "a22ffc04.3a8fc"
            ]
        ]
    },
    {
        "id": "cd71d81d.323c18",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "HL/register",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1130,
        "y": 210,
        "wires": []
    },
    {
        "id": "65df9d69.066e64",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "pins",
        "topic": "/HL/+/pins",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 671,
        "y": 510,
        "wires": [
            [
                "55a1a6e5.69e4e8"
            ]
        ]
    },
    {
        "id": "93f8a9f7.670de8",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/pins",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.pins",
        "x": 986,
        "y": 510,
        "wires": []
    },
    {
        "id": "38fd112e.ed8d2e",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]/heap",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.heap",
        "x": 985,
        "y": 460,
        "wires": []
    },
    {
        "id": "8883614a.cae1e",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "heap",
        "topic": "/HL/+/heap",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 671,
        "y": 460,
        "wires": [
            [
                "f7337e04.bdec2"
            ]
        ]
    },
    {
        "id": "fe86d77d.496198",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "Debug Toggle",
        "group": "6bf64492.b29f0c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Debug Toggle",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"DEBUG\"}",
        "payloadType": "str",
        "topic": "",
        "x": 398,
        "y": 580,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "5a825574.df760c",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "configuration JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 881,
        "y": 309,
        "wires": [
            [
                "584e397f.2997c8",
                "386b73c3.aaf41c",
                "f2eff67f.c44e58"
            ]
        ]
    },
    {
        "id": "5fff5a16.735b14",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "pretty": false,
        "x": 811,
        "y": 360,
        "wires": [
            [
                "110362ba.b083ad"
            ]
        ]
    },
    {
        "id": "55a1a6e5.69e4e8",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 805.1000518798828,
        "y": 509.7999029159546,
        "wires": [
            [
                "93f8a9f7.670de8",
                "1bee4215.6b942e",
                "b7f58d69.ed362"
            ]
        ]
    },
    {
        "id": "4780d4de.b920dc",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "tmpr json",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 815,
        "y": 409,
        "wires": [
            [
                "6412b145.9610a",
                "7fa78f9a.a6117",
                "c87b2075.fa3c6"
            ]
        ]
    },
    {
        "id": "3f259d9a.c8b952",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "ipins json",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 814,
        "y": 570,
        "wires": [
            [
                "3e07935a.b2c24c",
                "214d38cf.c23d18",
                "f64d4470.ea3fe8",
                "c87b2075.fa3c6"
            ]
        ]
    },
    {
        "id": "f7337e04.bdec2",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "heap json",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 814,
        "y": 460,
        "wires": [
            [
                "38fd112e.ed8d2e",
                "a3e1bf99.1868c",
                "c87b2075.fa3c6"
            ]
        ]
    },
    {
        "id": "7fa78f9a.a6117",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "tmpr",
        "func": "var tmpr = msg.payload.tmpr\nmsg.payload = tmpr \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1151,
        "y": 393,
        "wires": [
            [
                "d25f9b73.c3e698",
                "ee0875d8.d48bd8"
            ]
        ]
    },
    {
        "id": "d25f9b73.c3e698",
        "type": "ui_gauge",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "group": "ae257199.19c84",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "55",
        "max": "100",
        "colors": [
            "#3f35f7",
            "#1fd610",
            "#ca3838"
        ],
        "seg1": "65",
        "seg2": "72",
        "x": 1411,
        "y": 353,
        "wires": []
    },
    {
        "id": "a3e1bf99.1868c",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "heap",
        "func": "var heap = msg.payload.heap\nmsg.payload = heap\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1151,
        "y": 433,
        "wires": [
            [
                "67adc343.0da6fc",
                "90cba916.f5af68"
            ]
        ]
    },
    {
        "id": "67adc343.0da6fc",
        "type": "ui_gauge",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "group": "ae257199.19c84",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Heap Memory",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "15000",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#29ee13"
        ],
        "seg1": "6500",
        "seg2": "12500",
        "x": 1421,
        "y": 393,
        "wires": []
    },
    {
        "id": "2fd4a0c2.c12e4",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "reset",
        "group": "6bf64492.b29f0c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"reset\"}",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 150,
        "wires": [
            [
                "a81aab1e.101008",
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "8783d77a.950728",
        "type": "ui_slider",
        "z": "e0c6f6b6.0d5c68",
        "name": "t_cal",
        "label": "",
        "group": "6bf64492.b29f0c",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "t_cal",
        "min": "-5",
        "max": "5",
        "step": 1,
        "x": 260,
        "y": 110,
        "wires": [
            [
                "10e1ebad.66a734",
                "87ea87f6.0a7c28"
            ]
        ]
    },
    {
        "id": "73f2ffba.d1f35",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "Blue :LED",
        "label": "Blue LED (D4)",
        "group": "6bf64492.b29f0c",
        "order": 10,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"4\":1}}",
        "onvalueType": "json",
        "onicon": "check_box_outline_blank",
        "oncolor": "#050505",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"4\":0}} ",
        "offvalueType": "json",
        "officon": "check_box",
        "offcolor": "#2d20db",
        "x": 416,
        "y": 414,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "2f7e62f.197529e",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "D0",
        "label": "D0",
        "group": "6bf64492.b29f0c",
        "order": 11,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"0\":1}}",
        "onvalueType": "json",
        "onicon": "fa-check-square",
        "oncolor": "#48f442",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"0\":0}}",
        "offvalueType": "json",
        "officon": "fa-square-o ",
        "offcolor": "#f44256",
        "x": 426.00008392333984,
        "y": 273.00016593933105,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "e52685df.54b1f8",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "IO Screen Toggle",
        "group": "6bf64492.b29f0c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "IO Screen Toggle",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"scrn_io\"}",
        "payloadType": "str",
        "topic": "/HL/Dm_078a87/cmd",
        "x": 388,
        "y": 540,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "de5d2a13.8c1de8",
        "type": "inject",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 138,
        "y": 420,
        "wires": [
            [
                "a81aab1e.101008"
            ]
        ]
    },
    {
        "id": "a81aab1e.101008",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "Reset",
        "func": "msg.reset = true\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 218,
        "y": 340,
        "wires": [
            [
                "73f2ffba.d1f35",
                "2f7e62f.197529e",
                "122ddd45.68b293",
                "b9394b1a.953098",
                "5a46baa7.256964"
            ]
        ]
    },
    {
        "id": "122ddd45.68b293",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "D7",
        "label": "D7",
        "group": "6bf64492.b29f0c",
        "order": 12,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"7\":1}}",
        "onvalueType": "json",
        "onicon": "fa-check-square",
        "oncolor": "#48f442",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"7\":0}}",
        "offvalueType": "json",
        "officon": "fa-square-o ",
        "offcolor": "#f44256 ",
        "x": 427,
        "y": 319,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "b9394b1a.953098",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "D8",
        "label": "D8",
        "group": "6bf64492.b29f0c",
        "order": 13,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"8\":1}}",
        "onvalueType": "json",
        "onicon": "fa-check-square",
        "oncolor": " #48f442",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"8\":0}}",
        "offvalueType": "json",
        "officon": "fa-square-o ",
        "offcolor": "#f44256",
        "x": 423,
        "y": 366,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "5a46baa7.256964",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "RESET",
        "links": [
            "9730944a.c93858"
        ],
        "x": 263,
        "y": 420,
        "wires": []
    },
    {
        "id": "a22ffc04.3a8fc",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "Device Registered JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 865,
        "y": 213,
        "wires": [
            [
                "cd71d81d.323c18",
                "a5cbdf95.32add"
            ]
        ]
    },
    {
        "id": "214d38cf.c23d18",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "Split D ipins",
        "func": "var msg1 = { payload:msg.payload.ipins[\"3\"] };\nvar msg2 = { payload:msg.payload.ipins[\"5\"] };\nvar msg3 = { payload:msg.payload.ipins[\"6\"] };\n\nreturn [msg1, msg2, msg3 ];\n",
        "outputs": 3,
        "noerr": 0,
        "x": 711,
        "y": 680,
        "wires": [
            [
                "729e7ea5.64ed7"
            ],
            [
                "1fb46fa0.eb6c7",
                "b59ea8f8.8d27b8"
            ],
            [
                "d6a5ce23.3bef8"
            ]
        ],
        "outputLabels": [
            "3",
            "5",
            "6"
        ]
    },
    {
        "id": "729e7ea5.64ed7",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "p3i",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 911,
        "y": 667,
        "wires": []
    },
    {
        "id": "1fb46fa0.eb6c7",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "p5i",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 911,
        "y": 707,
        "wires": []
    },
    {
        "id": "d6a5ce23.3bef8",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "p6i",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 911,
        "y": 747,
        "wires": []
    },
    {
        "id": "f64d4470.ea3fe8",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "ae257199.19c84",
        "name": "IPINS",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"center\">\n<p><b><u>Input Pins & states</u></b></p>\n</div>\n<div layout=\"row\" layout-align=\"center\">\n<p>3 5 6</p>\n</div>\n<div layout=\"row\" layout-align=\"center\">\n<p> \n{{msg.payload.ipins[\"3\"]}} \n{{msg.payload.ipins[\"5\"]}} \n{{msg.payload.ipins[\"6\"]}}  \n</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1391,
        "y": 573,
        "wires": [
            []
        ]
    },
    {
        "id": "26b98fca.50191",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "9cf22ad5.af9e78",
        "name": "Pin Config & Status",
        "order": 2,
        "width": "7",
        "height": "11",
        "format": "<h3>Pin States</h3>\n<ol start = 0>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"0\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"1\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"2\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"3\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"4\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"5\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"6\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"7\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"8\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"9\"]}}</span></li>\n<li><span style=\"color:LightBlue\">{{msg.payload.pins[\"10\"]}}</span></li>\n</ol>\n<h3>Pin States Legend</h3>\n<a style=\"color:LightBlue;\"  target=\"_blank\" href=\"https://nodemcu.readthedocs.io/en/master/en/modules/gpio/#gpiomode\">gpio docs</a>\n<h4>m (modes)</h4>\n<ol start = 0>\n<li>gpio.INPUT</li> \n<li>gpio.OUTPUT</li> \n<li>gpio.INT</li>\n<li>gpio.OPENDRAIN</li>  \n</ol>\n<h4>r (read state)</h4>\n<ol start = 0>\n<li>LOW</li>\n<li>HIGH</li>\n</ol>\n<h4>w (write state)</h4>\n<ol start = 0>\n<li>LOW</li>\n<li>HIGH</li>\n</ol>\n<h4>pu (pullup)</h4>\n<ol start = 0>\n<li>FLOAT  true</li>\n<li>PULLUP false</li>\n</ol>\n<p>pullup gpio.PULLUP enables the weak pull-up resistor; </p>\n<p>default is gpio.FLOAT</p>\n<h4>t  (trigger type)</h4>\n<ul>\n<li>\"up\"</li> \n<li>\"down\"</li> \n<li>\"both\"</li> \n<li>\"low\"</li> \n<li>\"high\"</li>\n</ul>\n<h4>pwm  (pulse width modulation)</h4>\n<ul>\n<li>ON: \"true\"</li> \n<li>OFF: \"false\"</li> \n</ul>\n<h4>freq (frequency for pwm pin)</h4>\n<ul>\n<li>INT</li>\n<li>pwm frequency (0 - 1000 Hz)</li> \n</ul>\n<h4>duty (duty cycle for pwm pin)</h4>\n<ul>\n<li>INT</li>\n<li>duty cycle (0-1024)</li> \n</ul>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1431,
        "y": 533,
        "wires": [
            []
        ]
    },
    {
        "id": "9730944a.c93858",
        "type": "link in",
        "z": "e0c6f6b6.0d5c68",
        "name": "RESET",
        "links": [
            "5a46baa7.256964"
        ],
        "x": 1215,
        "y": 630,
        "wires": [
            [
                "f64d4470.ea3fe8",
                "26b98fca.50191",
                "386b73c3.aaf41c",
                "67adc343.0da6fc",
                "d25f9b73.c3e698"
            ]
        ]
    },
    {
        "id": "386b73c3.aaf41c",
        "type": "ui_template",
        "z": "e0c6f6b6.0d5c68",
        "group": "45bddcde.4b1494",
        "name": "Node Configuration",
        "order": 2,
        "width": "7",
        "height": "10",
        "format": "<h3>Device Configuration </h3>\n<p>[ID]<span style=\"color:LightBlue\"> {{msg.payload[0]}}</span> </p>\n<p>D (Device) Object</p>\n<ol>\n<li>dbg:     <span style=\"color:LightBlue\"> {{msg.payload[1].dbg}}</span></li>    \n<li>tmpr:    <span style=\"color:LightBlue\"> {{msg.payload[1].tmpr}}</span></li>\n<li>screen:  <span style=\"color:LightBlue\"> {{msg.payload[1].screen}}</span></li>\n<li>mqtt:    <span style=\"color:LightBlue\"> {{msg.payload[1].mqtt}}</span></li>\n<li>heap_min:<span style=\"color:LightBlue\"> {{msg.payload[1].heap_min}} </span> </li>\n<li>flashid: <span style=\"color:LightBlue\"> {{msg.payload[1].flashid}}  </span></li>\n<li>flashsize:<span style=\"colorLightBluea\"> {{msg.payload[1].flashsize}} </span> </li>\n<li>heap:    <span style=\"color:LightBlue\"> {{msg.payload[1].heap}}</span></li>\n<li>pins: \t <span style=\"color:LightBlue\"> {{msg.payload[1].pins}}</span></li>\n<li>chipid:  <span style=\"color:LightBlue\"> {{msg.payload[1].chipid}}</span></li>\n<li>ID: \t <span style=\"color:LightBlue\"> {{msg.payload[1].ID}}</span></li>\n<li>LED: \t <span style=\"color:LightBlue\"> {{msg.payload[1].LED}}</span></li>\n<li>t_cal:\t <span style=\"color:LightBlue\"> {{msg.payload[1].t_cal}}</span></li>\n<li>name: \t <span style=\"color:LightBlue\"> {{msg.payload[1].name}}</span></li>\n<li>ap_mac:  <span style=\"color:LightBlue\"> {{msg.payload[1].ap_mac}}</span> </li>\n<li>bootreason_extnd: <span style=\"color:LightBlue\"> {{msg.payload[1].bootreason_extnd}}</span> </li>\n<li>ip: \t <span style=\"color:LightBlue\"> {{msg.payload[1].ip}}</span></li>\n<li>sta_mac: <span style=\"color:LightBlue\"> {{msg.payload[1].sta_mac}}</span></li>\n<li>type: \t <span style=\"color:LightBlue\"> {{msg.payload[1].type}}</span></li>\n<li>msg: \t <span style=\"color:LightBlue\"> {{msg.payload[1].msg}}</span></li>\n</ol>\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 1426,
        "y": 310,
        "wires": [
            []
        ]
    },
    {
        "id": "640e1376.5a81fc",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "pins CMD",
        "group": "6bf64492.b29f0c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "pins CMD",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"pins\"}",
        "payloadType": "str",
        "topic": "",
        "x": 415,
        "y": 462,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "55a3d82f.259e88",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "Remote Espy-Node Reset & Re-Initialze State",
        "info": "",
        "x": 178,
        "y": 280,
        "wires": []
    },
    {
        "id": "90ea2cd.30559d",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "To-Do & Status & Info",
        "info": "# _Node-Red_\n## Context\n- need to Change context for registering devices\n- ~~add Espy-Node Name to Dashboard entries~~\n\n## Configurations & states\n- ~~clean up help in menu~~\n- add PWM & FREQ control for blue LED using slider\n\n# _espy-node_\n- ~~create error node messages~~\n- re-write inputs to process using INT rather than polling\n\n## requested changes\n- ~~send ipins status upon initialization~~\n- ~~send pin intialization command~~\n\n## Commands\n- ~~tcal~~\n- ~~remove heap command (can use device command instead)~~\n\n## Testing\n- ~~pin configuration commands~~\n- ~~create testing subflows for inject nodes~~\n- \n# Github\n- make sure remote storage on GitHub is working\n\n[System information Flow](https://flows.nodered.org/flow/9b9f68f6641a42452e848a37da5df972)\n\n[HTML Cheatsheet](http://www.simplehtmlguide.com/cheatsheet.php)\n\n[NodeMCU GPIO](https://nodemcu.readthedocs.io/en/master/en/modules/gpio/#gpiomode)",
        "x": 980,
        "y": 810,
        "wires": []
    },
    {
        "id": "c358bee6.9943f",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "created to perform individual actions based on a single pin change",
        "info": "",
        "x": 876,
        "y": 630,
        "wires": []
    },
    {
        "id": "ea3b98be.a1d368",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "status & control for 1 espy-node",
        "info": "",
        "x": 1411,
        "y": 260,
        "wires": []
    },
    {
        "id": "545de4cf.d674dc",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "Commands Topic Injection",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "5d74104.feb73f",
        "type": "ui_audio",
        "z": "e0c6f6b6.0d5c68",
        "name": "speech",
        "group": "ae257199.19c84",
        "voice": "en-GB",
        "always": "",
        "x": 1281,
        "y": 720,
        "wires": []
    },
    {
        "id": "b59ea8f8.8d27b8",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "make text",
        "func": "if (msg.payload === 1)\nmsg.payload = \"pin 5 went high\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1101,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "10e1ebad.66a734",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "t_cal",
        "func": "var t_cal = msg.payload;\nmsg.payload = {\"cmd\":\"t_cal\",\"t_cal\":t_cal}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 110,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "bf6876f6.0b9138",
        "type": "mqtt in",
        "z": "e0c6f6b6.0d5c68",
        "name": "error",
        "topic": "/HL/+/error",
        "qos": "2",
        "broker": "a4bd0da.b2f13f",
        "x": 671,
        "y": 260,
        "wires": [
            [
                "ba972b1e.2d9238"
            ]
        ]
    },
    {
        "id": "ba972b1e.2d9238",
        "type": "json",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "pretty": false,
        "x": 811,
        "y": 260,
        "wires": [
            [
                "30e51e95.cdb8d2"
            ]
        ]
    },
    {
        "id": "30e51e95.cdb8d2",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "[ID]//error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 984,
        "y": 260,
        "wires": []
    },
    {
        "id": "9b09422c.ce3f1",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "Device Status",
        "group": "6bf64492.b29f0c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Device Status",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"device\"}",
        "payloadType": "str",
        "topic": "",
        "x": 400,
        "y": 630,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "4d740e79.976c7",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "MQTT Interface",
        "info": "",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "ee0875d8.d48bd8",
        "type": "ui_chart",
        "z": "e0c6f6b6.0d5c68",
        "name": "Temperature",
        "group": "a8bd550f.68f708",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1411,
        "y": 433,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "90cba916.f5af68",
        "type": "ui_chart",
        "z": "e0c6f6b6.0d5c68",
        "name": "Heap Memory",
        "group": "e9b37a71.d109a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Heap Memory",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1422,
        "y": 474,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2cfebb30.8dc224",
        "type": "inject",
        "z": "4d987d79.a89374",
        "name": "update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "5812063c.272748",
                "156e9d07.487973"
            ]
        ]
    },
    {
        "id": "9d7160ba.f455d",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 460,
        "wires": [
            [
                "3c52eeb5.4cf602"
            ]
        ]
    },
    {
        "id": "78ce77ee.011b88",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 500,
        "wires": [
            [
                "561c5ad9.217384"
            ]
        ]
    },
    {
        "id": "eff7ffe9.00293",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 540,
        "wires": [
            [
                "c0f42334.0f946"
            ]
        ]
    },
    {
        "id": "3c52eeb5.4cf602",
        "type": "ui_gauge",
        "z": "4d987d79.a89374",
        "name": "CPU Load 1",
        "group": "dda3f99e.58a6e8",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "1 Minute",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "561c5ad9.217384",
        "type": "ui_gauge",
        "z": "4d987d79.a89374",
        "name": "CPU Load 2",
        "group": "dda3f99e.58a6e8",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "5 Minutes",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "c0f42334.0f946",
        "type": "ui_gauge",
        "z": "4d987d79.a89374",
        "name": "CPU Load 3",
        "group": "dda3f99e.58a6e8",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "15 Minutes",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "e7905903.efacb8",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 680,
        "wires": [
            [
                "12edda16.5d9706"
            ]
        ]
    },
    {
        "id": "12edda16.5d9706",
        "type": "ui_gauge",
        "z": "4d987d79.a89374",
        "name": "Memory Usage",
        "group": "7ab43c03.1413b4",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "1 Minute",
        "label": "Usage",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 740,
        "y": 680,
        "wires": []
    },
    {
        "id": "b3fedcee.d4007",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 720,
        "wires": [
            [
                "2a6d2151.0e742e"
            ]
        ]
    },
    {
        "id": "74949524.0a74bc",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 760,
        "wires": [
            [
                "667c889f.239e68"
            ]
        ]
    },
    {
        "id": "2a6d2151.0e742e",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "7ab43c03.1413b4",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Total Memory",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 720,
        "wires": []
    },
    {
        "id": "667c889f.239e68",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "7ab43c03.1413b4",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Free Memory",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 760,
        "wires": []
    },
    {
        "id": "3a3cc1fe.fd61ae",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 60,
        "wires": [
            [
                "8bfc40ac.367e6"
            ]
        ]
    },
    {
        "id": "8bfc40ac.367e6",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "dda3f99e.58a6e8",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 718,
        "y": 52,
        "wires": []
    },
    {
        "id": "8cf45394.89e6c",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.hostname;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 549,
        "y": 97,
        "wires": [
            [
                "d337a8a9.4c62f8"
            ]
        ]
    },
    {
        "id": "d337a8a9.4c62f8",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Hostname",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 728,
        "y": 92,
        "wires": []
    },
    {
        "id": "7c13573.62a26a8",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.platform;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 551,
        "y": 135,
        "wires": [
            [
                "b6b63efb.62c58"
            ]
        ]
    },
    {
        "id": "b6b63efb.62c58",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Platform",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 718,
        "y": 132,
        "wires": []
    },
    {
        "id": "38a74d11.f31dc2",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.arch;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 552,
        "y": 174,
        "wires": [
            [
                "7bb6713.3891e9"
            ]
        ]
    },
    {
        "id": "7bb6713.3891e9",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Arch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 708,
        "y": 172,
        "wires": []
    },
    {
        "id": "c768de29.203a1",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.release;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 553,
        "y": 210,
        "wires": [
            [
                "cf010ae3.f0fbf8"
            ]
        ]
    },
    {
        "id": "cf010ae3.f0fbf8",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Release",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 718,
        "y": 212,
        "wires": []
    },
    {
        "id": "9104c8fc.7d6668",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.cpus[0].model;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 548,
        "y": 332,
        "wires": [
            [
                "56bb3233.961f2c",
                "92e80370.f935a",
                "42012451.6181ec",
                "5fee975f.694988"
            ]
        ]
    },
    {
        "id": "56bb3233.961f2c",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "CPU 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 708,
        "y": 272,
        "wires": []
    },
    {
        "id": "92e80370.f935a",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "CPU 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 708,
        "y": 312,
        "wires": []
    },
    {
        "id": "42012451.6181ec",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "CPU 3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 708,
        "y": 352,
        "wires": []
    },
    {
        "id": "5fee975f.694988",
        "type": "ui_text",
        "z": "4d987d79.a89374",
        "group": "bb4dabb4.be7b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "CPU 4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 708,
        "y": 392,
        "wires": []
    },
    {
        "id": "e152d9f0.ae62c8",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 580,
        "wires": [
            [
                "36695f97.73924"
            ]
        ]
    },
    {
        "id": "36695f97.73924",
        "type": "ui_chart",
        "z": "4d987d79.a89374",
        "name": "CPU Load - Historical",
        "group": "dda3f99e.58a6e8",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "24 Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "%H:%M:%S",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderUnit": "86400",
        "x": 760,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "200a8f8c.d6df7",
        "type": "function",
        "z": "4d987d79.a89374",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 640,
        "wires": [
            [
                "7b83154a.38ac2c"
            ]
        ]
    },
    {
        "id": "7b83154a.38ac2c",
        "type": "ui_chart",
        "z": "4d987d79.a89374",
        "name": "Memory - 24 Hours",
        "group": "7ab43c03.1413b4",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "24 Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "%H:%M:%S",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 750,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "36a06252.91e64e",
        "type": "comment",
        "z": "4d987d79.a89374",
        "name": "CPU Load",
        "info": "",
        "x": 320,
        "y": 460,
        "wires": []
    },
    {
        "id": "8ff1306d.4ea7",
        "type": "comment",
        "z": "4d987d79.a89374",
        "name": "Memory Usage",
        "info": "",
        "x": 320,
        "y": 620,
        "wires": []
    },
    {
        "id": "21719bb4.cedd74",
        "type": "comment",
        "z": "4d987d79.a89374",
        "name": "System Information",
        "info": "",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "940cb006.00f3c",
        "type": "OS",
        "z": "4d987d79.a89374",
        "name": "",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "8cf45394.89e6c",
                "7c13573.62a26a8",
                "38a74d11.f31dc2",
                "c768de29.203a1"
            ]
        ]
    },
    {
        "id": "c852e109.d0cbf",
        "type": "Uptime",
        "z": "4d987d79.a89374",
        "name": "",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "3a3cc1fe.fd61ae"
            ]
        ]
    },
    {
        "id": "c0aef0c7.62a75",
        "type": "CPUs",
        "z": "4d987d79.a89374",
        "name": "",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "9104c8fc.7d6668"
            ]
        ]
    },
    {
        "id": "5812063c.272748",
        "type": "Loadavg",
        "z": "4d987d79.a89374",
        "name": "",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "9d7160ba.f455d",
                "78ce77ee.011b88",
                "eff7ffe9.00293",
                "e152d9f0.ae62c8"
            ]
        ]
    },
    {
        "id": "156e9d07.487973",
        "type": "Memory",
        "z": "4d987d79.a89374",
        "name": "",
        "x": 320,
        "y": 660,
        "wires": [
            [
                "e7905903.efacb8",
                "b3fedcee.d4007",
                "74949524.0a74bc",
                "200a8f8c.d6df7"
            ]
        ]
    },
    {
        "id": "2978d59f.28548a",
        "type": "inject",
        "z": "4d987d79.a89374",
        "name": "update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "c852e109.d0cbf",
                "940cb006.00f3c",
                "c0aef0c7.62a75"
            ]
        ]
    },
    {
        "id": "1bee4215.6b942e",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "func": "for (i = 1; i <= 10; i++ ) {\nif (typeof msg.payload.pins[i.toString()]  == 'undefined') {msg.payload.pins[i.toString()] = \"N/A\";}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1149,
        "y": 493,
        "wires": [
            [
                "26b98fca.50191"
            ]
        ]
    },
    {
        "id": "f4ed4e8a.e7a61",
        "type": "ui_form",
        "z": "e0c6f6b6.0d5c68",
        "name": "Message Screen",
        "label": "Message Screen on device",
        "group": "ff4eeddc.01f8c",
        "order": 3,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Header",
                "value": "1",
                "type": "text",
                "required": false
            },
            {
                "label": "L1",
                "value": "2",
                "type": "text",
                "required": false
            },
            {
                "label": "L2",
                "value": "3",
                "type": "text",
                "required": false
            },
            {
                "label": "L3",
                "value": "4",
                "type": "text",
                "required": false
            },
            {
                "label": "L4",
                "value": "5",
                "type": "text",
                "required": false
            }
        ],
        "formValue": {
            "1": "",
            "2": "",
            "3": "",
            "4": "",
            "5": ""
        },
        "payload": "",
        "topic": "",
        "x": 276,
        "y": 229,
        "wires": [
            [
                "524d2f66.75d54"
            ]
        ]
    },
    {
        "id": "524d2f66.75d54",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "func": "var mymsg = msg.payload\nmsg.payload = {\"cmd\":\"msg\",\"msg\":mymsg}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 426,
        "y": 229,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "485f86d.8ee0f78",
        "type": "ui_form",
        "z": "e0c6f6b6.0d5c68",
        "name": "FriendlyName",
        "label": "Device Name",
        "group": "b5372e87.bef79",
        "order": 3,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "FriendlyName",
                "value": "name",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "name": ""
        },
        "payload": "",
        "topic": "",
        "x": 266,
        "y": 189,
        "wires": [
            [
                "73c9c9ee.73c098"
            ]
        ]
    },
    {
        "id": "73c9c9ee.73c098",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "func": "var myname = msg.payload\nmsg.payload = {\"cmd\":\"name\",\"name\":myname.name}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 426,
        "y": 189,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "f0ad2de8.41418",
        "type": "ui_button",
        "z": "e0c6f6b6.0d5c68",
        "name": "Clear Message",
        "group": "ff4eeddc.01f8c",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Clear Message",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"msg\",\"msg\":\"\"}",
        "payloadType": "str",
        "topic": "",
        "x": 398,
        "y": 500,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "a5cbdf95.32add",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "REGISTER",
        "links": [
            "2e2c0253.a3741e",
            "3450a6f7.209e5a",
            "8e35a994.f4baa8",
            "7fad08d5.65ecd8"
        ],
        "x": 1055,
        "y": 150,
        "wires": []
    },
    {
        "id": "3494a47c.ffd36c",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "45bddcde.4b1494",
        "name": "Instance Full Info",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.name}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1170,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "984adf6f.84cac",
        "type": "function",
        "z": "cae895a0.8ab828",
        "name": "set reset",
        "func": "msg.reset = true\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 130,
        "wires": [
            [
                "70541816.25e608",
                "3a537772.082828"
            ]
        ]
    },
    {
        "id": "c5bdebfb.607f88",
        "type": "inject",
        "z": "cae895a0.8ab828",
        "name": "reset flow db",
        "topic": "rick_admin",
        "payload": "Hello stranger",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 210,
        "y": 130,
        "wires": [
            [
                "984adf6f.84cac"
            ]
        ]
    },
    {
        "id": "70541816.25e608",
        "type": "function",
        "z": "cae895a0.8ab828",
        "name": "update global k9-nodes Object",
        "func": "\nvar local    = global.get('k9-nodes') || {};\nvar myname   = msg.payload[0] || \"error\";\nvar myobject = msg.payload[1] || {\"error\":\"not found\"};\n\nif (msg.reset === true) local = {}\n    else {\n        if (typeof local[myname] === \"undefined\" ) local[myname] = {};\n        for (var y in myobject)\n                local[myname][y] = myobject[y]; \n    }\nglobal.set('k9-nodes',local)\n    \n// count number of K9 nodes\nvar count = 0;\nvar list = [];\nvar list_id = \"\";\nfor (list_id in local) {\n    ++count;\n    list.push(list_id);\n}\n    \nglobal.set('k9-nodes-count',count);\n\nsColor = \"red\";\nsFill = 'ring'\nif (count > 0) {\n    sColor = \"green\";sFill = 'dot';\n    }\nnode.status({shape:sFill,fill:sColor,text:\"K9-nodes\" + \" | \" + count});\n\nmsg.payload = {};\nmsg.options = list;\nmsg.count   = count;\nif (typeof name === \"string\") msg.name    = local[myname].name;\nif (typeof id === \"string\") msg.id      = local[myname].id;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 210,
        "wires": [
            [
                "3d685019.2cb53",
                "3494a47c.ffd36c",
                "d4e58902.fe58b8",
                "2b4b6c52.8c0aa4",
                "3e10bf56.b8b77",
                "67317113.3c897"
            ]
        ]
    },
    {
        "id": "3d685019.2cb53",
        "type": "debug",
        "z": "cae895a0.8ab828",
        "name": "Test flow Object 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "x": 1170,
        "y": 100,
        "wires": []
    },
    {
        "id": "bbd6723a.c0c8d",
        "type": "inject",
        "z": "cae895a0.8ab828",
        "name": "inject TEST 2 fullJSON object",
        "topic": "",
        "payload": "[\"Dm_078a86\",{\"tmpr\":0,\"s_io\":false,\"mqtt\":false,\"heap_min\":4000,\"flashid\":1458415,\"flashsize\":4194304,\"heap\":12976,\"pins\":9,\"chipid\":494215,\"ID\":\"Dm_078a87\",\"LED\":4,\"type\":\"Dm\",\"t_cal\":0,\"name\":\" TEST 2\",\"ap_mac\":\"62:01:94:07:8a:87\",\"bootreason_extnd\":3,\"ip\":\"192.168.1.145\",\"sta_mac\":\"60:01:94:07:8a:87\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "70541816.25e608",
                "26cb6cde.3770f4"
            ]
        ]
    },
    {
        "id": "d4e58902.fe58b8",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "ae257199.19c84",
        "name": "# K9-nodes",
        "order": 8,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <h4 align = center># K9-nodes = {{msg.count}}</h4>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1150,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1b0a55fc.3e719a",
        "type": "comment",
        "z": "cae895a0.8ab828",
        "name": "Global [context]",
        "info": "",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "2b4b6c52.8c0aa4",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "ae257199.19c84",
        "name": "Instance Name 2",
        "order": 7,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.name}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1170,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2e2c0253.a3741e",
        "type": "link in",
        "z": "cae895a0.8ab828",
        "name": "register",
        "links": [
            "a5cbdf95.32add"
        ],
        "x": 565,
        "y": 90,
        "wires": [
            [
                "70541816.25e608"
            ]
        ]
    },
    {
        "id": "d1135c0.509fea8",
        "type": "link in",
        "z": "e0c6f6b6.0d5c68",
        "name": "Send \"cmd\" topic",
        "links": [
            "36aab9f5.b6fd06",
            "48c18a00.134cf8"
        ],
        "x": 515,
        "y": 690,
        "wires": [
            [
                "b9b3f548.4fa638"
            ]
        ]
    },
    {
        "id": "7750862b.343af8",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p0 \"1\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"0\":1}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "405478fa.274548",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p0 \"0\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"0\":0}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230.1001739501953,
        "y": 232.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "19e1e54e.8647cb",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p4 \"1\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"4\":1}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 229.99999618530273,
        "y": 324.99999141693115,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "4d8da520.4990ac",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p4 \"0\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"4\":0}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 232.0999984741211,
        "y": 291.99999237060547,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "830217a9.73c848",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p7 \"1\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"7\":1}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 227.99999618530273,
        "y": 388.99999141693115,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "621249a7.622f28",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p7 \"0\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"7\":0}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230.0999984741211,
        "y": 355.99999237060547,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "4cd6e923.776ee8",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "DEBUG toggle",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"DEBUG\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200.1001739501953,
        "y": 65.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "16673873.c3eb58",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "reset",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"reset\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230.1001739501953,
        "y": 98.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "3e7df92c.7137e6",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "heap",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"heap\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230.1001739501953,
        "y": 201.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "e126a378.9c5ae",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_list",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_list\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 229.1001739501953,
        "y": 166.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "15d639a5.84a7e6",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230.1001739501953,
        "y": 131.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "31fbdc03.547cb4",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "device",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"device\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230.1001739501953,
        "y": 492.00001335144043,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "a5fae51d.cb5168",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p8 \"0\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"8\":0}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230.0999984741211,
        "y": 420.99999237060547,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "6920b6db.db2e08",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "p8 \"1\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\",\"pins\":{\"8\":1}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 227.99999618530273,
        "y": 453.99999141693115,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "73199b58.6966e4",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_config p8 \"1\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": " {\"cmd\":\"pins_config\",\"pins\":{\"8\":{\"m\":3,\"w\":1}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190.1001739501953,
        "y": 552.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "a36ecd44.3483a",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_config p8 \"0\"",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": " {\"cmd\":\"pins_config\",\"pins\":{\"8\":{\"m\":3,\"w\":0}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190.1001739501953,
        "y": 586.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "32d4f00a.90d73",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_config p8 m=0",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": " {\"cmd\":\"pins_config\",\"pins\":{\"8\":{\"m\":0,\"r\":0}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190.1001739501953,
        "y": 621.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "ffe1e25d.f7bd7",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_config \"no mode\"..error",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": " {\"cmd\":\"pins_config\",\"pins\":{\"8\":{\"r\":0}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 160.1001739501953,
        "y": 655.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "21c99b4c.35b914",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_config p4 control",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_config\",\"pins\":{\"4\":{\"pu\":false,\"duty\":256,\"m\":1,\"pwm\":true,\"w\":1,\"freq\":3}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 180.1001739501953,
        "y": 692.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "d646348d.d37548",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pwm p4 start",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pwm\",\"pin\":4}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 209.1001739501953,
        "y": 725.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "9151c5aa.4000e8",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "Change Name",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"name\",\"name\":\" ThingEE\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 209.1001739501953,
        "y": 761.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "15ed7d8b.fb7b22",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "Send msg",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"msg\",\"msg\":\"MyFirstMsge\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 220.1001739501953,
        "y": 792.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "f96866c9.ea6988",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "Clear msg",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"msg\",\"msg\":\"\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 220.1001739501953,
        "y": 832.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "227b9371.7c24cc",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "Send msg object",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"msg\",\"msg\":{\"1\":\"12345678901\",\"2\":\"23456789012\",\"3\":\"34567890123\",\"4\":\"45678901234\",\"5\":\"56789012345\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 200.1001739501953,
        "y": 872.0000133514404,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "36aab9f5.b6fd06",
        "type": "link out",
        "z": "58ae81fe.fc8ae",
        "name": "Test commands",
        "links": [
            "d1135c0.509fea8"
        ],
        "x": 395.1001739501953,
        "y": 532.0000133514404,
        "wires": []
    },
    {
        "id": "a9ff4a55.906218",
        "type": "ui_template",
        "z": "32688592.0a19aa",
        "group": "ae257199.19c84",
        "name": "HTML template",
        "order": 9,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\" >\n<p>The number is</p>\n<p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'green' : 'red'}\">\n  {{(msg.payload || 0) % 2 === 0 ? 'even' : 'odd'}}\n</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 260,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "90a0efdd.d4b44",
        "type": "inject",
        "z": "32688592.0a19aa",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "b12e9a6a.0f15d8"
            ]
        ]
    },
    {
        "id": "b12e9a6a.0f15d8",
        "type": "random",
        "z": "32688592.0a19aa",
        "name": "",
        "low": "1",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "a9ff4a55.906218"
            ]
        ]
    },
    {
        "id": "c598b828.c55838",
        "type": "ui_colour_picker",
        "z": "32688592.0a19aa",
        "name": "",
        "label": "",
        "group": "e87b0972.cfcab8",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showAlpha": false,
        "showLightness": true,
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 510,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b351a6d8.6645f8",
        "type": "comment",
        "z": "32688592.0a19aa",
        "name": "TESTING: not implemented yet",
        "info": "",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "c6d469ad.aeda58",
        "type": "trigger",
        "z": "32688592.0a19aa",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 520,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9e9bfcf1.ec0c4",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "pin #",
        "label": "pin #",
        "place": "pin # ???",
        "group": "857ece11.192e7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "2",
                "value": 2,
                "type": "num"
            },
            {
                "label": "3",
                "value": 3,
                "type": "num"
            },
            {
                "label": "4",
                "value": 4,
                "type": "num"
            },
            {
                "label": "5",
                "value": 5,
                "type": "num"
            },
            {
                "label": "6",
                "value": 6,
                "type": "num"
            },
            {
                "label": "7",
                "value": 7,
                "type": "num"
            },
            {
                "label": "8",
                "value": 8,
                "type": "num"
            },
            {
                "label": "9",
                "value": 9,
                "type": "num"
            },
            {
                "label": "10",
                "value": 10,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "pin",
        "x": 190,
        "y": 190,
        "wires": [
            [
                "ce57e7de.b6e868"
            ]
        ]
    },
    {
        "id": "c725a467.e8c208",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "pin  write state",
        "label": "pin write state",
        "place": "LOW/HIGH ???",
        "group": "857ece11.192e7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "LOW",
                "value": 0,
                "type": "num"
            },
            {
                "label": "HIGH",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "w",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "ce57e7de.b6e868"
            ]
        ]
    },
    {
        "id": "fe9acb63.d2ab38",
        "type": "debug",
        "z": "f95c6e59.5c919",
        "name": "Pin JSON",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "5fc8fbb7.5a0414",
        "type": "ui_button",
        "z": "f95c6e59.5c919",
        "name": "Submit Pin Data",
        "group": "857ece11.192e7",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Submit",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "submit",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "ce57e7de.b6e868"
            ]
        ]
    },
    {
        "id": "48c18a00.134cf8",
        "type": "link out",
        "z": "f95c6e59.5c919",
        "name": "",
        "links": [
            "d1135c0.509fea8"
        ],
        "x": 545,
        "y": 70,
        "wires": []
    },
    {
        "id": "76c189a5.a99648",
        "type": "function",
        "z": "f95c6e59.5c919",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 90,
        "wires": [
            [
                "fe9acb63.d2ab38",
                "48c18a00.134cf8"
            ]
        ]
    },
    {
        "id": "3450a6f7.209e5a",
        "type": "link in",
        "z": "e0c6f6b6.0d5c68",
        "name": "reset",
        "links": [
            "a5cbdf95.32add"
        ],
        "x": 83,
        "y": 340,
        "wires": [
            [
                "a81aab1e.101008"
            ]
        ]
    },
    {
        "id": "1705f151.3ecb8f",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "IO screen toggle",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"scrn_io\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 200,
        "y": 960,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "b730000d.58c6",
        "type": "inject",
        "z": "58ae81fe.fc8ae",
        "name": "pins_write(?? needs payload)",
        "topic": "/HL/Dm_078a87/cmd",
        "payload": "{\"cmd\":\"pins_write\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 160,
        "y": 920,
        "wires": [
            [
                "36aab9f5.b6fd06"
            ]
        ]
    },
    {
        "id": "4be3f0ed.3229",
        "type": "inject",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 110,
        "wires": [
            [
                "8783d77a.950728"
            ]
        ]
    },
    {
        "id": "389f3e53.965722",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "mode",
        "label": "mode",
        "place": "INPUT/OUTPUT/INT/OPENDRAIN ???",
        "group": "857ece11.192e7",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "INPUT",
                "value": 0,
                "type": "num"
            },
            {
                "label": "OUTPUT",
                "value": 1,
                "type": "num"
            },
            {
                "label": "INT",
                "value": 2,
                "type": "num"
            },
            {
                "label": "OPENDRAIN",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "mode",
        "x": 190,
        "y": 290,
        "wires": [
            [
                "ce57e7de.b6e868"
            ]
        ]
    },
    {
        "id": "dfa8ffdb.7cf83",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "pullup",
        "label": "pullup",
        "place": "select pullup? [default  true]",
        "group": "857ece11.192e7",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "float",
                "value": 0,
                "type": "num"
            },
            {
                "label": "pullup",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "pu",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "ce57e7de.b6e868"
            ]
        ]
    },
    {
        "id": "259d1ea3.1fa102",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "pwm",
        "label": "pwm",
        "place": "select pwm?",
        "group": "857ece11.192e7",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "ON",
                "value": true,
                "type": "bool"
            },
            {
                "label": "OFF",
                "value": false,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "pwm",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "ce57e7de.b6e868"
            ]
        ]
    },
    {
        "id": "781ad120.aee6c",
        "type": "ui_switch",
        "z": "e0c6f6b6.0d5c68",
        "name": "pwm p4",
        "label": "pwm p4",
        "group": "41f3f0a9.18b08",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "pwm",
        "style": "",
        "onvalue": "{\"cmd\":\"pwm\",\"pins\":{\"8\":1}}",
        "onvalueType": "json",
        "onicon": "fa-check-square",
        "oncolor": " #48f442",
        "offvalue": "{\"cmd\":\"pins_write\",\"pins\":{\"8\":0}}",
        "offvalueType": "json",
        "officon": "fa-square-o ",
        "offcolor": "#f44256",
        "x": 80,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "1cc00a71.cfa896",
        "type": "ui_slider",
        "z": "e0c6f6b6.0d5c68",
        "name": "duty cycle",
        "label": "",
        "group": "41f3f0a9.18b08",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "duty",
        "min": "0",
        "max": "1024",
        "step": "8",
        "x": 80,
        "y": 690,
        "wires": [
            [
                "963c9408.df1e48"
            ]
        ]
    },
    {
        "id": "627b661a.ab0178",
        "type": "ui_slider",
        "z": "e0c6f6b6.0d5c68",
        "name": "frequency",
        "label": "",
        "group": "41f3f0a9.18b08",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "frequency",
        "min": "0",
        "max": "1000",
        "step": 1,
        "x": 80,
        "y": 740,
        "wires": [
            [
                "8061b4fd.4aa5c8"
            ]
        ]
    },
    {
        "id": "8061b4fd.4aa5c8",
        "type": "ui_text",
        "z": "e0c6f6b6.0d5c68",
        "group": "41f3f0a9.18b08",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "frequency display",
        "label": "frequency",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 290,
        "y": 740,
        "wires": []
    },
    {
        "id": "87ea87f6.0a7c28",
        "type": "ui_text",
        "z": "e0c6f6b6.0d5c68",
        "group": "6bf64492.b29f0c",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "t_cal display",
        "label": "temp.calibrate",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 440,
        "y": 70,
        "wires": []
    },
    {
        "id": "963c9408.df1e48",
        "type": "ui_text",
        "z": "e0c6f6b6.0d5c68",
        "group": "41f3f0a9.18b08",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "duty cycle display",
        "label": "duty cycle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 280.13330078125,
        "y": 690.333251953125,
        "wires": []
    },
    {
        "id": "6102fefa.9d6f8",
        "type": "ui_slider",
        "z": "f95c6e59.5c919",
        "name": "duty cycle",
        "label": "",
        "group": "857ece11.192e7",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "duty",
        "min": "0",
        "max": "1024",
        "step": "8",
        "x": 180,
        "y": 490,
        "wires": [
            [
                "d74285f8.afcf18",
                "ce57e7de.b6e868"
            ]
        ]
    },
    {
        "id": "d49af70e.0ba928",
        "type": "ui_slider",
        "z": "f95c6e59.5c919",
        "name": "frequency",
        "label": "",
        "group": "857ece11.192e7",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "frequency",
        "min": "0",
        "max": "1000",
        "step": 1,
        "x": 180,
        "y": 540,
        "wires": [
            [
                "f790b3ed.1ed97",
                "ce57e7de.b6e868"
            ]
        ]
    },
    {
        "id": "f790b3ed.1ed97",
        "type": "ui_text",
        "z": "f95c6e59.5c919",
        "group": "857ece11.192e7",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "frequency display",
        "label": "frequency",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 460,
        "y": 540,
        "wires": []
    },
    {
        "id": "d74285f8.afcf18",
        "type": "ui_text",
        "z": "f95c6e59.5c919",
        "group": "857ece11.192e7",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "duty cycle display",
        "label": "duty cycle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 460,
        "y": 490,
        "wires": []
    },
    {
        "id": "266b86ec.3824ba",
        "type": "link in",
        "z": "cae895a0.8ab828",
        "name": "CONFIGURATION",
        "links": [
            "f2eff67f.c44e58"
        ],
        "x": 605,
        "y": 60,
        "wires": [
            [
                "70541816.25e608"
            ]
        ]
    },
    {
        "id": "f2eff67f.c44e58",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "CONFIGURATION",
        "links": [
            "266b86ec.3824ba",
            "d060982b.8cfe98"
        ],
        "x": 1125,
        "y": 270,
        "wires": []
    },
    {
        "id": "3e10bf56.b8b77",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "ae257199.19c84",
        "name": "Instance Name 4",
        "order": 6,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.name}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1170,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "a9432185.b9f85",
        "type": "debug",
        "z": "f95c6e59.5c919",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "ce57e7de.b6e868",
        "type": "function",
        "z": "f95c6e59.5c919",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 280,
        "wires": [
            [
                "a9432185.b9f85"
            ]
        ]
    },
    {
        "id": "18f722a5.0004dd",
        "type": "ui_dropdown",
        "z": "f95c6e59.5c919",
        "name": "trigger",
        "label": "trigger",
        "place": "select type of trigger",
        "group": "857ece11.192e7",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "up",
                "value": 0,
                "type": "num"
            },
            {
                "label": "down",
                "value": 1,
                "type": "num"
            },
            {
                "label": "both",
                "value": 2,
                "type": "num"
            },
            {
                "label": "low",
                "value": 3,
                "type": "num"
            },
            {
                "label": "high",
                "value": 4,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "t",
        "x": 190,
        "y": 390,
        "wires": [
            [
                "ce57e7de.b6e868"
            ]
        ]
    },
    {
        "id": "c87b2075.fa3c6",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "RECORDING",
        "links": [
            "de8ec3f8.cf1a1"
        ],
        "x": 1155,
        "y": 540,
        "wires": []
    },
    {
        "id": "68c2e294.59acbc",
        "type": "sqlite",
        "z": "b2d96b1.0f3be98",
        "mydb": "52975e20.0f289",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "TARDIS",
        "x": 810,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d060982b.8cfe98",
        "type": "link in",
        "z": "b2d96b1.0f3be98",
        "name": "SQL config",
        "links": [
            "f2eff67f.c44e58"
        ],
        "x": 415,
        "y": 200,
        "wires": [
            [
                "48a032a.7d5f4cc"
            ]
        ]
    },
    {
        "id": "de8ec3f8.cf1a1",
        "type": "link in",
        "z": "b2d96b1.0f3be98",
        "name": "SQL data",
        "links": [
            "c87b2075.fa3c6"
        ],
        "x": 415,
        "y": 280,
        "wires": [
            [
                "82f7f061.c6514"
            ]
        ]
    },
    {
        "id": "48a032a.7d5f4cc",
        "type": "function",
        "z": "b2d96b1.0f3be98",
        "name": "Configuration",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 200,
        "wires": [
            [
                "68c2e294.59acbc"
            ]
        ]
    },
    {
        "id": "82f7f061.c6514",
        "type": "function",
        "z": "b2d96b1.0f3be98",
        "name": "Recording",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 280,
        "wires": [
            [
                "68c2e294.59acbc"
            ]
        ]
    },
    {
        "id": "b9b3f548.4fa638",
        "type": "function",
        "z": "e0c6f6b6.0d5c68",
        "name": "topic = cmd",
        "func": "msg.topic = \"/HL/\" + global.get('activeNode') + \"/cmd\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 130,
        "wires": [
            [
                "ab4e9788.ced9c8",
                "6ac3d179.9787"
            ]
        ]
    },
    {
        "id": "ab4e9788.ced9c8",
        "type": "mqtt out",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "a4bd0da.b2f13f",
        "x": 840,
        "y": 130,
        "wires": []
    },
    {
        "id": "6ac3d179.9787",
        "type": "debug",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 90,
        "wires": []
    },
    {
        "id": "e69e5b90.280ee8",
        "type": "comment",
        "z": "e0c6f6b6.0d5c68",
        "name": "activeNode selection",
        "info": "",
        "x": 110,
        "y": 800,
        "wires": []
    },
    {
        "id": "d007d18b.f018c",
        "type": "inject",
        "z": "cae895a0.8ab828",
        "name": "inject TEST 2 partial JSON object",
        "topic": "",
        "payload": "[\"Dm_078a86\",{\"tmpr\":72,\"s_io\":true,\"mqtt\":true}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "70541816.25e608",
                "26cb6cde.3770f4"
            ]
        ]
    },
    {
        "id": "4de71002.4fde2",
        "type": "inject",
        "z": "cae895a0.8ab828",
        "name": "inject TEST 1 partial JSON object",
        "topic": "",
        "payload": "[\"Dm_078a85\",{\"tmpr\":72,\"s_io\":true,\"mqtt\":true}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 230,
        "wires": [
            [
                "70541816.25e608",
                "26cb6cde.3770f4"
            ]
        ]
    },
    {
        "id": "ae641d6f.9a799",
        "type": "inject",
        "z": "cae895a0.8ab828",
        "name": "inject TEST 1 full JSON object",
        "topic": "",
        "payload": "[\"Dm_078a85\",{\"tmpr\":0,\"s_io\":false,\"mqtt\":false,\"heap_min\":4000,\"flashid\":1458415,\"flashsize\":4194304,\"heap\":12976,\"pins\":9,\"chipid\":494215,\"ID\":\"Dm_078a87\",\"LED\":4,\"type\":\"Dm\",\"t_cal\":0,\"name\":\" TEST 1\",\"ap_mac\":\"62:01:94:07:8a:87\",\"bootreason_extnd\":3,\"ip\":\"192.168.1.145\",\"sta_mac\":\"60:01:94:07:8a:87\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 190,
        "wires": [
            [
                "70541816.25e608",
                "26cb6cde.3770f4"
            ]
        ]
    },
    {
        "id": "b7f58d69.ed362",
        "type": "link out",
        "z": "e0c6f6b6.0d5c68",
        "name": "PINS",
        "links": [
            "8e35a994.f4baa8",
            "7fad08d5.65ecd8"
        ],
        "x": 915,
        "y": 540,
        "wires": []
    },
    {
        "id": "7fad08d5.65ecd8",
        "type": "link in",
        "z": "cae895a0.8ab828",
        "name": "",
        "links": [
            "a5cbdf95.32add",
            "b7f58d69.ed362"
        ],
        "x": 655,
        "y": 300,
        "wires": [
            [
                "3a537772.082828"
            ]
        ]
    },
    {
        "id": "3a537772.082828",
        "type": "function",
        "z": "cae895a0.8ab828",
        "name": "update global k9-node-pins Object",
        "func": "\nvar local    = global.get('k9-node-pins') || {};\nvar myname   = msg.topic.split(\"/\") || \"error\";\nmyname = myname[2]\nvar myobject = msg.payload || {\"error\":\"not found\"};\n\n\n\nif (msg.reset === true) local = {}\n    else {\n        if (typeof local[myname] === \"undefined\" ) local[myname] = {};\n        for (var y in myobject)\n                local[myname][y] = myobject[y]; \n    }\nglobal.set('k9-node-pins',local)\n    \n// count number of K9 nodes\nvar count = 0;\nfor (var x in local) ++count;\nglobal.set('k9-node-pins-count',count);\nsColor = \"red\";\nsFill = 'ring'\nif (count > 0) {\n    sColor = \"green\";sFill = 'dot';\n    }\nnode.status({shape:sFill,fill:sColor,text:\"K9-node-pins\" + \" | \" + count});\n\nmsg.id = myname\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 300,
        "wires": [
            [
                "86a7a174.c7f2e"
            ]
        ]
    },
    {
        "id": "86a7a174.c7f2e",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "9cf22ad5.af9e78",
        "name": "Instance PIN",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.id}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1150,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "26cb6cde.3770f4",
        "type": "link out",
        "z": "cae895a0.8ab828",
        "name": "test device update",
        "links": [
            "9be733b0.94fd6"
        ],
        "x": 485,
        "y": 250,
        "wires": []
    },
    {
        "id": "9be733b0.94fd6",
        "type": "link in",
        "z": "e0c6f6b6.0d5c68",
        "name": "",
        "links": [
            "26cb6cde.3770f4"
        ],
        "x": 1225,
        "y": 280,
        "wires": [
            [
                "386b73c3.aaf41c"
            ]
        ]
    },
    {
        "id": "67317113.3c897",
        "type": "ui_dropdown",
        "z": "cae895a0.8ab828",
        "name": "",
        "label": "rick_admin",
        "place": "?",
        "group": "6bf64492.b29f0c",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "ID",
        "x": 670,
        "y": 410,
        "wires": [
            [
                "3d09f36d.0d89cc"
            ]
        ]
    },
    {
        "id": "3d09f36d.0d89cc",
        "type": "function",
        "z": "cae895a0.8ab828",
        "name": "select device for flow context",
        "func": "var activeNode = \"activeNode:\" + msg.payload;\nnode.status({text:activeNode});\nglobal.set('activeNode', msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 410,
        "wires": [
            [
                "1bf6ae99.c49751",
                "9d53568a.32d238",
                "57777ce5.ead814",
                "e37010bb.cead2",
                "b1dd61b4.aa282"
            ]
        ]
    },
    {
        "id": "1bf6ae99.c49751",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "6bf64492.b29f0c",
        "name": "Device Selection 1",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.payload}}</h3>\n    <h3 align = center>{{global.get('device')}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1170,
        "y": 410,
        "wires": [
            []
        ]
    },
    {
        "id": "9d53568a.32d238",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "857ece11.192e7",
        "name": "Device Selection 2",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.payload}}</h3>\n    <h3 align = center>{{global.get('device')}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1170,
        "y": 450,
        "wires": [
            []
        ]
    },
    {
        "id": "57777ce5.ead814",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "ae257199.19c84",
        "name": "Device Selection 3",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.payload}}</h3>\n    <h3 align = center>{{global.get('device')}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1170,
        "y": 490,
        "wires": [
            []
        ]
    },
    {
        "id": "dcffde3a.e762f",
        "type": "inject",
        "z": "cae895a0.8ab828",
        "name": "activeNode choices",
        "topic": "rick_admin",
        "payload": "[{\"Thingee1\":\"D1m_078a87\"},{\"Thingee2\":\"D1m_d0fbc3\"},{\"Thingee3\":\"D1m_078a87\"}]",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 410,
        "wires": [
            [
                "22d064aa.af3e0c"
            ]
        ]
    },
    {
        "id": "e37010bb.cead2",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "b5372e87.bef79",
        "name": "Device Selection 4",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.payload}}</h3>\n    <h3 align = center>{{global.get('device')}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1170,
        "y": 530,
        "wires": [
            []
        ]
    },
    {
        "id": "b1dd61b4.aa282",
        "type": "ui_template",
        "z": "cae895a0.8ab828",
        "group": "41f3f0a9.18b08",
        "name": "Device Selection 5",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div>\n    <span style=\"color:LightBlue\">\n    <h3 align = center>{{msg.payload}}</h3>\n    <h3 align = center>{{global.get('device')}}</h3>\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1170,
        "y": 570,
        "wires": [
            []
        ]
    },
    {
        "id": "22d064aa.af3e0c",
        "type": "json",
        "z": "cae895a0.8ab828",
        "name": "",
        "property": "options",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 410,
        "wires": [
            [
                "14eb61a1.59ac0e"
            ]
        ]
    },
    {
        "id": "14eb61a1.59ac0e",
        "type": "debug",
        "z": "cae895a0.8ab828",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 500,
        "wires": []
    }
]